<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<link href="images/reset.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
		<link href="images/system.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
		<link href="images/table_form.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
		<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js?v={yun:}$config.cachecode{/yun}"></script>
		<script src="js/admin_public.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
		<script src="{yun:}$config.sy_weburl{/yun}/js/ueditor/ueditor.config.js?v={yun:}$config.cachecode{/yun}"></script>
		<script src="{yun:}$config.sy_weburl{/yun}/js/ueditor/ueditor.all.min.js?v={yun:}$config.cachecode{/yun}"></script>
		<link href="{yun:}$config.sy_weburl{/yun}/js/layui/css/layui.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet">
		<script src="{yun:}$config.sy_weburl{/yun}/js/layui/layui.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
		<script src="{yun:}$config.sy_weburl{/yun}/js/layui/phpyun_layer.js?v={yun:}$config.cachecode{/yun}"></script>

		<title>后台管理</title>
	</head>

	<body class="body_ifm">
		<div class="infoboxp">
			<div class="tty-tishi_top">
			
				<div class="tabs_info">
					<ul>
						<li class="curr">基本资料</li>
						<li>账户信息</li>
					</ul>
				</div>
				<div class="admin_new_tip">
					<a href="javascript:;" class="admin_new_tip_close"></a>
					<a href="javascript:;" class="admin_new_tip_open" style="display:none;"></a>
					<div class="admin_new_tit"><i class="admin_new_tit_icon"></i>操作提示</div>
					<div class="admin_new_tip_list_cont">
						<div class="admin_new_tip_list">该页面展示了网站所有的培训会员信息，可对培训会员信息进行修改操作。</div>
						<div class="admin_new_tip_list"> <span class="admin_new_comsj">
								{yun:}if is_array($com_info){/yun}
								登录次数：
								{yun:}$com_info.login_hits{/yun} <font color="gray"></font>
								{yun:}/if{/yun} </span> <span class="admin_new_comsj"> {yun:}if
								is_array($com_info){/yun}注册IP：{yun:}$com_info.reg_ip{/yun} <font color="gray"></font>
								</td>
								{yun:}/if{/yun} </span>
							<span class="admin_new_comsj"> {yun:}if is_array($com_info){/yun}登录IP：
								{yun:}$com_info.login_ip{/yun} <font color="gray"></font>
								{yun:}/if{/yun} </span>
							<span class="admin_new_comsj"> {yun:}if is_array($com_info){/yun}
								注册时间：{yun:}$com_info.reg_date|date_format:'%Y-%m-%d'{/yun} <font color="gray"></font>
								{yun:}/if{/yun} </span>
							<span class="admin_new_comsj"> {yun:}if
								is_array($com_info){/yun}最近登录时间：{yun:}$com_info.login_date|date_format:'%Y-%m-%d'{/yun} <font color="gray"></font>
								{yun:}/if{/yun} </span>
						</div>
					</div>
				</div>

				<div class="clear"></div>


				<div class="con_form">
					
					<iframe id="supportiframe" name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>
					<form class="layui-form" name="myform" target="supportiframe" action="index.php?m=train_member&c=edit" method="post" onsubmit="return cktrain()">

						<table width="100%" class="table_form" style="background:#fff;">
							<tr class="admin_table_trbg">
								<th>机构全称：</th>
								<td>
									<input type="text" value="{yun:}$row.name{/yun}" size="45" name="name" class="layui-input t_w480" placeholder="请输入机构全称">
									<font color="gray"></font>
								</td>
							</tr>
						
							<tr>
								<th>培训方向：</th>
								<td>
									<div class="layui-input-block">
										<div class="layui-input-inline">
											<select name="sid" id="sid" lay-filter="sid">
												<option>请选择</option>
												{yun:}foreach from=$subject_index item=v{/yun}
												<option value="{yun:}$v{/yun}" {yun:}if $row.sid==$v{/yun} selected {yun:}/if{/yun}> {yun:}$subject_name[$v]{/yun} </option>
												{yun:}/foreach{/yun}
											</select>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<th>机构性质：</th>
								<td>
									<div class="layui-input-block">
										<div class="layui-input-inline">
											<select name="pr" lay-filter="" id="pr">
												<option>请选择</option>
												{yun:}foreach from=$comdata.job_pr item=v key=j{/yun}
												<option value="{yun:}$v{/yun}" {yun:}if $row.pr==$v{/yun} selected  {yun:}/if{/yun}> {yun:}$comclass_name[$v]{/yun} </option>
												{yun:}/foreach{/yun}
											</select>
										</div>
									</div>
								</td>
							</tr>
							<tr class="admin_table_trbg">
								<th>机构规模：</th>
								<td>
									<div class="layui-input-block">
										<div class="layui-input-inline">
											<select name="mun" lay-filter="" id="mun">
												<option>请选择</option>
												{yun:}foreach from=$comdata.job_mun item=v key=j{/yun}
												<option value="{yun:}$v{/yun}" {yun:}if $row.mun==$v{/yun} selected {yun:}/if{/yun}>{yun:}$comclass_name[$v]{/yun}</option>
												{yun:}/foreach{/yun}
											</select>
										</div>
									</div>
									
								</td>
							</tr>
							<tr>
								<th>机构地址：</th>
								<td>
									<div class="layui-input-inline" style="width: 157px;">
										<select name="provinceid" id="provinceid" lay-filter="citys">
											<option value="">请选择</option>
											{yun:}foreach from=$city_index key=j item=v{/yun}
											<option value="{yun:}$v{/yun}" {yun:}if $row.provinceid==$v{/yun} selected{yun:}/if{/yun}>{yun:}$city_name[$v]{/yun}
											</option>
											{yun:}/foreach{/yun}
										</select>
									</div>
					
									<div class="layui-input-inline" style="width: 157px;">
										<select name="cityid" lay-filter="citys" id="cityid">
											<option value="">请选择</option>
											{yun:}foreach from=$city_type[$row.provinceid] key=j item=v{/yun}
											<option value="{yun:}$v{/yun}" {yun:}if $row.cityid==$v{/yun} selected{yun:}/if{/yun}>{yun:}$city_name[$v]{/yun}
											</option>
											{yun:}/foreach{/yun}
										</select>
									</div>
									<div class="layui-input-inline" style="width: 157px;">
										<select name="threecityid" lay-filter="threecityid" id="three_cityid">
											<option value="">请选择</option>
											{yun:}foreach from=$city_type[$row.cityid] key=j item=v{/yun}
											<option value="{yun:}$v{/yun}" {yun:}if $row.threecityid==$v{/yun} selected{yun:}/if{/yun}>{yun:}$city_name[$v]{/yun}
											</option>
											{yun:}/foreach{/yun}
										</select>
									</div>
								</td>
							</tr>
							<tr>
								<th>机构地址：</th>
								<td><input type="text" name="address" size="45" class="layui-input t_w480" value="{yun:}$row.address{/yun}"  placeholder="请输入机构地址"/></td>
							</tr>
							<tr>
								<th>联系人：</th>
								<td><input type="text" name="linkman" size="15" class="layui-input t_w480" value="{yun:}$row.linkman{/yun}"  placeholder="请输入联系人"/></td>
							</tr>
							<tr>
								<th>手机号码：</th>
								<td><input type="text" value="{yun:}$com_info.moblie{/yun}" id="mobile" name="moblie" class="layui-input t_w480"  placeholder="请输入手机号码"/>
									<font color="gray"></font>
								</td>
						
							</tr>
							<tr class="admin_table_trbg">
								<th>E-mail：</th>
								<td><input type="text" value="{yun:}$com_info.email{/yun}" id="email" name="email" class="layui-input t_w480" placeholder="请输入E-mail"/>
									<font color="gray"></font>
								</td>
						
							</tr>
							<tr>
								<th>联系电话：</th>
								<td><input type="text" name="linkphone" class="layui-input t_w480" size="15" value="{yun:}$row.linkphone{/yun}"
									 onKeyUp="this.value=this.value.replace(/[^0-9-]/g,'')"  placeholder="请输入联系电话"/></td>
							</tr>
							<tr class="admin_table_trbg">
								<th>联 系 QQ：</th>
								<td><input type="text" name="linkqq" size="15" class="layui-input t_w480" value="{yun:}$row.linkqq{/yun}" onKeyUp="this.value=this.value.replace(/[^0-9-]/g,'')"  placeholder="请输入联系QQ"/></td>
							</tr>
						
							<tr>
								<th>成立时间：</th>
								<td>
									<div class="layui-inline t_w480">
										<input id="sdate" name="sdate" class="layui-input " type="text" readonly size="15" value="{yun:}$row.sdate{/yun}" lay-key="1"  placeholder="成了时间">
										<i class="t_icon_time"></i>
									</div>
								</td>
							</tr>
							<tr>
								<th>机构网址：</th>
								<td><input type="text" name="website" size="45" class="layui-input t_w480" value="{yun:}$row.website{/yun}" onKeyUp="this.value=this.value.replace(/[^0-9-a-zA-Z.:/?=_]/g,'')"  placeholder="请输入机构网址"/></td>
							</tr>
							<tr class="admin_table_trbg">
								<th class="t_fr">企业简介：</th>
								<td colspan="3">
									<script id="myEditor" name="content" type="text/plain" style="width:480px;height:180px;">{yun:}$row.content{/yun}</script>
								</td>
							</tr>
							
							<tr class="admin_table_trbg">
								<th width="140"></th>
								<td>
									<input type="hidden"  name="pytoken" value="{yun:}$pytoken{/yun}">
									<input type="hidden" name="uid" value="{yun:}$com_info.uid{/yun}" />
									<input class="tty_sub" type="submit" name="submit" value="&nbsp;修 改&nbsp;" />
									<input class="tty_cz" type="reset" name="reset" value="&nbsp;重 置 &nbsp;" />
								</td>
							</tr>
						</table>
					</form>
					
					<form class="layui-form" name="myform" target="supportiframe" action="index.php?m=train_member&c=saveUser" method="post" onsubmit="return ckTuser()" style="display: none;">
						<table width="100%" class="table_form table_form_thr" style="background:#fff;">
							<tr>
								<th width="140">用户名：</th>
								<td>
									<div class="layui-input-inline t_w480">
										<input type="text" value="{yun:}$com_info.username{/yun}" name="username" id="username" class="layui-input" placeholder="请输入修改用户名">
									</div>
								</td>
							</tr>
							<tr>
								<th width="140">登录密码：</th>
								<td width="100%">
									<div class="layui-input-inline t_w480">
										<input type="password" value="" name="password" class="layui-input" placeholder="请输入密码">
									</div>
									<span class="admin_web_tip">不修改请留空</span>
								</td>
							</tr>

							<tr>
								<th>状态：</th>
								<td colspan="3">
									<div class="layui-input-block">
										<div class="admin_examine_right" style="width:500px;">
											<input lay-filter="status" name="status" {yun:}if $com_info.status=='1' {/yun}checked{yun:}/if{/yun} value="1" title="正常" type="radio" />
											<input lay-filter="status" name="status" {yun:}if $com_info.status=='2' {/yun}checked{yun:}/if{/yun} value="2" title="锁定" type="radio" />
										</div>
									</div>
								</td>
							</tr>
							<tr id="lock_info" {yun:}if $com_info.status!='2' {/yun}style="display:none"{yun:}/if{/yun}> 
								<th>锁定说明：</th>
								<td colspan="3">
									<textarea name="lock_info" id="lockinfo" cols="70" rows="2" class="admin_comdit_textarea">{yun:}$com_info.lock_info{/yun}</textarea>
								</td>
							</tr>
									
							<tr>
								<th></th>
								<td colspan="3">
									<input type="hidden"  name="pytoken" value="{yun:}$pytoken{/yun}">
									<input type="hidden" name="uid" value="{yun:}$com_info.uid{/yun}" />
									<input class="layui-btn tty_sub" type="submit" name="submit" value="&nbsp;修 改&nbsp;" />
									<input class="layui-btn tty_cz" type="reset" name="reset" value="&nbsp;重 置 &nbsp;" />
								</td>
							</tr>
						</table>
					</form>
					
				</div>
			</div>
		</div>

		<script language="javascript">
			
			var weburl="{yun:}$config.sy_weburl{/yun}";
			
			function cktrain(){
				var email=$("#email").val(); 
				var mobile=$("#mobile").val(); 
				 
				if(email&&check_email(email)==false){
					layer.msg('邮箱格式错误！',2,8);return false;
				}  
				if(mobile&&isjsMobile(mobile)==false){
					layer.msg('手机格式错误！',2,8);return false;
				}
				loadlayer();
			}

			function ckTuser() {
				
				var username	=	$('#username').val();
				if(username == ''){
					layer.msg('请填写用户名！', 2, 8);
					return false;
				}

				var status	=	$("input[name=status]:checked").val(),
					lockInfo=	$("#lockinfo").val();
				if(status == '2' && lockInfo == ''){
					layer.msg('请填写锁定说明！', 2, 8);
					return false;
				}
				loadlayer();
			}

			var form, url = weburl + "/index.php?m=ajax&c=get_city_option";

			layui.use(['layer', 'form', 'laydate'], function() {
				var form = layui.form
					,laydate = layui.laydate
					,$ = layui.$;

				laydate.render({
					elem: '#sdate'
				});
				form.on('radio(status)', function(data) {
					if (data.value == 2) {
						$("#lock_info").show();
					} else {
						$("#lock_info").hide();
					}
				});
			}); 

			UE.getEditor('myEditor', {
				toolbars: [
					['Bold', 'italic', 'underline', 'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright',
						'insertorderedlist', 'insertunorderedlist'
					]
				],
				wordCount: false,
				elementPathEnabled: false,
				initialFrameHeight: 180
			});
		</script>
				

		<script type="text/javascript">
			
			var ah2 = $(".tabs_info li")
			var ap = $(".con_form form")
			
			for (var i = 0; i < ah2.length; i++) {
			    ah2[i].index = i;
				
			    ah2[i].onclick = function () {
			        for (var j = 0; j < ap.length; j++) {
			            ap[j].style.display = "none"
			        }
			        ap[this.index].style.display = "block";
			    }
			}
			ah2.each(function(){
				
				$(this).click(function(){
					ah2.removeClass("curr")
					$(this).addClass("curr")
				})
			})
			
		</script>
		<script language=javascript src='{yun:}$config.sy_weburl{/yun}/data/plus/city.cache.js?v={yun:}$config.cachecode{/yun}'></script>
		<script language=javascript src='{yun:}$config.sy_weburl{/yun}/js/city.js?v={yun:}$config.cachecode{/yun}'></script>
	</body>
</html>
