<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<link href="images/reset.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
		<link href="images/system.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
		<link href="images/table_form.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
		<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js?v={yun:}$config.cachecode{/yun}"></script>
		<script src="js/admin_public.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
		<script>var weburl = '{yun:}$config.sy_weburl{/yun}';</script>
		<link href="{yun:}$config.sy_weburl{/yun}/js/layui/css/layui.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
		<script src="{yun:}$config.sy_weburl{/yun}/js/layui/layui.js?v={yun:}$config.cachecode{/yun}"></script>
		<script src="{yun:}$config.sy_weburl{/yun}/js/layui/phpyun_layer.js?v={yun:}$config.cachecode{/yun}"></script>
		<title>后台管理</title>
	</head>
	<body class="body_ifm">
		<div class="infoboxp">
			<div class="tabs_info">
				<ul>
					<li>
						<a href="index.php?m=admin_xjhlive&c=caster&id={yun:}$smarty.get.id{/yun}">导播服务</a>
					</li>
					<li class="curr">导播素材</li>
					<li>
						<a href="index.php?m=admin_xjhlive&c=addMaterial&id={yun:}$smarty.get.id{/yun}">添加导播素材</a>
					</li>
				</ul>
			</div>
			<div class="clear"></div>
			<iframe id="supportiframe" name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>
			<form id="myform" action="index.php?m=admin_xjhlive&c=delMaterial" method="post" target="supportiframe">
				<table class="table-list">
					<thead>
						<tr>
							<th></th>
							<th align="left">名称</th>
							<th align="left">上传时间</th>
							<th align="left">操作</th>
						</tr>
					</thead>
					<tbody>
						{yun:}foreach from=$list item=v{/yun}
						<tr>
							<td align="center"><input type="checkbox" value="{yun:}$v.id{/yun}" name='del[]' onclick='unselectall()' rel="del_chk" /></td>
							
							<td align="left">{yun:}$v.name{/yun}</td>
							<td align="left">{yun:}$v.ctime|date_format:"%Y-%m-%d %H:%d"{/yun}</td>

							<td align="left">
								<a href="index.php?m=admin_xjhlive&c=addMaterial&id={yun:}$v.xid{/yun}&mid={yun:}$v.id{/yun}" class="admin_new_c_bth admin_n_sc">修改</a>
								<a href="javascript:void(0)" onclick="layer_del('确定要删除？', 'index.php?m=admin_xjhlive&c=delMaterial&id={yun:}$v.id{/yun}');" class="admin_new_c_bth admin_new_c_bth_sc mt5">删除</a>
								{yun:}if $v.video{/yun}
									{yun:}if $v.startvideo == 1{/yun}
									<a href="javascript:void(0)" onClick="setVideo('{yun:}$v.id{/yun}','{yun:}$v.xid{/yun}', 2)" class="admin_new_c_bth admin_new_c_bth_pp mt5" style="width: 80px;">取消暖场视频</a>
									{yun:}else{/yun}
									<a href="javascript:void(0)" onClick="setVideo('{yun:}$v.id{/yun}','{yun:}$v.xid{/yun}', 1)" class="admin_new_c_bth admin_new_c_bth_pp mt5" style="width: 80px;">设为暖场视频</a>
									{yun:}/if{/yun}
								{yun:}/if{/yun}
							</td>
						</tr>
						{yun:}/foreach{/yun}
						<tr>
							<td align="center"><input type="checkbox" id='chkAll2' onclick='CheckAll2(this.form)' /></td>
							<td colspan="3">
								<label for="chkAll2">全选</label>&nbsp;
								<input type="button" name="delsub" class="admin_button" value="删除所选" onclick="return really('del[]');">
							</td>
						</tr>
					</tbody>
				</table>
				<input type="hidden" name="pytoken" id='pytoken' value="{yun:}$pytoken{/yun}">
			</form>
		</div>
		<script language="javascript">
			
			function setVideo(id, xid, state){
				loadlayer();
				var pytoken = $('#pytoken').val();
				$.post('index.php?m=admin_xjhlive&c=setVideo', {id: id, xid: xid, state: state, pytoken: pytoken}, function(data){
					parent.layer.closeAll();
					if(data){
						var res = JSON.parse(data);
						parent.layer.msg(res.msg, 2,res.st, function(){
							if(res.st == 9){
								window.location.reload();
							}
						});
					}
				})
			}
		</script>
	</body>
</html>
