<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <link href="{yun:}$config.sy_weburl{/yun}/js/layui/css/layui.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css"/>
    <link href="images/reset.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css"/>
    <link href="images/system.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css"/>
    <link href="images/table_form.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css"/>
    <link href="images/workspace.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css"/>

    <script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js?v={yun:}$config.cachecode{/yun}"></script>
    <script type="text/javascript" src="js/admin_public.js?v={yun:}$config.cachecode{/yun}"></script>
    <script type="text/javascript" src="js/crm.js?v={yun:}$config.cachecode{/yun}"></script>
    <script type="text/javascript" src="js/show_pub.js?v={yun:}$config.cachecode{/yun}"></script>
    <script src="{yun:}$config.sy_weburl{/yun}/js/layui/layui.js?v={yun:}$config.cachecode{/yun}"></script>
    <script src="{yun:}$config.sy_weburl{/yun}/js/layui/phpyun_layer.js?v={yun:}$config.cachecode{/yun}"></script>

    <title>后台管理</title>

    <style>
        .admin_new_c_bth {
            width: 50px !important;
        }
    </style>
</head>

<body class="body_ifm">
<div class="infoboxp">

    <div class="tty-tishi_top">

        <div class="tabs_info">
            <ul>
                <li {yun:}if !$smarty.get.kh{/yun}class="curr"{yun:}/if{/yun}><a href="index.php?m=crm_customer&self=1">全部客户</a></li>
                <li {yun:}if $smarty.get.kh == 1{/yun}class="curr"{yun:}/if{/yun}><a href="index.php?m=crm_customer&self=1&kh=1">联系中的客户</a></li>
                <li {yun:}if $smarty.get.kh == 2{/yun}class="curr"{yun:}/if{/yun}><a href="index.php?m=crm_customer&self=1&kh=2">今日已跟进</a></li>
                <li {yun:}if $smarty.get.kh == 3{/yun}class="curr"{yun:}/if{/yun}><a href="index.php?m=crm_customer&self=1&kh=3">30天未跟进</a></li>
                <li {yun:}if $smarty.get.kh == 4{/yun}class="curr"{yun:}/if{/yun}><a href="index.php?m=crm_customer&self=1&kh=4">从未跟进</a></li>
                <li {yun:}if $smarty.get.kh == 5{/yun}class="curr"{yun:}/if{/yun}><a href="index.php?m=crm_customer&self=1&kh=5">15天内到期</a></li>
                <li {yun:}if $smarty.get.kh == 6{/yun}class="curr"{yun:}/if{/yun}><a href="index.php?m=crm_customer&self=1&kh=6">登录客户</a></li>
            </ul>
        </div>

        <div class="admin_new_tip" style="margin-bottom:10px;">
            <a href="javascript:;" class="admin_new_tip_close"></a>
            <a href="javascript:;" class="admin_new_tip_open" style="display:none;"></a>
            <div class="admin_new_tit"><i class="admin_new_tit_icon"></i>温馨提示</div>
            <div class="admin_new_tip_list_cont">
                <div class="admin_new_tip_list">您当前拥有 <font color='red' class="ajaxcompanyall">0</font> 位客户</div>
                <div id="ajaxHtml" class="admin_new_tip_list"></div>
            </div>
        </div>

        <div class="clear"></div>

        <form action="index.php" name="myform" method="get" class='layui-form layui-form-pane'>

            <input type="hidden" name="m" value="crm_customer"/>
            <input type="hidden" name="self" value="1"/>
            <input type="hidden" name="kh" value="{yun:}$smarty.get.kh{/yun}"/>

            <div class="layui-form-item">
                <div class="layui-input-inline t_w150">
                    <select name="crmType" id="crmType" lay-verify="">
                        <option value="">客户等级</option>
                        {yun:}foreach from = $crmType item=type{/yun}
                        <option value="{yun:}$type{/yun}" {yun:}if $smarty.get.crmType==$type{/yun}selected{yun:}/if{/yun}>{yun:}$crmClassName[$type]{/yun}</option>
                        {yun:}/foreach{/yun}
                    </select>
                </div>

                <div class="layui-input-inline t_w150">
                    <select name="crm_status" id="crm_status" lay-verify="">
                        <option value="">客户状态</option>
                        {yun:}foreach from = $crmStatus item=cStatus{/yun}
                        <option value="{yun:}$cStatus{/yun}" {yun:}if $smarty.get.crm_status==$cStatus{/yun}selected{yun:}/if{/yun}>{yun:}$crmClassName[$cStatus]{/yun}</option>
                        {yun:}/foreach{/yun}
                    </select>
                </div>
                <div class="layui-input-inline t_w150">
                    <select name="rating" id="rating" lay-verify="">
                        <option value="">会员套餐类型</option>
                        {yun:}foreach from = $ratingArr item = rating{/yun}
                        <option value="{yun:}$rating.id{/yun}" {yun:}if $smarty.get.rating==$rating.id{/yun}selected{yun:}/if{/yun}>{yun:}$rating.name{/yun}</option>
                        {yun:}/foreach{/yun}
                    </select>
                </div>
                <div class="layui-input-inline t_w150" style="{yun:}if $smarty.get.kh == 5 {/yun}display: none;{yun:}/if{/yun}">
                    <select name="vipetime" id="vipetime" lay-verify="">
                        <option value="">套餐到期时间</option>
                        {yun:}foreach from = $vipEtime key=key item = etime{/yun}
                        <option value="{yun:}$key{/yun}" {yun:}if $smarty.get.vipetime==$key{/yun}selected{yun:}/if{/yun}>{yun:}$etime{/yun}</option>
                        {yun:}/foreach{/yun}
                    </select>
                </div>
                <div class="layui-input-inline t_w150">
                    <select name="yyzz_status" id="yyzz_status" lay-verify="">
                        <option value="">资质认证状态</option>
                        {yun:}foreach from = $yyzzStatus key=key item = yyzz{/yun}
                        <option value="{yun:}$key{/yun}" {yun:}if $smarty.get.yyzz_status==$key{/yun}selected{yun:}/if{/yun}>{yun:}$yyzz{/yun}</option>
                        {yun:}/foreach{/yun}
                    </select>
                </div>
                <div class="layui-input-inline t_w150" style="{yun:}if $smarty.get.kh >= 1 && $smarty.get.kh <=4 {/yun}display: none;{yun:}/if{/yun}">
                    <select name="lastFtime" id="lastFtime" lay-verify="">
                        <option value="">最后跟进时间</option>
                        {yun:}foreach from = $lastFtime key=key item = lftime{/yun}
                        <option value="{yun:}$key{/yun}" {yun:}if $smarty.get.lastFtime==$key{/yun}selected{yun:}/if{/yun}>{yun:}$lftime{/yun}</option>
                        {yun:}/foreach{/yun}
                    </select>
                </div>
                <div class="layui-input-inline t_w150">
                    <select name="nextFtime" id="nextFtime" lay-verify="">
                        <option value="">下次跟进时间</option>
                        {yun:}foreach from = $nextFtime key=key item = nftime{/yun}
                        <option value="{yun:}$key{/yun}" {yun:}if $smarty.get.nextFtime==$key{/yun}selected{yun:}/if{/yun}>{yun:}$nftime{/yun}</option>
                        {yun:}/foreach{/yun}
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">登录日期</label>
                    <div class="layui-inline">
                        <div class="layui-input-inline t_w100">
                            <input type="text" autocomplete="off" name="loginStart" id="loginStart" class="layui-input" placeholder="开始日期">
                        </div>
                        <div class="layui-form-mid">-</div>
                        <div class="layui-input-inline t_w100">
                            <input type="text" autocomplete="off" name="loginEnd" id="loginEnd" class="layui-input" placeholder="结束日期">
                        </div>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">注册日期</label>
                    <div class="layui-inline">
                        <div class="layui-input-inline t_w100">
                            <input type="text" autocomplete="off" name="regStart" id="regStart" class="layui-input" placeholder="开始日期">
                        </div>
                        <div class="layui-form-mid">-</div>
                        <div class="layui-input-inline t_w100">
                            <input type="text" autocomplete="off" name="regEnd" id="regEnd" class="layui-input" placeholder="结束日期">
                        </div>
                    </div>
                </div>
                <div class="crm_search_box layui-inline">
                    <div class="crm_search_box_search formselect" did="crm_type_n">
                        <span id='crm_type_name'>
                            {yun:}if $smarty.get.crm_type==1 || $smarty.get.crm_type==''{/yun}公司名
                            {yun:}else if $smarty.get.crm_type == 2{/yun}联系人
                            {yun:}else if $smarty.get.crm_type == 3{/yun}电话
                            {yun:}else if $smarty.get.crm_type == 4{/yun}UID
                            {yun:}/if{/yun}
                        </span>
                        <div class="crm_search_list" style="display:none;" id="crm_type_n">
                            <a href="javascript:void(0);" onclick="keySelect('1', 'crm_type', '公司名');">公司名</a>
                            <a href="javascript:void(0);" onclick="keySelect('2', 'crm_type','联系人');">联系人</a>
                            <a href="javascript:void(0);" onclick="keySelect('3', 'crm_type', '电话');">电话</a>
                            <a href="javascript:void(0);" onclick="keySelect('4', 'crm_type', 'UID');">UID</a>
                        </div>
                    </div>
                    <input type="hidden" id="crm_type" name="crm_type" value="{yun:}if $smarty.get.crm_type{/yun}{yun:}$smarty.get.crm_type{/yun}{yun:}else{/yun}1{yun:}/if{/yun}">
                    <div class="crm_search_text" style="width:150px;"><input name="keyword" type="text" value=""></div>
                    <input type="submit" value="搜索" class="crm_search_bth">
                    <button type="reset" class="crm_search_bth crm_search_bth_cz" onclick="location.href='index.php?m=crm_customer&self=1'">重置</button>
                </div>
            </div>
        </form>
    </div>

    <div class="tty_table-bom">
        <div class="admin_statistics" style="margin-top:10px;">
            数据统计：
            <em class="admin_statistics_s">总数：<a href="index.php?m=crm_customer&self=1" class="ajaxcompanyall">0</a></em>
            <em class="admin_statistics_s">未审核：<a href="index.php?m=crm_customer&self=1&r_status=0" class="ajaxcompanystatus1">0</a></em>
            <em class="admin_statistics_s">未通过：<a href="index.php?m=crm_customer&self=1&r_status=3" class="ajaxcompanystatus2">0</a></em>
            <em class="admin_statistics_s">已锁定：<a href="index.php?m=crm_customer&self=1&r_status=2" class="ajaxcompanystatus3">0</a></em>
            搜索结果：<span>{yun:}$total{/yun}</span>；
        </div>

        <div class="table-list" style="color:#898989; margin-top:10px;">

            <div class="admin_table_border">

                <iframe id="supportiframe" name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>
                <form action="index.php" name="myform" method="get" id='myform' target="supportiframe">

                    <input type="hidden" name="pytoken" id='pytoken' value="{yun:}$pytoken{/yun}">
                    <input name="m" value="crm_customer" type="hidden"/>
                    <input name="c" value="del" type="hidden"/>

                    <table width="100%">
                        <thead>
                        <tr class="admin_table_top">
                            <th style="width:20px;">
                                <label for="chkall">
                                    <input type="checkbox" id='chkAll' onclick='CheckAll(this.form)'/>
                                </label>
                            </th>
                            <th align="left" width="50">
                                {yun:}if $smarty.get.t=="uid" && $smarty.get.order=="asc"{/yun}
                                <a href="{yun:}searchurl order=desc t=uid m=crm_customer untype='order,t'{/yun}">客户ID <img src="images/sanj.jpg"/></a>
                                {yun:}else{/yun}
                                <a href="{yun:}searchurl order=asc t=uid m=crm_customer untype='order,t'{/yun}">客户ID <img src="images/sanj2.jpg"/></a>
                                {yun:}/if{/yun}
                            </th>

                            <th align="left" width="160">客户名称</th>
                            <th align="left" width="80">
                                {yun:}if $smarty.get.t=="crm_time" && $smarty.get.order=="asc"{/yun}
                                <a href="{yun:}searchurl order=desc t=crm_time m=crm_customer untype='order,t'{/yun}">领取时间 <img src="images/sanj.jpg"/></a>
                                {yun:}else{/yun}
                                <a href="{yun:}searchurl order=asc t=crm_time m=crm_customer untype='order,t'{/yun}">领取时间 <img src="images/sanj2.jpg"/></a>
                                {yun:}/if{/yun}
                            </th>
                            <th align="left" width="80">
                                注册 /
                                {yun:}if $smarty.get.t=="login_date" && $smarty.get.order=="asc"{/yun}
                                <a href="{yun:}searchurl order=desc t=login_date m=crm_customer untype='order,t'{/yun}">登录 <img src="images/sanj.jpg"/></a>
                                {yun:}else{/yun}
                                <a href="{yun:}searchurl order=asc t=login_date m=crm_customer untype='order,t'{/yun}">登录 <img src="images/sanj2.jpg"/></a>
                                {yun:}/if{/yun}
                            </th>
                            <th align="left" width="120">
                                会员等级 /
                                {yun:}if $smarty.get.t=="vipetime" && $smarty.get.order=="asc"{/yun}
                                <a href="{yun:}searchurl order=desc t=vipetime m=crm_customer untype='order,t'{/yun}">到期时间 <img src="images/sanj.jpg"/></a>
                                {yun:}else{/yun}
                                <a href="{yun:}searchurl order=asc t=vipetime m=crm_customer untype='order,t'{/yun}">到期时间 <img src="images/sanj2.jpg"/></a>
                                {yun:}/if{/yun}
                            </th>
                            <th align="left" width="100">联系信息</th>
                            <th align="left" width="140">客户等级 / 状态客户</th>
                            <th align="left" width="">
                                {yun:}if $smarty.get.t=="f_time" && $smarty.get.order=="asc"{/yun}
                                <a href="{yun:}searchurl order=desc t=f_time m=crm_customer untype='order,t'{/yun}">跟进时间 <img src="images/sanj.jpg"/></a>
                                {yun:}else{/yun}
                                <a href="{yun:}searchurl order=asc t=f_time m=crm_customer untype='order,t'{/yun}">跟进时间 <img src="images/sanj2.jpg"/></a>
                                {yun:}/if{/yun}
                            </th>
                            <th>操作</th>
                        </tr>
                        </thead>

                        <tbody>

                        {yun:}foreach item=v key=key from=$rows{/yun}

                        <tr align="center" {yun:}if ($key+1)%2=='0'{/yun}class="admin_com_td_bg"{yun:}/if{/yun} id="list{yun:}$v.uid{/yun}">

                            <td>
                                <input type="checkbox" value="{yun:}$v.uid{/yun}" class="check_all" name='del[]' onclick='unselectall()' rel="del_chk" style="margin-left:5px;"/>
                            </td>

                            <td align="left" class="td1"><span>{yun:}$v.uid{/yun}</span></td>

                            <td align="left">
                                <div>{yun:}$v.username{/yun}</div>
                                <div class="" style="">
                                    <a href="javascript:;" onclick="khgl('index.php?m=crm_customer&c=com&id={yun:}$v.uid{/yun}');" class="admin_com_name">{yun:}$v.name{/yun}</a>
                                    {yun:}if $v.r_status==0{/yun}
                                        <em style="color:#f00">【未审核】</em>
                                    {yun:}else if $v.r_status==2{/yun}
                                        <em style="color:#f00">【未通过】</em>
                                    {yun:}else if $v.r_status==3{/yun}
                                        <em style="color:#f00">【已锁定】</em>
                                    {yun:}/if{/yun}
                                </div>
                                <div class="mt5">
                                    {yun:}if $v.moblie_status==1{/yun}
                                    <img src="../config/ajax_img/2-1.png" msg="手机已绑定" data-status="{yun:}$v.moblie_status{/yun}" data-url="{yun:}$v.uid{/yun}"  data-phone="{yun:}$v.linktel{/yun}"  data-name="{yun:}$v.name{/yun}"  class="company_rzpng  mt_phone" width="20" height="20">
                                    {yun:}else{/yun}
                                    <img src="../config/ajax_img/2-2.png" msg="手机未绑定" data-status="{yun:}$v.moblie_status{/yun}" data-url="{yun:}$v.uid{/yun}"  data-phone="{yun:}$v.linktel{/yun}"  data-name="{yun:}$v.name{/yun}"  class="company_rzpng  mt_phone" width="20" height="20">
                                    {yun:}/if{/yun}

                                    {yun:}if $v.wxid!="" || $v.wxopenid!="" || $v.app_wxid!=""{/yun}
                                    <img src="../config/ajax_img/4-1.png" class="wxBindmsgs" msg="{yun:}$v.wxBindmsg{/yun}" onclick="showQrcode('{yun:}$v.uid{/yun}','{yun:}$v.wxid{/yun}')" width="20" height="20" />
                                    {yun:}else{/yun}
                                    <img src="../config/ajax_img/4-2.png" class="wxBindmsgs" msg="{yun:}$v.wxBindmsg{/yun}" onclick="showQrcode('{yun:}$v.uid{/yun}','{yun:}$v.wxid{/yun}')" width="20" height="20" />
                                    {yun:}/if{/yun}

                                    {yun:}if $v.yyzz_status==1{/yun}
                                    <img src="../config/ajax_img/3-1.png" msg="企业资质已认证" data-url="{yun:}$v.yyzzurl{/yun}" data-ourl="{yun:}$v.owner_cert_url{/yun}" data-wurl="{yun:}$v.wt_cert_url{/yun}" data-otherurl="{yun:}$v.other_cert_url{/yun}" data-uid="{yun:}$v.uid{/yun}" data-name="{yun:}$v.name{/yun}" data-status="{yun:}$v.yyzz_status{/yun}" data-scredit="{yun:}$v.social_credit{/yun}" class="company_rzpng m_yyzz" width="20" height="20">
                                    {yun:}else{/yun}
                                    <img src="../config/ajax_img/3-2.png" msg="企业资质未认证" data-url="{yun:}$v.yyzzurl{/yun}" data-ourl="{yun:}$v.owner_cert_url{/yun}" data-wurl="{yun:}$v.wt_cert_url{/yun}" data-otherurl="{yun:}$v.other_cert_url{/yun}" data-uid="{yun:}$v.uid{/yun}" data-name="{yun:}$v.name{/yun}" data-status="{yun:}$v.yyzz_status{/yun}" data-scredit="{yun:}$v.social_credit{/yun}" class="company_rzpng m_yyzz" width="20" height="20">
                                    {yun:}/if{/yun}
                                    {yun:}if $v.email_status==1{/yun}
                                    <img src="../config/ajax_img/1-1.png"  msg="邮箱已认证" data-status="{yun:}$v.email_status{/yun}" data-url="{yun:}$v.uid{/yun}"  data-mail="{yun:}$v.linkmail{/yun}"   data-name="{yun:}$v.name{/yun}" class="company_rzpng mt_email" width="20" height="20">
                                    {yun:}else{/yun}

                                    <img src="../config/ajax_img/1-2.png"  msg="邮箱未认证" data-status="{yun:}$v.email_status{/yun}" data-url="{yun:}$v.uid{/yun}"  data-mail="{yun:}$v.linkmail{/yun}"  data-name="{yun:}$v.name{/yun}"  class="company_rzpng mt_email" width="20" height="20">
                                    {yun:}/if{/yun}
                                </div>
                            </td>

                            <td align="left">{yun:}$v.crm_time|date_format:"%Y-%m-%d"{/yun}</td>
                            <td align="left">{yun:}$v.reg_date_n{/yun}<br>{yun:}$v.login_date_n{/yun}</td>
                            <td align="left">
                                {yun:}$v.rating_name{/yun}
                                <div>
                                    {yun:}if $v.vipetime >= $todayStart{/yun}
                                        {yun:}$v.vipetime|date_format:"%Y-%m-%d"{/yun}<span color='red'>({yun:}$v.vipDay{/yun})</span>
                                    {yun:}else if $v.vipetime < $todayStart && $v.vipetime != '0'{/yun}
                                        <span color='red'> {yun:}$v.vipetime|date_format:"%Y-%m-%d"{/yun} ({yun:}$v.vipDay{/yun})</span>
                                    {yun:}else{/yun}
                                        永久
                                    {yun:}/if{/yun}
                                </div>
                            </td>
                            <td align="left">
                                {yun:}$v.linkman{/yun}<br>
                                {yun:}$v.linktel{/yun}<br>
                                {yun:}$v.job_city_one{/yun}{yun:}$v.job_city_two{/yun}{yun:}$v.job_city_three{/yun}
                            </td>

                            <td align="left">
                                <div>等级：
                                    {yun:}if $v.crm_type{/yun}
                                        {yun:}$v.crm_type{/yun}
                                    {yun:}else{/yun}
                                    --
                                    {yun:}/if{/yun}
                                </div>
                                <div>状态：
                                    {yun:}if $v.crm_status{/yun}
                                        {yun:}$v.crm_status{/yun}
                                    {yun:}else{/yun}
                                    --
                                    {yun:}/if{/yun}
                                </div>
                            </td>

                            <td align="left" width="150">
                                <div data-content="{yun:}$v.c_desc{/yun}" class="mt_c_desc">上次： {yun:}$v.lastTime{/yun}<a href='javascript:void(0);' class="CrmnewFollow crm_submit_gj" data-uid="{yun:}$v.uid{/yun}" data-name="{yun:}$v.name{/yun}">写跟进</a></div>
                                <div>下次： {yun:}$v.nextTime{/yun}<a href='javascript:void(0);' class="CrmnewTask crm_submit crm_submit_rw" data-id="22" data-uid="{yun:}$v.uid{/yun}" data-name="{yun:}$v.name{/yun}">建任务</a></div>
                            </td>
                            <td width="80">
                                <a href="javascript:;" onclick="khgl('index.php?m=crm_customer&c=com&id={yun:}$v.uid{/yun}');" class="crm_submit">管理</a>
                            </td>
                        </tr>
                        {yun:}foreachelse{/yun}
                        <tr align="left">
                            <td class="ud" colspan="13">
                                <div class="admin_notip">暂无客户信息~</div>
                            </td>
                        </tr>
                        {yun:}/foreach{/yun}
                        <tr>
                            <td align="left">
                                <label for="chkall2"><input type="checkbox" id='chkAll2' onclick='CheckAll2(this.form)' class="checkbox_stars"/></label>
                            </td>
                            <td colspan="13">
                                <label for="chkAll2">全选</label>
                                <input class="admin_button" type="button" value="转交" id="Deliver"/>
                                <input class="admin_button" type="button" value="放弃" id="Giveup"/>
                                <input class="admin_button" type="button" value="客户状态" id="UserStatus"/>
                                <input class="admin_button" type="button" value="客户等级" id="LevelType"/>
                            </td>
                        </tr>

                        {yun:}if $total > $config.sy_listnum {/yun}
                        <tr>
                            {yun:}if $pagenum==1{/yun}
                            <td colspan="3"> 从 1 到 {yun:}$config.sy_listnum {/yun} ，总共 {yun:}$total{/yun} 条</td>
                            {yun:}else if $pagenum > 1 && $pagenum < $pages{/yun}
                            <td colspan="3"> 从 {yun:}($pagenum-1) * $config.sy_listnum + 1{/yun} 到 {yun:}$pagenum * $config.sy_listnum{/yun} ，总共 {yun:}$total{/yun} 条</td>
                            {yun:}else if $pagenum == $pages{/yun}
                            <td colspan="3"> 从 {yun:}($pagenum-1) * $config.sy_listnum + 1{/yun} 到 {yun:}$total{/yun} ，总共 {yun:}$total{/yun} 条</td>
                            {yun:}/if{/yun}
                            <td colspan="11" class="digg">{yun:}$pagenav{/yun}</td>
                        </tr>
                        {yun:}/if{/yun}
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>

</body>

<script>
    layui.use(['layer', 'form', 'laydate' , 'element'], function () {
        var form = layui.form,
            laydate = layui.laydate,
            element = layui.element,
            $ = layui.$;
        laydate.render({
            elem: '#loginStart',
            value: '{yun:}if $smarty.get.loginStart{/yun}{yun:}$smarty.get.loginStart{/yun}{yun:}/if{/yun}'
        });
        laydate.render({
            elem: '#loginEnd',
            value: '{yun:}if $smarty.get.loginEnd{/yun}{yun:}$smarty.get.loginEnd{/yun}{yun:}/if{/yun}'
        });

        laydate.render({
            elem: '#regStart',
            value: '{yun:}if $smarty.get.regStart{/yun}{yun:}$smarty.get.regStart{/yun}{yun:}/if{/yun}'
        });
        laydate.render({
            elem: '#regEnd',
            value: '{yun:}if $smarty.get.regEnd{/yun}{yun:}$smarty.get.regEnd{/yun}{yun:}/if{/yun}'
        });
    });

    $(document).ready(function () {
        $.get("index.php?m=crm_customer&c=getComNum", function (data) {
            var datas = eval('(' + data + ')');
            if (datas.companyAllNum) {
                $('.ajaxcompanyall').html(datas.companyAllNum);
            }
            if (datas.companyStatusNum1) {
                $('.ajaxcompanystatus1').html(datas.companyStatusNum1);
            }
            if (datas.companyStatusNum2) {
                $('.ajaxcompanystatus2').html(datas.companyStatusNum2);
            }
            if (datas.companyStatusNum3) {
                $('.ajaxcompanystatus3').html(datas.companyStatusNum3);
            }
        });

        $.get("index.php?m=crm_customer&c=ajaxCrmSetData", function (data) {

            var datas = eval('(' + data + ')');
            if (datas.html) {

                $('#ajaxHtml').html(datas.html);
            }
        });

        $(".mt_c_desc").hover(function(){
            var msg=$(this).attr('data-content');
            if (msg != '') {
                layer.tips(msg, this, {
                    guide: 1,
                    style: ['background-color:#5EA7DC; color:#fff;top:-7px', '#5EA7DC'],
                    area: ['200px', 'auto'],
                    time: 5000
                });
                $(".xubox_layer").addClass("xubox_tips_border");
            }
        },function(){

            layer.closeAll('tips');

        });
    });

    function khgl(url) {

        $.layer({
            type: 2,
            shadeClose: true,
            title: '客户管理',
            area: ['80%', '100%'],
            offset: 'r',
            iframe: {src: url},
            close: function(){
                if(needLoad){
                    window.location.reload();
                }else{
                    $('body').css('overflow-y', '');
                }
            }
        });
    }
</script>
{yun:}include file="$adminstyle/crm_public.htm"{/yun}
{yun:}include file="$adminstyle/company_list_rztb.htm"{/yun}
</html>