@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0;}
body{ margin:0; padding:0; font-size:14px; font-family:微软雅黑,宋体; background:#f8f8f8}
button, input, textarea, th, td { font-family:微软雅黑,宋体;}
ul{ list-style:none}
a{color:#333; text-decoration:none}
a:hover{color:#f60; text-decoration:underline}
img{border:none;}
.none{display:none;}
.ftl{ float:left;}
.ftr{ float:right}
.mt15{ margin-top:15px;}
.mt10{ margin-top:10px;}
i,em{ font-style:normal}
.clear{ clear:both}
.training_top{width:100%;height:33px; background:#f5f5f5;border-bottom:1px solid #e7e2e2;color:#666666; font-size:12px;}
.training_w980{width:1200px; margin:0 auto;}
.training_top_left{  line-height:33px;}
.training_top_slogan{border-right:1px solid #eeeeee; display:block;}
.training_top_sc{ background:url(../images/yun_sc.png) no-repeat left center; padding-left:20px; margin-left:10px;border-right:1px solid #eeeeee; padding-right:15px;}
.training_top_right_back{color:#00b2fc; display:inline-block;border-right:1px solid #eeeeee;  line-height:33px; padding-right:10px; margin-right:10px; }
.training_header{width:100%; float:left; background:#fff;box-shadow: 0px 2px 8px rgba(137, 137, 137, 0.1);border-bottom:1px solid #eee}
.training_logo{ margin-top:5px;}
.training_header_c{width:100%; padding:15px 0; float:left}
.training_nav{ float:right}
.training_nav ul li{width:105px; float:left; line-height:49px; text-align:center; margin-right:5px; font-size:16px;}
.training_nav ul li a{color:#322a2a; display:block;}
.training_nav_cur{  font-weight:bold;}
.training_nav ul li a:hover{color:#25ad60;  text-decoration:none}
.training_nav ul .training_nav_cur a{color:#25ad60;}
.training_nav ul .training_nav_cur a:hover{color:#25ad60;}
.training_nav_frist{ padding-left:20px;}
.training_nav_fb{width:94px;height:40px; line-height:40px; text-align:center;color:#fff; background:#ff7300 url(../images/me.png) no-repeat 10px center; padding-left:15px; font-size:14px;position:absolute;right:0px;top:0px;}
.training_nav_fb a{color:#fff}
.training_nav_icon{width:19px;height:18px; display:inline-block; background:url(../images/nav_icon.png) no-repeat; position:absolute;left:17px;top:15px;}
.training_nav ul .training_nav_cur .training_nav_icon{width:19px;height:18px; display:inline-block; background:url(../images/yun_nav_cur.png) no-repeat; position:absolute;left:17px;top:15px;}
/*search*/
.training_index_search{width:100%;height:1px; position:relative}
.training_index_search_left{width:1200px; margin:0 auto; position:relative}
.training_index_search_s { position:absolute;left:240px;top:-100px;}
.training_index_search_select{width:102px;height:50px;position:relative;}
.training_index_search_select_list{width:102px; background:#fff; position:absolute;left:0px;top:38px;}
.training_index_search_select_ul li{width:100%;}
.training_index_search_select_ul li a{ display:block; height:50px; line-height:50px; padding-left:10px; font-size:14px;}
.training_index_search_select_ul li a:hover{ background:#EAF9DB}
.training_index_search_but{cursor:pointer;width:102px; text-indent:15px;height:50px; line-height:50px;border:none; background:#fff url(../images/yun_in_but.jpg) no-repeat 80px center;border-right:1px solid #e4e4e4;color:#a2a1a1; text-align:left;border-radius:3px 0 0 3px; }
.training_index_search_text{width:493px;height:50px; line-height:50px; color:#a2a1a1; background:#fff; text-indent:30px; padding:0; margin:0;border:none}
.training_index_search_bth{ float:left;width:80px;height:50px; background:#25ad60;border:none; font-size:16px;cursor:pointer;color:#fff;border-radius:0px 3px 3px 0px;}
.training_index_search_hot{width:100%; float:left; padding-top:20px;color:#666 }
.training_index_search_hot a{color:#858585;padding-right:15px; line-height:30px;}
.training_index_search_hot a:hover{color:#f60;}
/*Recommended_courses*/
.Recommended_courses{width:950px; float:left}
.training_index_h1{width:100%;height:20px; line-height:20px; padding:20px 0; float:left}
.training_index_h1 span{ display:inline-block;border-left:4px solid #166caf; font-size:18px; padding-left:10px; float:left}
.training_index_h1 a{ float:right;}
.Recommended_courses_cont{width:948px; float:left;border:1px solid #e8e8e8; background:#fff; overflow:hidden}
.Recommended_courses_cont_box{width:960px;}
.Recommended_courses_list{width:100%; float:left}
.Recommended_courses_list li{width:195px; padding:22px 21px 5px 21px;border-right:1px solid #e8e8e8;border-bottom:1px solid #e8e8e8; float:left;font-size:14px;}
.Recommended_courses_pic{width:100%; text-align:center}
.Recommended_courses_name{width:100%;height:25px; line-height:25px; font-size:14px;text-overflow:ellipsis; overflow:hidden; white-space:nowrap;text-align:center}
.Recommended_courses_doc{width:100%;height:25px; line-height:25px; color:#c2bdba;text-overflow:ellipsis; overflow:hidden; white-space:nowrap; }
.Recommended_courses_jg{color:#F60}
.Recommended_courses_line{ font-size:12px; display:inline-block; padding:0px 5px;}
/*Star lecturer*/
.Star_lecturer{width:232px; float:right;}
.Star_lecturer_sub{width:100%;height:49px; line-height:49px; text-align:center;color:#fff; font-size:18px; background:#166caf url(../images/t_com.png) no-repeat 30px center; margin-top:20px; text-indent:20px; float:left}
.Star_lecturer_sub a{color:#fff}
.Star_lecturer_cont{width:230px;border:1px solid #e8e8e8; background:#fff;height:497px; float:left }
.Star_lecturer_h1{width:100%;height:45px; float:left}
.Star_lecturer_h1_s{width:122px; float:left; line-height:44px; text-align:center; background:#fff; font-size:16px;color:#166caf}
.Star_lecturer_h1_a{ display:inline-block;width:106px;height:44px;line-height:44px; text-align:center;border-bottom:1px solid #e9e9e9;border-left:1px solid #e9e9e9; background:#f5f5f5; font-size:14px; float:left}
.training_Lecturer_list{width:100%; padding-top:10px; padding-bottom:10px;}
.training_Lecturer_list dt{width:52px; float:left; padding-left:10px; }
.training_Lecturer_list dt a{ float:left}
.training_Lecturer_list dd{width:150px; float:left; padding-left:10px; line-height:20px;}
.training_Lecturer_name{  font-weight:bold}
.training_Lecturer_list dd p{width:100%;height:23px; line-height:23px;color:#999; overflow:hidden; margin-top:5px;}
/*Recommended mechanism*/
.Recommended_mechanism{width:1198px;float:left;border:1px solid #e8e8e8; background:#fff; padding-bottom:10px; }

.training_new_Agencies_list_size{ margin-left:9px;_margin-left:4px;}
.training_new_Agencies_list{width:400px;height:105px;   margin-top:10px; font-size:14px;}
.training_new_Agencies_list dt{width:80px;height:80px;border:1px solid #eee;margin-top:12px; float:left}
.training_new_Agencies_list dd{width:200px; float:left; margin-top:10px; padding-left:12px;}
.training_new_Agencies_list_name{color:#0070ba; display:block;width:100%;height:20px; line-height:20px; overflow:hidden; padding-bottom:10px; padding-top:5px; font-size:16px;}
.training_new_Agencies_list_p{ line-height:23px;color:#827e7e; margin-top:5px;}
.Star_lecturer_cont_mt{ margin-top:60px;height:469px;}
.training_index_news{ padding:10px; }
.training_index_news li{width:100%; padding:11px 0;border-bottom: 1px solid #eee;overflow:hidden;}
.training_index_news_t{width:100%;height:20px; line-height:20px; padding-bottom:10px; display:inline-block;text-overflow:ellipsis; overflow:hidden; white-space:nowrap; font-size:14px;}
.training_index_news_date{color:#929292}
.training_Agencies_rec{width:214px;height:412px;background:#fff; overflow:hidden}
.training_Agencies_rec_tit{width:100%; font-size:13px; float:left; padding-top:10px; text-indent:10px; font-weight:bold; font-size:14px;color:#575a5d;}
.training_Agencies_rec_list{width:100%; border-bottom:1px dashed #d9d9d9; padding-top:10px; padding-bottom:10px;}
.training_Agencies_rec_list dt{width:50px;height:50px;border:1px solid #dadada; background:#fff; padding:2px; float:left; margin-left:5px; _margin-left:3px}
.training_Agencies_rec_list dt img{ float:left;}
.training_Agencies_rec_list dd{width:140px; float:left; padding-left:5px;}
.training_Agencies_rec_name{width:100%; height:20px; line-height:20px; overflow:hidden;color:#003399; display:block; font-size:14px;}
.training_Agencies_rec_list_span{color:#b2abab; line-height:22px; display:block}
.training_center{width:460px; padding-left:10px;}
.training_Slide{width:460px;height:212px; position:relative}
.training_Upcoming{width:458px;height:147px;border:1px solid #e2e2e2; background:#fdfefe;}
.training_Upcoming_tit{width:100%; float:left; padding-top:10px; text-indent:10px;font-weight:bold; font-size:14px;color:#575a5d;}
.training_Upcoming_list{width:100%; float:left; padding-top:10px;_padding-top:5px;}
.training_Upcoming_list li{width:215px;float:left;  margin-left:10px;_margin-left:5px;}
.training_Upcoming_list_t{width:175px; height:26px; line-height:26px; display:block; float:left;background:url(../images/yun_icon1.jpg) no-repeat left center; padding-left:10px;}
.training_Upcoming_list_b{width:28px;height:14px; line-height:14px; text-align:center; float:right; background:#feea7e;border:1px solid #f0924d;color:#8e1101; margin-top:3px;}
.training_Rec_Courses{width:280px;height:370px;border:1px solid #e2e2e2;}
.training_tit{width:100%;height:36px; padding-top:10px; }
.training_span{ font-size:16px; font-weight:bold;color:#656d72;height:18px; line-height:18px; display:block; float:left;border-left:6px solid #25ad60; padding-left:10px; margin-top:8px;}
.training_span_more { margin-right:10px; line-height:36px;color:#9d9797}
.training_Rec_Courses_list{ padding:5px 0px 4px 10px}
.training_Rec_Courses_list li{width:250px;height:25px; line-height:25px; overflow:hidden; padding-left:10px; background:url(../images/yun_icon2.jpg) no-repeat left center;}
.training_Rec_Courses_list li a{color:#575a5d;}
.training_Rec_Courses_list li a:hover{color:#f60}
.training_new_Courses{width:978px; border:1px solid #e2e2e2}
.training_new_Courses_tit{width:100%;height:35px; line-height:35px; background:url(../images/yun_line.jpg) repeat-x}
.training_new_Courses_h1{ font-size:14px; font-weight:bold; margin-left:10px;color:#575a5d}
.training_new_Courses_more{ margin-right:10px;color:#6f7477}
.training_new_Courses_nav{width:100%;height:34px; background:url(../images/cate_tab_bg.gif) repeat-x bottom}
.training_new_Courses_nav_list{width:100%; float:left;height:34px;}
.training_new_Courses_nav_list li{ float:left; display:inline-block; padding-left:10px; padding-right:10px; line-height:34px;}
.training_new_Courses_nav_list .training_new_Courses_nav_cur a { background: url(../images/cate_tab_hover_bg.gif) no-repeat  right bottom ; border-left: 1px solid #D2D2D2; font-weight:bold}
.training_new_Courses_nav_list  li a { color: #333333; display: inline-block; height: 34px;margin-left: -1px;padding: 0 27px 0 20px;}
.training_new_Courses_content{width:100%;}
.training_new_Courses_top_list{width:150px; margin-left:11px;_margin-left:6px;}
.training_new_Courses_top_list dd{width:100%;}
.training_new_Courses_top_list_name{height:25px; line-height:25px; overflow:hidden}
.training_new_Courses_top_list_Price{color:#ff7e11;  font-family:微软雅黑}
.training_new_Courses_top_list_name_a{color:#333;}
.training_new_Courses_list{width:100%; background:url(../images/yun_in_bbg.jpg) repeat-y left 5px; padding-top:5px;}
.training_new_Courses_list li{    color: #555555; cursor: pointer;float: left;font-size: 12px;height: 30px;line-height: 30px;overflow: hidden; padding: 0 10px 0 15px;width: 464px;}
.training_new_Courses_list_name{color:#555}
.training_new_Courses_list_c{color:#0070ba; margin-left:8px;}
.training_new_Courses_list_price{color: #FF0000;  margin-left: 10px;}
.training_index_left{width:702px;}
.training_new_Agencies{width:700px;border:1px solid #e2e2e2; padding-bottom:10px;}
.training_Lecturer{width:265px;border:1px solid #e2e2e2;}


.qxzx_list { padding-top: 3px;}
.qxzx_list li { color: #555555; cursor: pointer;float: left; font-size: 12px;height: 59px;line-height: 22px; overflow: hidden; padding: 8px 0 8px 70px; position: relative; width: 280px;}
.qxzx_list li.odd { background:#F9F9F9;}
.qxzx_list li.hover { background:#F0F6F9;}
.qxzx_list li h3 { color: #0D8700;font-weight: bold;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-size:12px;}
.qxzx_list li span {background: url(../images/l_t_bg.gif) no-repeat;color: #676767; height: 23px;left: 10px; line-height: 23px;overflow: hidden; position: absolute;text-align: center; top: 10px;width:45px; padding-right:10px;}
.qxzx_list li p { overflow: hidden; text-overflow: ellipsis;white-space: nowrap;}
.qxzx_list li a {color: #555555;}
#pagefooter { margin: 10px auto 0; overflow: hidden; width: 1200px;}
.footerdh { background: url(../images/footerdh.gif) repeat-x; border: 1px solid #E3E3E3;color: #666666; height: 28px; line-height: 28px; overflow: hidden; text-align: center; vertical-align: top; width: 978px;}
.footerdh a { color: #666666; margin: 0 8px;}
.footerdh a:visited { color: #666666;}
.footerdh a:hover { color: #666666;text-decoration: underline;}
.footermain {clear: both; float: left; margin: 6px 0; width:1200px;}
.footermain li { color: #666666; line-height: 16px;list-style-type: none; padding: 4px 0;text-align: center;}
.footermain font { font-family: verdana; font-size: 12px;}
.footermain a {color: #666666;}
.training_cur{width:978px;height:45px; line-height:45px;color:#656d72; }
.training_cur_l{ float:left;}
.training_cur_b{color:#ff6600; font-weight:bold; padding:0px 5px;}
.training_subject{width:965px; background:#fff;min-height:1280px;}
.training_subject_search{width:100%; background:#fff }
.training_subject_search_list{width:100%; float:left; padding:13px 0;font-size:14px;}
.training_subject_search_list_left{width:100px; text-align:center;color:#555;height:26px; line-height:26px; margin-top:3px;}
.training_subject_search_list_right{width:1080px; float:left}
.training_subject_search_list_right .training_subject_search_tag{ display:block;height:20px; line-height:20px; float:left; padding:3px 8px 3px 8px;color:#717171; margin-right:10px; white-space:nowrap; margin-top:3px;}
.training_subject_search_list_right .training_subject_search_tag:hover{}
.training_subject_search_list_right  .training_subject_search_cur{ background:#39a030;color:#fff;border-radius:3px;}
.training_subject_search_list_right  .training_subject_search_cur:hover{ color:#fff;}
.training_subject_s{width:100%;height:32px; padding:5px 0; background:#f8f8f8;}
.training_subject_skc{ display:block;width:73px; line-height:50px; text-align:center;color:#555}
.sub_search_n{ line-height:32px; padding:5px 10px; float:left; position:absolute; left:0; top:0; }
.Search_Courses_text{width:500px;height:30px; line-height:30px; padding-left:10px; background:#fff;border:none; float:left}
.sub_search{width:550px;height:30px;border:1px solid #dddddd; float:left; background:#fff; }
.Search_Courses_bth1{width:35px;height:30px; background:url(../images/yun_kc.png) no-repeat;border:none; float:left; cursor:pointer}
.training_subject_tag{ float:right; line-height:32px; padding-left:10px;color:#717171; font-size:14px;}
.training_subject_tag_a{color:#717171; margin-right:10px;}
.training_Courses_pic{width:120px;border:1px solid #ddd; margin-left:10px; display:inline;}
.training_Courses_pic img{ float:left;}
.training_subject_content{width:965px; float:left}
.training_Courses_list{width:100%; padding:20px 0px;border-bottom:1px solid #eee}
.training_Courses_center{width:330px; padding-left:15px;}
.training_Courses_name{ font-size:16px;width:100%; padding-bottom:15px; margin-top:5px;}
.training_Courses_name a{color:#0053a5}
.training_Courses_p{ line-height:23px;color:#8d8d8d; padding-bottom:5px;}
.training_Courses_span{color:#b4b4b4}
.training_kc_p{ line-height:23px;color:#8d8d8d; padding-bottom:5px; font-size:12px;}
.training_Courses_span_ml{ margin-left:30px;}
.training_subject_c_box{width:100%; float:left}
.training_Courses_look { margin-right:20px;}
.training_Courses_look_bth{width:75px;height:29px; text-align:center; line-height:29px;background:#0053a5;color:#fff; display:inline-block}
.training_Courses_look_bth:hover{ text-decoration:none;color:#fff}
.training_age_zx{width:50px;height:29px; text-align:center; line-height:29px;background:#ffe300;color:#333; display:inline-block;}
.training_age_zx:hover{ text-decoration:none;color:#333}
.training_Courses_centerw430{width:420px; font-size:14px;}
.training_Courses_Price{ font-size:16px;color:#ff4136; display:block; margin-top:30px; }
.training_Courses_zx{ margin-top:33px; margin-right:20px;}
.training_Courses_zx_a{display: block;height: 32px;line-height: 32px;text-align: center;width: 100px;color:#fff; background:#39a030}
.training_Courses_zx_a:hover{ background:#069;color:#fff; text-decoration:none}
.training_look_xq{  margin-top:33px; margin-right:20px;}
.training_look_xq a{display: block;height: 32px;line-height: 32px;text-align: center;width: 100px;color:#fff; background:#f90;}
.training_look_xq a:hover{ background:#faca0c;color:#333; text-decoration:none}
.training_Courses_zx_n{width:100%; text-align:center; padding-top:10px;color:#999; font-size:12px;}
/*分页*/
.pages{ padding-top:20px; text-align:center}
.pages .selected {background:#39a030;border:1px solid #39a030}
.pages {width: 100%;text-align: center;margin:0 auto;float:left;margin-top: 10px;font-size: 14px;line-height: 25px;}
.pages a {display: inline-block;padding: 5px 14px 5px 14px;margin-left:8px;color: #666;border: 1px solid #dedede; font-size:14px;border-radius:3px; background:#fff}
.pages em {margin-left: 10px;height:35px;line-height:30px;color:#666;display:inline-block;}
.pages .selected {font-weight: bold;color: #fff;;border:1px solid #39a030}
.pages a:hover{color: #fff;background:#39a030;border:1px solid #39a030; text-decoration:none;}
.training_subject_right{width:216px;}
.training_rec_subject{width:214px; padding-bottom:10px; background:#fff}
.training_rec_subject_list{width:190px;border-bottom:1px dashed #e8e8e8; margin-left:10px; padding-top:10px; padding-bottom:5px;color:#555; }
.training_rec_subject_list dt img{ display:block}
.training_rec_subject_list dd{ line-height:22px;}
.training_rec_subject_list dt{margin-bottom:5px;}
.train_class_t{color:#0053a5;font-size:14px;font-weight:bold;}
.train_class_r{color:#999;}
.training_rec_subject_p{color:#ff8800;}
.training_subject_Sort{width:100%; position:relative; background:#fff;}
.training_subject_closex{ width:100%;margin-top:15px; float:left}
.sltBar { width:880px;height: 40px; padding-left:98px;}
.sltBar .sUl { background:#fff; height: 40px; padding-left: 10px;}
.sltBar .sUl li { float: left;margin: 9px 10px 0 0;}
.sltBar .sUl li a.l_phb { color: #555555;}
.sltBar .sUl li a.l_phb:hover { text-decoration: underline;}
.sltBar .sUl li p a { color: #555555;}
.sltBar .sUl li p a:hover { text-decoration: underline;}
.sltBar .sUl .i_s { background-color:#FFF;border: 1px solid #CCCCCC;color: #555555; display: block;  height: 20px; line-height:20px;padding: 0 5px;position: relative;text-align: center; width:70px; overflow:hidden;}
.sltBar .sUl .i_s .i_s_down { background: url(../images/ico_sprite.png) no-repeat 0px 0px;display: block;float: left;height: 8px; width: 7px;}
.sltBar .sUl .i_s .i_s_up { background: url(../images/ico_sprite.png) no-repeat 0px -60px;display: block;float: left;height: 8px; margin-top: 6px;width: 7px; display:inline;}
.training_subject_title{width:100%;border-bottom:2px solid #39a030; float:left}
.training_subject_span{ display:inline-block;width:130px;height:40px; line-height:40px; text-align:center;color:#fff; background:#39a030; font-size:16px; float:left;border-radius:3px 3px 0 0 }
.sltBar .sUl .i_s_curr{border: 1px solid #1CB177;}
.sltBar .sUl .i_s_curr .i_s_down { background-position: 0px -30px;margin-top:5px;}
.sltBar .sUl .i_s_curr .i_s_up { background-position: 0px -90px;}
.sltBar .sUl .i_s:hover .i_s_up { background-position: 0px -30px;}
.sltBar .sUl .i_s:hover .i_s_down{ background-position: 0px -90px;}
.sltBar .sUl .list_type .l_online { float: left;margin-top: 2px;}
.sltBar .sUl .list_type .type { background: url(../images/ico_sprite.png) no-repeat;display: block;float: left;height: 16px; margin-left: 17px;width: 16px;}
.sltBar .sUl .list_type .type1 { background-position: -1px -226px;}
.sltBar .sUl .list_type .type1_curr {background-position: -1px -159px;}
.sltBar .sUl .list_type .type2 { background-position: -1px -195px;}
.sltBar .sUl .list_type .type2_curr { background-position: -1px -127px;}
.input-price {  position: relative;}
.input-text { border: 1px solid #CDCDCD; display: inline-block; float:left; margin-right:10px;}
.input-text span {display: inline-block;}
.input-price input { margin-left: 15px; width: 50px;}
.input-text input { border: 0 none;  font: 400 12px/18px arial,sans-serif; height: 20px;outline: 0 none;}
.input-price b {color: #666666; font: 400 12px/18px arial,sans-serif; left: 5px; position: absolute; top: 2px;}
.training_subject_Sort_sub{width:48px;height:22px; background:url(../images/yun_s1.png) no-repeat;border:none; cursor:pointer}
.Courses_content{width:1198px;height:250px;}
.Courses_content_left{_margin-left:7px; }
.courses_content_ft{width:900px;height:218px;border:1px solid #e8e8e8;padding:15px;background:#fff;}
.Courses_content_pic{width:290px;height:218px;}
.Courses_content_Favorites{float:left; padding-left:25px;background:url(../images/yun_kc_icon1.jpg) no-repeat left center ; display:inline-block; margin-left:10px; margin-top:19px;}
.Courses_content_ysc{padding-left:25px;background:url(../images/yun_ysc.jpg) no-repeat left center ; display:inline-block;height:23px;line-height:23px;margin-left:10px;}
.Courses_content_sc{margin-top:15px;height:35px;line-height:35px;}
.Courses_content_share{width:80px;height:30px; line-height:30px; padding-left:25px;background:url(../images/yun_kc_icon2.jpg) no-repeat left center;display:inline-block; margin-top:10px; margin-left:20px;}
.Courses_content_center{width:550px;height:225px;border-left:1px solid #e8e8e8; margin-left:15px; padding-left:15px;}
.cor_content_d{float:left;width:100%;}
.Courses_content_center_bm{margin-top:15px; float:left}
.Courses_content_center_bm_a_dg{display:block;width:140px;height:36px;line-height:36px;background:#ff5400;font-size:16px; font-family:微软雅黑;color:#fff; text-align:center; float:left;border-radius:3px;}
.Courses_content_center_bm_a_dg:hover{color:#fff;background:#f90; text-decoration:none}
.cor_cont_zx_c{ display:inline-block; float:left;width:118px;height:34px; line-height:34px;border:1px solid #ffd4b8; background:#fff2e8;color:#ff5400; text-align:center;border-radius:3px; margin-left:10px; margin-top:15px;}
.cor_cont_zx_c:hover{color:#fff;background:#ff5400; text-decoration:none;}
.cor_content_d_tel{margin-top:15px;font-size:18px;}
.cor_content_d_tel_c{color:#FFAC00;font-weight:700;font-size:20px;}
.cor_cont_zx{float:left;}
.cor_content_d_sc{margin-top:15px;padding-left:60px;}
.cor_cont_zx{background:#5fa51a;color:#fff;width:45px;height:23px;text-align:center;line-height:23px;margin-left:20px;}
.cor_cont_zx:hover{color:#fff;}
.Courses_content_Favorites{height:23px;line-height:23px;}
.Courses_content_center_name{ font-size:16px; font-weight:bold; margin-top:5px;}
.Courses_content_center_pire{ padding-top:10px; padding-bottom:10px;}
.Courses_content_center_s{ font-size:24px; font-family:微软雅黑;color:#f80; font-weight:bold}
.Courses_content_center_p{ line-height:26px;color:#868686}
.Courses_content_center_bm .Courses_content_center_bm_a{ display:block;width:140px;height:38px; line-height:38px; background:#fc8900; text-align:center;font-size:18px; font-family:微软雅黑;color:#fff; margin-top:10px; float:left}
.Courses_content_center_bm .Courses_content_center_bm_a:hover{ background:#ec8205; text-decoration:none;color:#fff;}
.Courses_content_right{width:250px; background:#fff;}
.Courses_content_age{width:100%;border-bottom:1px solid #eee; padding-top:15px; padding-bottom:15px;}
.Courses_content_age dt{width:56px;height:56px; float:left; margin-left:10px;_margin-left:5px;}
.Courses_content_age dt img{border:1px solid #d9d9d9;width:54px; height:54px;}
.Courses_content_age dd{width:163px; float:left; padding-left:10px;color:#979696; line-height:20px;}
.courses_gz{background:#0053a5;color:#fff;width:70px;text-align:center;display:block;margin-top:5px;height:25px;line-height:25px;cursor:pointer;}
.courses_gz:hover{color:#fff;background:#4164C0;}
.Courses_content_age_name{ font-size:16px;display:block; margin-bottom:5px;white-space: nowrap;text-overflow:ellipsis; overflow:hidden;}
.subject_bth { padding-top:5px;}
.subject_bth .subject_bth_gz{width:55px;height:23px; line-height:23px;border:1px solid #27c386;color:#27c386; display:inline-block; text-align:center}
.subject_bth_qx{width:110px;height:23px; line-height:23px;border:1px solid #ccc;color:#ccc; display:inline-block; text-align:center}
.Courses_content_age_p{width:240px; float:left; padding:10px 10px 10px 10px; line-height:30px;color:#555;}
.Courses_content_age_p p{width:100%; word-break:break-all}
.Courses_content_box{width:937px;}
.Courses_content_detail{width:900px;border:1px solid #e8e8e8; padding:15px;  background:#fff}
.Courses_Suitable_detail{ background:#e2f8e2; padding:10px;color:#636663; line-height:25px;}
.Courses_Suitable_detail_t{ font-weight:bold; display:block}
.Courses_content_detail_tit{ font-size:14px; font-weight:bold;color:#636663; padding-top:5px; padding-bottom:5px;}
.Courses_content_detail_p{ width:100%; line-height:25px;color:#636663; overflow:hidden }
.Courses_Table_detail{width:930px;background:#fff; padding-bottom:10px;}
.Courses_Table_detail_other{ padding:5px;}
.Courses_Table_list{width:100%;border-bottom:1px solid #ddd;color:#333;}
.Courses_Table_h1{ background:#fafafa; font-weight:bold;color:#8e8d8d; font-size:14px;}
.Courses_Table_list li{height:33px; line-height:33px; float:left; font-size:12px; overflow:hidden}
.Courses_Table_list_a{width:240px; padding-left:10px;}
.Courses_Table_list_b{width:260px;}
.Courses_Table_list_c{width:80px; text-align:center}
.Courses_Table_list_d{width:100px; text-align:center}
.Courses_Table_list_e{width:70px; text-align:center}
.Courses_Table_list_f{width:80px; text-align:center}
.Courses_Table_list_g{width:60px; text-align:center}
.Courses_Table_list_g_bth{ display:inline-block;width:45px;height:20px; line-height:20px; text-align:center;  background: #FEEA7E; border: 1px solid #F0924D; color: #8E1101; float:left; margin-top:5px; margin-left:5px;}
.Courses_right{width:252px;}
.Courses_right_tj{width:250px; background:#fff }
.Courses_right_tj_list{width:230px; margin-left:10px; _margin-left:5px;padding-top:10px; padding-bottom:10px;}
.Courses_right_tj_list dt{width:60px; float:left}
.Courses_right_tj_list dd{width:160px; padding-left:10px; float:right;}
.Courses_right_tj_list_name{  line-height:22px; font-weight:bold; display:block;font-size:12px;}
.Courses_right_tj_list_price{ font-size:14px;color:#f80}
.Courses_right_tj_a{ float:right;color:#f80; margin-right:10px; line-height:35px;}
.Courses_right_Advisory{width:100%;}
.Courses_right_Advisory_photo{width:28px;height:28px; margin-left:10px; _margin-left:5px;margin-top:5px;}
.Courses_right_Advisory_photo_r{width:45px;height:45px; margin-left:10px; _margin-left:5px;margin-top:5px;}
.Courses_right_Advisory_r{width:190px;  padding-left:10px; line-height:20px;color:#a19d9d;   white-space: normal;
    word-break: break-all;}
.Courses_right_Advisory_r_name_a{color:#10ae58}
.Courses_right_Advisory_box{width:221px; margin-left:8px; _margin-left:4px;border:1px solid #e2e0e0; padding:8px 6px;color:#666; line-height:18px; position:relative; margin-top:10px; font-size:12px;    white-space: normal;
    word-break: break-all;}
.Courses_right_Advisory_box_icon{width:7px;height:5px; display:block; background:url(../images/yun_kc_icon3.jpg) no-repeat; position:absolute;left:10px;top:-5px;}
.Courses_right_Advisory_more{width:100%;height:42px;border-top:1px solid #fff; background:#fff; text-align:center; line-height:42px;}
.Agency_banner{width:1200px;height:160px;}
.Agency_nav{width:100%;height:35px; background:#000; position:relative}
.Agency_nav_ul{ padding-left:170px;}
.Agency_nav_ul li{width:75px; float:left; text-align:center}
.Agency_nav_ul li a{ display:block; line-height:35px;color:#fff;}
.Agency_nav_ul .Agency_nav_ul_cur{ background:#1369c0; font-weight:bold}
.Agency_logo{width:120px;height:120px; padding:5px; background:#fff; position:absolute;left:10px;bottom:5px;}
.Agency_Int {width:1200px; background:#fff; margin-bottom:5px;;}
.Agency_Int_Name{ font-size:16px; font-weight:bold;width:100%; padding:10px 0;}
.Agency_Int_Consulting{width:40px; display:inline-block; font-weight:normal; padding:3px 6px;color:#fff; background:#5fa51a; font-size:12px; text-align:center}
.Agency_Int_Consulting:hover{color:#fff;}

.Agency_Int_Consultings{display:inline-block; font-weight:normal;  padding:3px 16px;color:#fff; background:#f60; font-size:12px; text-align:center}
.Agency_Int_Consultings:hover{color:#fff;}
.Agency_Int_spans{ display:inline-block;color:#71736e; margin-right:40px; width:160px; height:16px; font-size:12px;}

.Agency_Int_left{ padding:10px;}
.Agency_Int_span{ display:inline-block;color:#71736e; line-height:25px; margin-right:40px;}
.Agency_Int_kb{color:#71736e; line-height:25px;}
.Agency_Int_p{line-height:28px; text-indent:10px; padding:10px;color:#71736e}
.Agency_Int_p_a{color:#f80}
.info_tab_l {width:15px;height:115px; background:url(../images/info_tab.png) no-repeat 0 0; margin-left:10px; cursor:pointer}
.info_tab_r {width:16px;height:115px; background:url(../images/info_tab.png) no-repeat -15px 0px; margin-right:10px; cursor:pointer}
.company_box_pic{ float: left;overflow: hidden;padding: 0 5px 0 4px; width:910px; margin-top:10px;}
.company_box_pic li { background:FFFFFF;border: 1px solid #E3EAEB;display: inline;float: left; padding: 1px;text-align: center; line-height:24px;}
.company_box_pic img { height: 90px;width: 129px;}
.ab_about_fj ul li {background:#F8F8F8;border: 1px solid #E3EAEB;float: left;line-height: 24px; margin: 10px 6px 4px;_margin: 10px 5px 4px; padding: 5px; text-align: center; width:205px;}
.ab_about_fj ul li img {height: 150px; width:205px;}
.ab_about_fj ul li a {display: block;}
.Courses_right_Advisory_box_690{width:850px;}
.Courses_right_Advisory_hf{width:830px;border: 1px solid  #E7E77C ; color:#894802; line-height: 18px; margin-left: 5px;_margin-left:3px;  padding: 3px; background:#FBFBE1;}
.Courses_right_Advisory_rw600{width:600px;}
.Consulting_sub{ padding:10px;}
.Consulting_sub_l{width:100%; margin-top:10px; float:left}
.Consulting_sub_left{width:100px; line-height:30px; text-align:right; font-size:14px;color:#666}
.messaget_kuang{width:550px;height:100px;border:1px solid #e8e8e8;}
.messaget_kuang01{width:280px;height:30px; line-height:30px;color:#666;border:1px solid #e8e8e8;}
.messaget_kuang02{width:180px;height:30px; line-height:30px;color:#666;border:1px solid #e8e8e8;}
.messaget_kuang01fl{ float:left}
.Consulting_sub_cor{color:#F00}
.Consulting_sub_corfl{ line-height:30px; float:left; padding-left:10px;}
.Courses_Table_detail_touch{ padding:10px; line-height:35px;}
.Courses_Table_detail_touch li{height:35px;line-height:35px;}
.Courses_Table_detail_touch_s{ font-weight:bold;color:#555;}
.courses_content_pp{width:20px;height:29px;display:block;float:left;background:url(../images/yun_wap_jobshow_teluser%203.png) no-repeat 0 5px;padding-right:10px;}
.courses_content_qq{width:20px;height:26px;    background-size: 100%;float:left;background:url(../images/qqz.png) no-repeat 0 5px;padding-right:10px;}
.courses_content_lx{width:20px;height:25px;background-size: 100%;float:left;background:url(../images/yun_wap_jobshow_telicon.png) no-repeat 0 5px;padding-right:10px;}
.courses_content_sj{width:20px;height:29px;display:block;float:left;background:url(../images/yun_wap_jobshow_teluser.png) no-repeat 0 4px;padding-right:10px;}
.courses_content_yj{width:20px;height:29px;display:block;float:left;background:url(../images/yjj.png) no-repeat 0 6px;padding-right:10px;}
.courses_content_dz{width:20px;height:26px;display:block;float:left;background:url(../images/yun_wap_jobshow_map.png) no-repeat 0 6px;padding-right:10px;}
.courses_content_wz{width:20px;height:26px;display:block;float:left;background:url(../images/dz.png) no-repeat 0 6px;padding-right:10px;}
.training_Courses_picw27 {width:127px;}
.training_subject_coy{width:1198px;height:40px; line-height:40px;color:#666;font-size:14px;  text-indent:10px; background:#fff}
.Courses_Table_news{ padding:10px;}
.Courses_Table_news li{width:100%; line-height:30px; line-height:30px; float:left}
.Courses_Table_news .Courses_Table_news_tit{ width:780px;float:left; background:url(../images/yun_icon2.jpg) no-repeat left 13px; padding-left:10px; font-size:14px;}
.Courses_Table_news em{ float:right;color:#666}
.Courses_Team{border-bottom:1px dashed #e8e8e8; padding-top:10px; padding-bottom:10px;}
.Courses_Team_content{ padding:10px;}
.Courses_Team dt{width:100px;height:120px;border:1px solid #e8e8e8; padding:5px; float:left}
.Courses_Team  dd{width:760px; float:left; padding-left:20px; line-height:22px;color:#666}
.Courses_Team_name{ font-weight:bold; font-size:14px; display:block}
.Courses_Team_name_look{width:100px;height:30px; line-height:30px; text-align:center; background:#f80;color:#fff; display:block; margin-top:10px; font-size:14px;font-family:微软雅黑;}
.Courses_Team_name_look:hover{ background:#f30;color:#fff; text-decoration:none}
.Courses_right_Advisory_b{width:840px;}
.training_Courses_picw110{width:110px;}
.training_Courses_zy{ font-size:12px; font-weight:normal;color:#FF6600}
.messaget_sub{width:80px;height:30px; background:#f80;border:none;color:#fff;}
.titHd{border-bottom: 1px solid #D1D1D1;  font-family: Microsoft YaHei;font-size: 24px;font-weight: normal;margin-bottom: 10px; padding: 10px 0; text-align: center;}
.titBar { color: #999999; margin-bottom:10px;text-align: center;}
.Courses_news_cont{ padding:10px; line-height:25px;}
.titHd_pic{width:100%; text-align:center}
.titHd_jianjie{ font-size:14px; font-weight:bold; margin-top:10px;}
.training_reg{width:1198px;border:1px solid #dcdcdc; background:#fff; padding-bottom:10px;border-radius:5px; }
.training_reg_h1{height:90px; line-height:90px;border-bottom:1px solid #F5F5F5;}
.training_reg_h1_span{ font-size:24px;font-family: Microsoft YaHei; margin-left:20px;}
.training_reg_h1_bt{ margin-left:20px; font-size:14px;color:#666}
.training_reg_h1_i{color:#FF0000}
.training_reg_left{width:700px;border-right:1px solid #F5F5F5; margin-top:10px; padding-left:100px;}
.training_reg_left ul li{width:100%; float:left; margin-top:20px;}
.training_reg_left ul li .training_reg_em{ display:block; float:left;width:140px;height:38px; line-height:38px; text-align:right; font-size:14px;}
.training_reg_text{ border: 1px solid #D2D2D2;float: left; height: 38px; line-height: 38px;width: 260px;}
.training_reg_textw120{width:120px;}
.reg_btn_s02_disable{ border: 1px solid #D2D2D2;float: left; height: 38px; line-height: 38px;width: 118px; text-align:center; margin-left:20px;}
.btn_reg_submit{ background-color: #599FF4;border-radius: 5px;color: #FFFFFF;cursor: pointer; display: inline-block; font-size: 16px;height: 40px; line-height: 40px;text-align: center;width: 154px;border:none;}
.training_reg_a{ display:block; float:left; line-height:34px; padding-left:10px;}
.training_reg_right{width:305px; padding-left:20px; padding-top:20px; }
.training_reg_right_log{ padding-top:20px; font-size:14px;}
.training_reg_right_log_a{ display:inline-block;    background-color: #51C548; border-radius: 3px; color: #FFFFFF;font-size: 18px;height: 35px;line-height: 35px;margin-left: 15px;text-align: center; width: 70px; font-size:12px;}
.training_reg_right_log a:hover{color:#fff;}
.Sign_up_box li .Sign_up_box_span{ width:70px; display:inline-block; text-align:right;color:#666}
.txt_input {width:180px;border: 1px solid #DDDDDD;color: #333333;height: 20px;line-height: 20px; padding: 2px 3px;}
.Sign_up_box_span_n{  font-weight:bold;color:#105396}
.txt_input_submit{width:60px;height:28px; background:#f80;color:#fff;border:none; font-weight:bold; cursor:pointer}
.txt_textarea{width:290px;height:78px;border: 1px solid #DDDDDD;color: #333333; line-height: 20px; font-size:12px; vertical-align:top}
.top_right_re{position: relative;line-height:33px;}
.top_right {width:600px; position:absolute;right:0px;top:0px;}
.fastlogin{float:right;}
.fastlogin span{width:60px;float:left;text-align:center;line-height:35px} 
.fastlogin span img{vertical-align: middle;}
.top_right a {display: inline-block;}
.yun_topLogin { display: inline; float: left;height: 35px;line-height: 35px;position: relative;text-align: center;width: 80px;}
.yun_topLogin a {color: #777777;}
.yun_topLogin a:hover{ text-decoration:none}
.yun_topLogin a.yun_More { background: url(../images/yun_t_menu1.png) no-repeat  68px 15px;display: block; float: left;  height: 35px; padding-left: 10px; position: relative; text-align: left; width: 70px;}
.yun_topLogin a.yun_Morecurrent { background: url(../images/yun_t_menu2.png) no-repeat  68px 15px #FFFFFF; border-left: 1px solid #CCCCCC;border-right: 1px solid #CCCCCC;padding-left: 9px; width: 69px;}
.yun_Moredown {border:1px solid #e8e8e8;border-top:none;left: 0; position: absolute;top: 35px;z-index: 12; background:#fff}
.yun_top_nav_box{ width:295px;padding-left:10px; padding-right:10px; float:left; padding-top:5px;}
.yun_top_nav_h1{width:100%;height:25px; line-height:25px; background:#f8f8f8; font-weight:bold; text-indent:5px; float:left}
.yun_Moredown li {float: left;line-height: 28px; text-align: center;width: 78px;}
.yun_Moredown li a {color: #666666;}
.yun_Moredown li:hover {background-color: #F0F0F0;}
.yun_topNav {display: inline;height: 35px; line-height: 35px;position: relative;text-align: center; width: 80px;}
.yun_topNav a {color: #666666;}
.yun_topNav a:hover{ text-decoration:none}
.yun_topNav a.yun_navMore { background: url(../images/yun_t_menu1.png) no-repeat  70px 15px ;display: block; float: left; height: 35px;padding-left: 10px; position: relative;text-align: left;width: 70px;z-index: 203;}
.yun_topNav a.yun_webMorecurrent {background: url(../images/yun_t_menu2.png) no-repeat  70px 15px #FFFFFF;border-left: 1px solid #CCCCCC; border-right: 1px solid #CCCCCC; padding-left: 9px;width: 69px;}
.yun_webMoredown {background-color: #FFFFFF;border: 1px solid #CCCCCC; left: -237px; position: absolute;text-align: left; top: 34px; width: 315px; z-index: 202; overflow:hidden}
.yun_webMoredown .yun_top_nav_box_l {float: left;height: auto;padding-bottom: 5px;padding-left: 10px; padding-top: 5px;width:305px;}
.yun_webMoredown .yun_top_nav_box_l li { float: left;height: 30px;line-height:30px;width:95px;}
.yun_webMoredown .yun_top_nav_box_l li a {color: #666666;}
.yun_webMoredown .yun_top_nav_box_l li a:hover {color: #0095EB;}
.yun_top_nav_box_wx{width:100%;border-top:1px solid #ddd; float:left; padding:10px 0;}
.yun_top_nav_box_wx li{ width:70px;float:left}
.yun_top_nav_box_wx li a {width:50px;height:25px; line-height:25px; background: url(../images/mobile_ico.gif) no-repeat ;display: block;padding-left: 22px; float:left}
.yun_top_nav_box_wx li a.move_01 {background-position: 4px -130px;}
.yun_top_nav_box_wx li a.move_01:hover {background-position: 4px 5px;color: #FF6600 !important;}
.yun_top_nav_box_wx li a.move_02 {background-position: 2px -158px;}
.yun_top_nav_box_wx li  a.move_02:hover {background-position: 2px -23px;}
.yun_top_nav_box_wx li a.move_03 {background-position: 0 -210px;}
.yun_top_nav_box_wx li a.move_03:hover {background-position: 0 -75px;}
.yun_top_nav_box_wx li a.move_04 {background-position: 2px -185px;}
.yun_top_nav_box_wx li a.move_04:hover {background-position: 2px -50px;}
.header_Remind{ display:inline;width:40px;height:30px;  position:relative}
.header_Remind_list_a{width:103px; float:left; line-height:22px; padding-left:10px;}
.header_Remind b{color:#F00}
.header_Remind_list{width:110px;border:1px solid #e8e8e8; background:#fff; position:absolute;left:0px;top:32px; padding-right:6px; padding-bottom:5px;; z-index:500; padding-top:5px;}
.header_Remind_hover{ position:relative;  z-index:9999999; float:right}
.header_Remind_hover p{ padding-left:10px; line-height:23px;color:#666}
.header_Remind_em{ display:inline-block;background: url(../images/yun_t_menu1.png) no-repeat 33px 15px;display: block;float: left;height: 33px;padding-left: 10px;position: relative;text-align: left;width: 40px;z-index:600;}
.header_Remind_em_hover{width:38px;border-left:1px solid #e8e8e8;border-right:1px solid #e8e8e8;background:#fff url(../images/yun_t_menu2.png) no-repeat 33px 15px;}
.header_Remind_msg{ display:inline-block;width:17px;height:13px; background:url(../images/xf.gif) no-repeat; margin-top:12px;}
.header_Remind_em_hover .header_Remind_msg{ background:url(../images/xf_h.gif) no-repeat;}
.header_Remind_list_r{color:#f60; font-size:14px;}
.fr{ float:right}
.fl{ float:left}
.pagination {margin:6px 0 0;list-style: none;z-index:9999;position: absolute;bottom: 15px;right:15px;}
.pagination li {float: left;margin: 0 1px;}
.pagination li a {display: block;width: 13px;height: 0;padding-top: 13px;background-position: 0 0;float: left;overflow: hidden;background-image: url(../images/circle.png);}
.pagination li.current a, .pagination li.current a:hover { background-position: -16px -0px }
.pagination li a:hover { background-position: 0px -0px ;}
.reg_re{ position:relative; z-index:100;}
.reg_email_box{ position:absolute;width:260px;border:1px solid #D0D0D0; max-height:180px; _height:expression(this.scrollHeight > 160 ? "160px" : "auto"); overflow:auto;overflow-x:hidden;background:#fff;left:140px;top:40px;}
.reg_email_box_list{width:100%;height:27px; line-height:27px; font-size:14px;color:#666; text-indent:5px;}
.reg_email_box_list_hover{ background:#F1FBFF; cursor:pointer}
.reg_email_box_list .eg_email_box_list_left{color:#C00;}
.reg_tips{ float:left;height:38px; line-height:38px;margin-left:10px;color:#9c9c9c}
.reg_tips_red{ background:#fadada; padding:0px 10px; display:inline-block; color:#db0909;border-radius:4px}
.reg_tips_red .reg_tips_icon{ display:inline-block; width:12px;height:12px; background:url(../images/reg_tips.gif) no-repeat; margin-right:10px; float:left; margin-top:12px;}
.reg_tips_blue{ background:#def1db;padding:0px 10px; display:inline-block; color:#20a10b;border-radius:4px}
.reg_tips_blue .reg_tips_icon{ display:inline-block; width:12px;height:12px; background:url(../images/reg_tips.gif) no-repeat -25px 0; margin-right:10px; float:left; margin-top:12px;}.footer {width: 100%;clear: both}

.training_new_Courses_top_list dt img{border:1px solid #e8e8e8;}

.t_msg_no{width:100%; padding:40px 0; float:left; text-align:center}
.seachno {background:#FFFFFF;float: left;padding: 60px;width: 630px;}
.seachno_left {float: left;}
.listno-content {display: inline;float: left;line-height: 30px;margin-left: 50px;width: 420px;}
.listno-content strong {font-size: 20px;font-weight: bold;}
.training_Courses_rr{width:380px; margin-top:40px; line-height:23px;float:right}
.training_Courses_rr p{ padding-bottom:0px;}
.training_news_index_h1{width: 230px;height:38px; line-height:38px;border: 1px solid #e8e8e8;border-bottom:none;background: #f8f8f8; margin-top:22px;color:#166caf}
.training_news_index_h1 span{ font-size:16px; padding-left:10px;}
.Star_lecturer_cont_news{height:505px}
.Star_lecturer_cont_news .training_index_news{ padding:0px 10px 10px 10px}
/*新加首页幻灯*/
.flexslider { position: relative; height:300px; overflow: hidden; background: url(../images/loading.gif) 50% no-repeat;}
.slides { position: relative; z-index: 1;}
.slides li { height:300px;}
.flex-control-nav { position: absolute; bottom:20px;left:0px; z-index: 2; width: 100%; text-align: center;}
.flex-control-nav li { display: inline-block; width:47px; height: 14px; margin: 0 5px; *display: inline; zoom: 1;}

.flex-control-nav a { display: inline-block; width:47px; height: 4px; line-height: 40px; overflow: hidden; background: url(../images/circle_new.png) left 0 no-repeat; cursor: pointer;}
.flex-control-nav .flex-active { background-position: -58px 0px ;}
.index_msg_no_sj{width:100%;float:left;height:96px; line-height:96px;text-align:center; font-size:16px;}

.flex-direction-nav {margin: 0; padding: 0; list-style: none;*height: 0;}
.flex-direction-nav {*height: 0;}
.flex-direction-nav a  { text-decoration:none; display: block; width: 40px; height: 40px; margin: -20px 0 0; position: absolute; top: 50%; z-index: 10; overflow: hidden; opacity: 0; cursor: pointer; color: rgba(0,0,0,0.8); text-shadow: 1px 1px 0 rgba(255,255,255,0.3); -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; }
.flex-direction-nav .flex-prev,.flex-direction-nav .flex-next{display:block;height:77px;width:36px;position:absolute;top:130px;z-index:100;background:url(../images/prevNext.png) no-repeat;outline:none;*background:url(../images/prevNext.gif) no-repeat;background:url(../images/prevNext.gif) no-repeat\0;} 
.flex-direction-nav .flex-prev {left:0px;}
.flex-direction-nav .flex-next {right:0px;background-position:right top;}
.flexslider:hover .flex-prev { opacity: 0.7; left: -56px; }
.flexslider:hover .flex-next { opacity: 0.7; right: -56px; }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }
.flex-direction-nav a:before  { font-family: "flexslider-icon"; font-size: 40px; line-height:1; display: inline-block;} 

.com_msg_no{width:780px;color: #999; font-size: 15px; margin: 0 auto; padding: 140px 0 50px;text-align: center; background:url(../images/yun_no.jpg) no-repeat center 20px; line-height:30px;}
/*footer*/
.w1000{width:1200px; margin:0 auto}
.hp_foot{width:100%;text-align:center;background:#31383e;margin-top:20px;}
.hp_foot_wt{padding:45px 0px;}
.hp_foot_wh{width:630px;padding-left:50px; position:relative}
.hp_foot_wh_lline{width:1px;height:120px;border-left:1px  dashed #555555; display:inline-block; position:absolute;left:30px;top:40px;}
.hp_foot_wh_rline{width:1px;height:120px;border-left:1px  dashed #555555; display:inline-block; position:absolute;right:20px;top:40px;}
.hp_foot_wh dl{float:left;width:110px;text-align:center;}
.hp_foot_wh dl dt{color:#ccc; font-size:16px; padding-bottom:10px;}
.hp_foot_wh dl dd{color:#999; line-height:36px; font-size:12px;}
.hp_foot_wh dd ul li a{color:#999;}
.hp_foot_pho{width:255px;text-align:center; margin-top:20px;}
.hp_foot_pho dl{line-height:30px;}
.hp_foot_pho dl dt{width:54px;height:45px;display:block;margin:0 auto 10px;background:url(../images/kf_tel.png) no-repeat;}
.hp_foot_pho dl dd{color:#b3b1b1;}
.hp_foot_pho dl dd.hp_foot_pho_nmb{color:#ffa405;font-size:30px; padding:10px 0;}
.hp_foot_wx{margin-top:75px;width:105px;text-align:center; margin-left:20px;}
.hp_foot_wx dl dt{width:105px;height:115px;display:block;}
.hp_foot_wx dl dd{color:#ccc; font-size:12px;}
.hp_foot_bt{background:#31383e;line-height:30px;}
.hp_foot_bt_c{width:1200px; margin:0 auto;border-top:1px solid #50565b;padding-top:25px;padding-bottom:15px;}
.hp_foot_bt P{color:#999; font-size:12px;}
.hp_foot_bt P a{color:#999}
.hp_foot_bt_cr{color:#505050;}
.hp_foot_bt_bot{margin-top:20px;}.course_nm{padding-right:20px;color:#0053a5;}
.Courses_content_center_p_c{color:#5fa51a;font-weight:bold;}

.firm_list_right{ width:110px;float:right; margin-top:45px;}
.crop-add-yb{width:80px;height:30px; line-height:30px; text-align:center; background:#ffe300; display:block}
.crop-add-yb:hover{ background:#f1bb00;color:#333; text-decoration:none;}
.crop-add-yb_span{ display:inline-block; padding-top:5px;color:#666}
.dn{ display:none;}
.train_class{width:100%;overflow:hidden;}
.train_class ul{width:950px;padding:15px;}
.train_class ul li{height:232px;border:1px solid #e9e9e9;margin-bottom:15px;line-height:22px;float:left;width:150px;margin-right:10px;padding:10px;font-size:12px;}
.train_class_tit{padding-top:10px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;width:100%;}
.train_class_tit a{font-weight:bold;color:#1369c0;font-size:14px;}
.train_class_bm{width:45px;text-align:center;height:20px;line-height:20px;float:right;margin-top:10px;color:#8E1101;background:#FEEA7E;border: 1px solid #F0924D;}
.train_class_my{color:#f60;font-size:14px;font-weight:bold;}
.train_class_tm{color:#666;}
.train_class_dw{position:relative;color:#666;}
.train_class_bm{position:absolute;right:0;top:0;}
.train_class_lb{color:#666;overflow:hidden;white-space: nowrap;text-overflow:ellipsis;}
.train_class_m{color:#666;}
.train_class_city{color:#666;word-break:keep-all;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.Courses_Table_detail_other ul li{border: 1px solid #e9e9e9;margin-bottom: 15px;line-height:22px;float: left;width: 150px;margin-right: 10px;padding: 10px;font-size: 12px;}
.train_class_money{position:absolute;right:0px;top:10px;}
.courses_bb{position:absolute;right:0;top:5px;}
.train_reg_pt{position:relative; z-index:100}
.courses_detail_t{width:908px;}
.gt_holder.gt_popup{ z-index:99999}
.train_class_c{height:44px;}
.job_hare{width:100%; padding:20px 0;}
.job_hare span{ float:left;}
.job_hare_fl{ float:left; line-height:28px;}
.courses_bb_ok{background:#e9e9e9;color:#555;}
.team_show_box{width:890px;  padding:20px; float:left}
.team_show_box_cont{width:100%; background:#f8f8f8; float:left}
.team_show_box_cont_pic{width:140px; padding:20px; float:left}
.team_show_box_cont_pic img{border-radius:50%;border:5px solid #fff}
.team_show_box_right{width:600px; float:left; padding-left:30px; padding-top:35px; position:relative}
.team_show_box_right_name{ font-size:22px; padding-bottom:10px;}
.team_show_box_right_p{ line-height:30px;}
.team_show_box_right_p2{ line-height:25px;color:#F00}
.team_show_gz{ position:absolute;right:20px;top:70px;}
.team_show_gz_a{ display:inline-block; padding:7px 15px; background:#f60;color:#fff}
.team_show_gz_a:hover{ background:#f30;color:#fff; text-decoration:none;}
.Search_clear{line-height:30px;color:#093; background:url(../images/empty1.png) no-repeat left center; padding-left:18px; position:absolute;right:10px;top:5px;}
.Search_clear a{color:#f60}
.Search_close_box{width:1010px; padding:6px 100px 10px 86px; position:relative; float:left;border-bottom:1px solid #ddd; z-index:20}
.Search_close_box_s{position:absolute;left:0px;top:0px; line-height:45px; text-align:center;width:90px;color:#F30;}
.resume_job_tag{background:#e5f1f9; margin-right:5px; margin-top:3px; display:inline-block; padding:0px 5px 0px 5px;height:20px; line-height:20px; position:relative; white-space:nowrap; font-size:12px;color:#666}

.resume_yx_job{width:410px; padding-left:72px; height:28px; overflow:hidden;position:relative}
.resume_yx_job_name{position:absolute;left:0px;top:0px;}
.disc_sx .disc_zwsx{  font-size:15px; padding-right:10px; float:left}
.disc_fac{ float:none;background: url(../images/job_det.jpg) no-repeat right center #fff7ee; border:1px solid #e4393c;  color:#666;margin-left:5px; display:inline-block;height:25px; line-height:25px; padding:0px 28px 0px 5px;margin-top:4px; float:left;white-space:nowrap;}
.disc_fac:hover{border:1px solid #e4393c; text-decoration:none;background: url(../images/job_det_h.jpg) no-repeat right center #ffffff;}
.Search_jobs_scq{color:#1369c0; margin-left:5px; line-height:22px; margin-top:3px; display:block; float:left; white-space:nowrap;}
.disc_zwsx_jt { float:left; margin-right:5px; display:inline-block}
.Search_jobs_c_a_ln{float:right; display:inline-block;height:48px; line-height:48px; padding:0 20px; }
.disc_search{ float:right; display:block;}
.training_verification{width:262px; float:left}

.training_index_tit{width:100%; float:left; padding-top:20px;}
.training_index_tit_s{ font-size:28px;}
.training_index_tit_more{ float:right; line-height:30px;color:#09924b}
.training_index_tit_e{ font-size:14px; margin-left:30px;color:#999; display:inline-block; vertical-align:middle}
.hunter_banner_con{width:100%;height:380px; text-align:center; position:relative}
.layui-carousel  img{display: block;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);/* for Chrome || Safari */-moz-transform:translate(-50%,-50%);       /* for Firefox */ -ms-transform:translate(-50%,-50%);/* for IE */-o-transform: translate(-50%,-50%);/* for Opera */}

.reg_have_tip{ padding:40px 10px 10px 160px; position:relative}
.reg_have_tip_icon{width:48px;height:48px; background:url(../images/yun_tipicon.png) no-repeat; display:inline-block; position:absolute;left:90px;top:45px;}
.reg_have_tip_tit{ font-size:18px; padding:5px 0 8px 0;}
.reg_have_tip_tit_name{color:#0068b7; font-weight:bold; display:inline-block; }
.reg_have_tip_zc{color:#666}
.reg_have_tip_p{ padding:15px 170px 15px 50px; line-height:22px; position:relative;color:#666}
.reg_have_tip_bth{width:85px;height:30px; background:#0068b7;color:#fff; display:inline-block;border-radius:3px; position:absolute;right:30px;top:10px; text-align:center; line-height:30px;}
.reg_have_tip_bth:hover{color:#fff; background:#39a4f5; text-decoration:none;}
.reg_have_tip_p_c{ padding:20px 0;}
.reg_have_tip_kf{border-top:1px solid #eee; padding:20px; text-align:center;}
.reg_have_tip_kf_tel{color:#f00}

.reg_have_jc{ padding:10px;}
.reg_have_jc li{ padding:10px 10px 5px 90px; position:relative}
.reg_have_jc_name{width:90px; line-height:35px; display:inline-block; position:absolute;left:0px;top:10px; text-align:right}
.reg_have_jc_name_text{width:180px;height:35px;border:1px solid #ddd; text-indent:10px;color:#666}
.reg_have_jc_bth{width:180px;height:38px;border-radius:3px; border:none;text-align:center; background:#0068b7;color:#fff; cursor:pointer}
.reg_have_jc_name_textyz{width:100px;height:35px;border:1px solid #ddd; vertical-align:top;text-indent:10px;color:#666}
.training_tj_box{width:100%; overflow:hidden;}
.training_tj_box_c{width:1250px;}
.training_tj_list li{width:280px; float:left; margin-right:30px; background:#fff;-webkit-box-shadow: 0 2px 2px rgba(0,0,0,.08);box-shadow: 0 2px 2px rgba(0,0,0,.08); float:left; margin-top:20px;}
.training_tj_list li:hover{-webkit-box-shadow: 0 4px 20px rgba(0,0,0,.2);
    box-shadow: 0 4px 20px rgba(0,0,0,.2);
    -webkit-transition: .25s;
    transition: .25s;}
.training_tj_img{width:100%; overflow:hidden}
.training_tj_list li  .training_tj_img img {
   
    margin-bottom: 15px;
    display: block;
    -webkit-transition: all ease .6s;
    transition: all ease .8s;
}
.training_tj_list li img:hover {
    -webkit-transform: scale(1.07);
    transform: scale(1.07);
}
.training_tj_box_info{ padding:10px;}
.training_tj_box_name{   height:55px; font-size: 18px;line-height:25px;}
.training_tj_box_name a:hover{color:#f60;}
.training_tj_box_comname{width:100%;height:20px; line-height:20px;color: #999;font-size: 14px;white-space: nowrap;text-overflow: ellipsis; overflow:hidden}
.training_tj_box_b{color:#999; font-size:12px; padding-top:10px; padding-bottom:10px;}
.training_tj_box_jg{ font-size:24px;color:#f00; margin-right:20px;}
.training_tj_box_user{ padding-left:18px; display:inline-block; background:url(../images/r.jpg) no-repeat left center}


.training_index_js li{
    width: 225px;
    float: left;
    text-align: center;
    background: #fff;
    margin: 20px 20px 0px 0;
}
.training_index_img{width:100%;height:185px; overflow:hidden}
.training_index_js_name {
    font-size: 16px;
    color: #333333;
    line-height: 21px;
    margin: 20px 0 11px;
    height: 21px;
    overflow: hidden;
}
.training_index_sc{
    width: 140px;
    font-size: 14px;
    color: #888;
    line-height: 22px;
    margin: 0 auto 25px;
    height: 44px;
    overflow: hidden;
}
.training_index_newslist{width:100%; background:#fff; float:left}
.training_index_jg{width:100%; background:#fff; padding:10px 0 50px 0; float:left; margin-top:30px;border-top:1px solid #eee;border-bottom:1px solid #eee;box-shadow: 2px 2px 15px rgba(137, 137, 137, 0.2);}
.training_index_newslist { padding-top:20px;}
.training_index_newslist li{width:445px;height: 59px; line-height:59px; float:left; padding-left:130px; position:relative; margin-right:50px;}
.training_index_newslist_box{width:445px;border-bottom: 1px dashed #ebeaea;float:left;    font-size: 16px;}
.training_index_newstime{ position:absolute;left:0px;top:0px;    color: #999999;}
.training_index_newsxq{ position:absolute;right:0px;top:0px;color: #999999;}
.training_index_news_line{width:1px;height:30px; background:#ddd; position:absolute;left:100px;top:17px;}
.training_index_news_quan{width:7px;height:7px; background:#ffddcf;border-radius:50%; position:absolute;left:97px;top:27px;}
.training_index_jg_list li{width:180px; float:left; text-align:center; margin-top:30px; margin-right:20px;padding-top:20px;border:1px solid #eee;border-radius:5px; background:#fff}
.training_index_jg_list li:hover{box-shadow: 2px 2px 15px rgba(137, 137, 137, 0.2);
    -ms-box-shadow: 2px 2px 15px rgba(137, 137, 137, 0.2);
    -moz-box-shadow: 2px 2px 15px rgba(137, 137, 137, 0.2);
    -webkit-box-shadow: 2px 2px 15px rgba(137, 137, 137, 0.2);
    -o-box-shadow: 2px 2px 15px rgba(137, 137, 137, 0.2); }
.training_index_jg_list li img{}
.training_index_jg_name{ padding-top:15px; padding-bottom:15px;}
.training_index_newsbox{width:100%; background:#fff; padding:0 0 40px 0; float:left; margin-top:30px;}
.training_kc_box{width:965px; float:left; background:#fff}
.training_kc_list{width:100%; padding:20px 0;border-bottom:1px solid #eee; float:left; background:#fff}
.training_kc_list:hover{box-shadow: 2px 2px 15px rgba(137, 137, 137, 0.2);
    -ms-box-shadow: 2px 2px 15px rgba(137, 137, 137, 0.2);
    -moz-box-shadow: 2px 2px 15px rgba(137, 137, 137, 0.2);
    -webkit-box-shadow: 2px 2px 15px rgba(137, 137, 137, 0.2);
    -o-box-shadow: 2px 2px 15px rgba(137, 137, 137, 0.2); }
.training_kc_boxpic{width:280px; float:left; padding-left:20px;}
.training_jg_boxpic{width:120px; float:left; padding-left:20px;}
.training_kc_info{ padding-left:30px; float:left;width:647px;}
.training_kc_name{ font-size:18px;}
.training_kc_jg{ padding:15px 0 15px 0;color:#999 }
.training_kc_jg_n{font-size:22px;color:#f00}
.training_subject_show{width:100%; background:#fff; float:left; padding:20px 0;}
.training_subject_show_pic{width:480px; float:left; padding-left:20px; }
.training_subject_show_info{width:650px; float:left; padding-left:30px;}
.training_subject_show_info_name{    color: #333;font-size: 20px;}
.training_subject_show_info_p{ padding-top:10px; padding-bottom:10px; color:#666}
.training_subject_show_info_jd{font-size:32px;color:#f00}
.training_subject_show_info_other{  line-height:33px;color:#999; font-size:12px;}
.training_subject_show_info_other_n{ margin-right:40px;}
.training_subject_show_left{width:930px; float:left; background:#fff; margin-top:20px;}
.training_subject_show_left_tit{ padding:20px; font-size:16px; font-weight:bold; position:relative}
.training_subject_show_left_tit:after{width:5px;height:18px; background:#25ad60; display:inline-block; position:absolute;left:0px;top:22px;content:"";}
.training_subject_show_left_cont{ padding:0px 20px; line-height:30px;color:#666}
.training_subject_show_left_cont img{ max-width:100%;}
.training_subject_show_right{width:250px; float:right; margin-top:20px;}
.training_subject_show_left_p1{ padding-left:20px; line-height:33px;color:#666}
.training_subject_show_hottel{ padding-top:30px;width:100%; float:left;color:#999}
.training_subject_show_hottel_n{ font-size:20px;color:#666; vertical-align:middle; margin-right:10px;}
.training_kc_info_js{ padding:10px 0; line-height:30px;color:#666}
.training_Courses_zx_ar{ width:100%; display:block; padding-top:5px;text-align:center;color:#999; font-size:12px;}