<link rel="stylesheet" href="{yun:}$school_style{/yun}/css/css.css?v={yun:}$config.cachecode{/yun}" type="text/css"/>
<link href="{yun:}$config.sy_weburl{/yun}/js/layui/css/layui.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<div class="school_header">
<div class="school_w1200">
<div class="school_logo"><a href="{yun:}$config.sy_weburl{/yun}"><img src="{yun:}$config.sy_ossurl{/yun}/{yun:}$config.sy_px_logo{/yun}" class="png" width="200"></a></div>
<ul class="school_nav">
<li {yun:}if $def==""{/yun}class="acurrent"{yun:}/if{/yun}><a href="{yun:}url m=school{/yun}" >首页</a></li>
<li {yun:}if $def=="1"{/yun}class="acurrent"{yun:}/if{/yun}><a href="{yun:}url m=school c=job{/yun}">网申职位 </a></li>
<li {yun:}if $def=="2"{/yun}class="acurrent"{yun:}/if{/yun}><a href="{yun:}url m=school c=xjh{/yun}">校招宣讲会</a></li> 
<li {yun:}if $def=="3"{/yun}class="acurrent"{yun:}/if{/yun}><a href="{yun:}url m=school c=academy{/yun}">院校</a></li>
</ul>
<div class="school_header_r">
<a href="{yun:}url m=wap c=school{/yun}" class="school_header_wap">手机端</a>
<a href="{yun:}$config.sy_weburl{/yun}" class="school_header_home">人才网首页</a>
</div>
</div>
</div>