<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>{yun:}$title{/yun}</title>
<meta name="keywords" content="{yun:}$keywords{/yun}" />
<meta name="description" content="{yun:}$description{/yun}" />
<div class="clear"></div>
</head>
<body class="body_bg">
{yun:}include file="$schoolstyle/header.htm"{/yun}
<div class="school_w1200">

  <div class="clear"></div>
  <div class="Search_jobs_box"> 
   <div class="Search_jobs_tit"><span class="Search_jobs_tit_s">筛选</span>   
   <div class="searchBox">
    <form action="{yun:}$config.sy_weburl{/yun}/school/" method="get" id="form" onsubmit="return search_keyword(this,'请输入院校名称');">
	  <input type="hidden" name="c" value="{yun:}$smarty.get.c{/yun}">
    
            <input type="text" name="keyword" value="{yun:}if $smarty.get.keyword{/yun}{yun:}$smarty.get.keyword{/yun}{yun:}else{/yun}请输入院校名称{yun:}/if{/yun}" onclick="if(this.value=='请输入院校名称'){this.value=''}" onblur="if(this.value==''){this.value='请输入院校名称'}" class="searchBox_text ">
            <input type="submit" value="" class="searchBox_bth">
         
    </form>
  </div>
   </div> 
    <!--   city-->
    {yun:}if $config.sy_web_site==1 && $config.cityname && $config.cityname!=$config.sy_indexcity{/yun}
		  <div class="Search_citybox">
          <div class="Search_cityboxname"> 所在城市</div>
          <div class="Search_citybox_right">
          <div class="Search_cityboxright">
		  <div class="search_city_list">
		  {yun:}if !$smarty.get.cityid && $smarty.get.three_cityid{/yun}
		  <a class="city_name city_name_active" style="text-decoration:none;cursor:pointer;">{yun:}$city_name[$smarty.get.three_cityid]{/yun}</a>
		  {yun:}else{/yun}
			  {yun:}if is_array($city_type[$smarty.get.cityid]){/yun}
			  <a href="{yun:}listurl m=school c=academy untype=three_cityid{/yun}" class="city_name {yun:}if !$smarty.get.three_cityid {/yun}city_name_active{yun:}/if{/yun}">不限</a>
			  {yun:}foreach from=$city_type[$smarty.get.cityid] item=tid key=key{/yun}
			  <a href="{yun:}listurl m=school c=academy type=three_cityid v=$tid{/yun}" class="city_name {yun:}if $smarty.get.three_cityid==$tid{/yun}city_name_active{yun:}/if{/yun}">{yun:}$city_name[$tid]{/yun}</a>
			  {yun:}/foreach{/yun}
			  {yun:}elseif is_array($city_type[$smarty.get.provinceid]){/yun}
			  <a href="{yun:}listurl m=school c=academy untype=cityid{/yun}" class="city_name {yun:}if !$smarty.get.cityid {/yun}city_name_active{yun:}/if{/yun}">不限</a>
			  {yun:}foreach from=$city_type[$smarty.get.provinceid] item=cid key=key{/yun}
			  <a href="{yun:}listurl m=school c=academy type=cityid v=$cid{/yun}" class="city_name {yun:}if $smarty.get.cityid==$cid{/yun}city_name_active{yun:}/if{/yun}">{yun:}$city_name[$cid]{/yun}</a>
			  {yun:}/foreach{/yun}
			  {yun:}else{/yun}
			  <a class="city_name city_name_active" style="text-decoration:none;cursor:pointer;">{yun:}$city_name[$smarty.get.cityid]{/yun}</a>
			  {yun:}/if{/yun}
		   {yun:}/if{/yun}
		  </div>
          </div>
         </div>
         </div>
		  {yun:}else{/yun}
          <div class="Search_citybox">
          <div class="Search_cityboxname"> 所在城市</div>
          <div class="Search_citybox_right">
		  <div class="Search_cityall none">
		  <a href="{yun:}listurl m=school c=academy type=provinceid v=0{/yun}" class="city_name">全国</a>
		  {yun:}foreach from=$city_index item=pid key=key{/yun}
          <a href="{yun:}listurl m=school c=academy type=provinceid v=$pid{/yun}" class="city_name {yun:}if $smarty.get.provinceid==$pid{/yun}city_name_active{yun:}/if{/yun}">{yun:}$city_name[$pid]{/yun}</a>
          {yun:}/foreach{/yun}
		  </div>
          <div class="Search_cityboxright">
          <a href="javascript:;" onclick="acityshow('1')" class="search_city_list_cur {yun:}if $smarty.get.provinceid && !$smarty.get.cityid || !is_array($city_type[$smarty.get.cityid]){/yun}search_city_active{yun:}/if{/yun} {yun:}if !$smarty.get.provinceid{/yun}none{yun:}/if{/yun} acity_two" style="text-decoration:none;cursor:pointer;"><span class="search_city_p">{yun:}$city_name[$smarty.get.provinceid]{/yun}</span><i class="search_city_p_jt"></i><i class="search_city_list_line"></i></a>
		  <a href="javascript:;" {yun:}if $smarty.get.cityid{/yun}onclick="acityshow('2')"{yun:}/if{/yun} class="search_city_list_cur {yun:}if $smarty.get.cityid && is_array($city_type[$smarty.get.cityid]){/yun}search_city_active{yun:}/if{/yun} {yun:}if !$smarty.get.provinceid || !$smarty.get.cityid || !is_array($city_type[$smarty.get.cityid]){/yun}none{yun:}/if{/yun} acity_three" style="text-decoration:none;cursor:pointer;"><span class="search_city_p">{yun:}if !$smarty.get.cityid{/yun}不限{yun:}else{/yun}{yun:}$city_name[$smarty.get.cityid]{/yun}{yun:}/if{/yun}</span><i class="search_city_list_line"></i></a>
		  <a href="{yun:}listurl m=school c=academy type=provinceid v=0{/yun}" class="search_city_list_all {yun:}if !$smarty.get.provinceid{/yun}city_name_active{yun:}/if{/yun}">全国</a>
          <div class="search_city_list">
		  {yun:}foreach from=$city_index item=pid key=key{/yun}
          <a href="{yun:}listurl m=school c=academy type=provinceid v=$pid{/yun}" class="city_name {yun:}if $smarty.get.provinceid && !$smarty.get.cityid{/yun}{yun:}if $key>13{/yun}none{yun:}/if{/yun}{yun:}else if $smarty.get.cityid{/yun}{yun:}if $key>12{/yun}none{yun:}/if{/yun}{yun:}else{/yun}{yun:}if $key>14{/yun}none{yun:}/if{/yun}{yun:}/if{/yun} {yun:}if $smarty.get.provinceid==$pid{/yun}city_name_active{yun:}/if{/yun}">{yun:}$city_name[$pid]{/yun}</a>
          {yun:}/foreach{/yun}
		  </div>
          <a href="javascript:;" class="search_city_list_more" id="acity">更多</a>
          </div>
          <div class="Search_cityboxclose {yun:}if !$smarty.get.provinceid || ($smarty.get.provinceid && $smarty.get.cityid && is_array($city_type[$smarty.get.cityid])){/yun}none{yun:}/if{/yun}" id="acity_two"> 
		  <a href="{yun:}listurl m=school c=academy untype=cityid{/yun}" class="city_name {yun:}if $smarty.get.provinceid&&!$smarty.get.cityid&&!$smarty.get.three_cityid{/yun}city_name_active{yun:}/if{/yun}">不限</a>
		  {yun:}foreach from=$city_type[$smarty.get.provinceid] item=cid key=key{/yun}
		  <a href="{yun:}listurl m=school c=academy type=cityid v=$cid{/yun}" class="city_name {yun:}if $smarty.get.cityid==$cid{/yun}city_name_active{yun:}/if{/yun}">{yun:}$city_name[$cid]{/yun}</a>
		  {yun:}/foreach{/yun}
		  </div>
		  <div class="Search_cityboxclose {yun:}if !$smarty.get.cityid || !is_array($city_type[$smarty.get.cityid]){/yun}none{yun:}/if{/yun}" id="acity_three"> 
		  <a href="{yun:}listurl m=school c=academy untype=three_cityid{/yun}" class="city_name {yun:}if $smarty.get.provinceid && $smarty.get.cityid && !$smarty.get.three_cityid {/yun}city_name_active{yun:}/if{/yun}">不限</a>
		  {yun:}foreach from=$city_type[$smarty.get.cityid] item=tid key=key{/yun}
		  <a href="{yun:}listurl m=school c=academy type=three_cityid v=$tid{/yun}" class="city_name {yun:}if $smarty.get.three_cityid==$tid{/yun}city_name_active{yun:}/if{/yun}">{yun:}$city_name[$tid]{/yun}</a>
		  {yun:}/foreach{/yun}
		  </div>
         </div>
         </div>
        {yun:}/if{/yun}
  <!--   city end-->
  
  <div class="Search_jobs_form_list">
    <div class="Search_jobs_name">学科类别</div>
    <div class="Search_jobs_sub ">
      <div class="Search_jobs_sub_Box "> 
        <!--点击 更多 增加 Search_jobs_sub_nore --> 
           <a href="{yun:}listurl m=school c=academy type=categty v=0{/yun}" class="Search_jobs_sub_a {yun:}if $smarty.get.categty==''{/yun}Search_jobs_sub_cur{yun:}/if{/yun}">全部</a> 
		  {yun:}foreach from=$schoolata.school_categty item=v key=key{/yun} <a href="{yun:}listurl  m=school c=academy type=categty v=$v{/yun}" class="Search_jobs_sub_a {yun:}if $key>9{/yun}none{yun:}/if{/yun} {yun:}if $key>9{/yun}taglist{yun:}/if{/yun} {yun:}if $smarty.get.categty==$v{/yun}Search_jobs_sub_cur{yun:}/if{/yun}">{yun:}$schoolclass_name[$v]{/yun}</a> {yun:}/foreach{/yun}</div>
		  {yun:}if count($schoolata.school_categty)>10{/yun}
		  <div class="zh_more"> <a href="javascript:checkmore('taglist');" id="taglist" rel="nofollow">更多</a> </div>
		  {yun:}/if{/yun}
    </div>
  </div>
  <div class="Search_jobs_form_list">
    <div class="Search_jobs_name">办学层次</div>
    <div class="Search_jobs_sub ">
      <div class="Search_jobs_sub_Box "> 
       <a href="{yun:}listurl m=school c=academy type=level v=0{/yun}" class="Search_jobs_sub_a {yun:}if $smarty.get.level==''{/yun}Search_jobs_sub_cur{yun:}/if{/yun}">全部</a> 
		  {yun:}foreach from=$schoolata.school_level item=v key=key{/yun} <a href="{yun:}listurl  m=school c=academy type=level v=$v{/yun}" class="Search_jobs_sub_a {yun:}if $key>9{/yun}none{yun:}/if{/yun} {yun:}if $key>9{/yun}taglist{yun:}/if{/yun} {yun:}if $smarty.get.level==$v{/yun}Search_jobs_sub_cur{yun:}/if{/yun}">{yun:}$schoolclass_name[$v]{/yun}</a> {yun:}/foreach{/yun}</div>
		  {yun:}if count($schoolata.school_level)>10{/yun}
		  <div class="zh_more"> <a href="javascript:checkmore('taglist');" id="taglist" rel="nofollow">更多</a> </div>
		  {yun:}/if{/yun}
    </div>
  </div>
 {yun:}if $smarty.get.provinceid||$smarty.get.cityid||$smarty.get.three_cityid||$smarty.get.categty||$smarty.get.level||$smarty.get.keyword{/yun}
  <div class="Search_close_box">
  
         <div>
          <div class="Search_clear"> <a href="{yun:}url m=school c=academy{/yun}"> 清除所选</a></div>
         <span class="Search_close_box_s">已选条件：</span>
         </div>
		 {yun:}if $smarty.get.provinceid{/yun}<a href="{yun:}listurl m=school c=academy untype=provinceid{/yun}" class="Search_jobs_c_a disc_fac">城市：{yun:}$city_name[$smarty.get.provinceid]{/yun}</a>&nbsp; {yun:}/if{/yun}
		 {yun:}if $smarty.get.cityid{/yun}<a href="{yun:}listurl m=school c=academy untype=cityid{/yun}" class="Search_jobs_c_a disc_fac">{yun:}$city_name[$smarty.get.cityid]{/yun}</a>&nbsp; {yun:}/if{/yun}
		 {yun:}if $smarty.get.three_cityid{/yun}<a href="{yun:}listurl m=school c=academy untype=three_cityid{/yun}" class="Search_jobs_c_a disc_fac">{yun:}$city_name[$smarty.get.three_cityid]{/yun}</a>&nbsp; {yun:}/if{/yun}

		 {yun:}if $smarty.get.categty{/yun}<a href="{yun:}listurl m=school c=academy untype=categty{/yun}" class="Search_jobs_c_a disc_fac">学科类别：{yun:}$schoolclass_name[$smarty.get.categty]{/yun}</a>&nbsp; {yun:}/if{/yun}
		 {yun:}if $smarty.get.level{/yun}<a href="{yun:}listurl m=school c=academy untype=level{/yun}" class="Search_jobs_c_a disc_fac">办学层次：{yun:}$schoolclass_name[$smarty.get.level]{/yun}</a>&nbsp; {yun:}/if{/yun}
          {yun:}if $smarty.get.keyword{/yun}<a href="{yun:}listurl m=school c=academy untype=keyword{/yun}" class="Search_jobs_c_a disc_fac">{yun:}$smarty.get.keyword{/yun}</a>&nbsp; {yun:}/if{/yun}
		 </div>
          
{yun:}/if{/yun}
  </div>
<div class="yun_school_yx_tit"><span class="yun_school_yx_tit_s">为您找到 <font color="#f00" id="totalshow">0</font> 所高校</span></div>
<div class="yun_school_yx_listbox">
<ul class="yun_school_yx_list">
{yun:}academy ispage=1 noids=1 namelen=30 comlen=30  keyword='auto.keyword'   level='auto.level' categty='auto.categty'  provinceid='auto.provinceid' cityid='auto.cityid'  cityid='auto.cityid'    key=key limit=20 item=academy_name name=academy_name1{/yun} 

<li>
<div class="yun_school_yx_pic"><img src="{yun:}$config.sy_ossurl{/yun}/{yun:}$academy_name.photo{/yun}" width="80" height="80"></div>
<div class="yun_school_yx_name"><a href="{yun:}url m=school c=academyshow id={yun:}$academy_name.id{/yun}{/yun}">{yun:}$academy_name.schoolname{/yun}</a></div>
<div class="yun_school_yx_p">学校所在地：{yun:}$academy_name.provinceid{/yun}-{yun:}$academy_name.cityid{/yun}</div>
<div class="yun_school_yx_p">办学层次：{yun:}$academy_name.school_level{/yun}</div>
<div class="yun_school_yx_p">学科类别：{yun:}$academy_name.school_categty{/yun}</div>
</li>
{yun:}/academy{/yun}

</ul>
        {yun:}if $total!=0 || is_array($academy_name){/yun}
        <div class="clear"></div>
        <div class="search_pages">
          <div class="pages">{yun:}$pagenav{/yun}{yun:}$totalshow{/yun}</div> &nbsp;<br/>
        </div>
        {yun:}else{/yun} 
        <!--没搜索到-->
        <div class="seachno">
          <div class="seachno_left"><img src="{yun:}$style{/yun}/images/search-no.gif" width="144" height="102"></div>
          <div class="listno-content"> <strong>很抱歉，没有找到满足条件的院校</strong><br>
            <span> 建议您：<br>
            1、适当减少已选择的条件<br>
            2、适当删减或更改搜索关键字<br>
            </span> 
           </div>
        </div>
        {yun:}/if{/yun}
</div>
</div>
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<link href="{yun:}$config.sy_weburl{/yun}/js/layui/css/layui.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" /><script src="{yun:}$config.sy_weburl{/yun}/js/layui/layui.js?v={yun:}$config.cachecode{/yun}"></script><script src="{yun:}$config.sy_weburl{/yun}/js/layui/phpyun_layer.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/lazyload.min.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<script>var weburl="{yun:}$config.sy_weburl{/yun}",integral_pricename='{yun:}$config.integral_pricename{/yun}';
</script>
<script src="{yun:}$config.sy_weburl{/yun}/js/search.js?v={yun:}$config.cachecode{/yun}" type="text/javascript"></script>
{yun:}include file="$trainstyle/footer.htm"{/yun}