{yun:}include file="$wapstyle/fheader.htm"{/yun}
<style>
    .header_h {
        display: none;
    }
	body{ background:#f2f2f2}
</style>
    <ul class="freejon_member"> <li><a href="index.php?c=free&a=tasklist">我发布的任务</a></li>  </ul> 
    <ul class="freejon_member">
    <li><a href="index.php?c=free&a=info">技能信息</a></li>     
    <li><a href="index.php?c=free&a=browserlist">我的浏览记录</a></li>  
     <li>   <a href="index.php?c=free&a=paylog">供求订单</a></li>  
    </li>  
    </ul>     
    <ul class="freejon_member"> 
      <li><a href="{yun:}url m=wap c=gqlist a=task{/yun}">任务大厅  </a></li>
      <li><a href="{yun:}url m=wap c=gqlist a=free{/yun}">技能大厅  </a></li>
    
    </ul>
</body>
</html>