{yun:}include file="$wapstyle/fheader.htm"{/yun}

<section class="main_member_cot_box">
    <div class="wap_member_post_list">
        {yun:}foreach item=log from=$rows{/yun}
		{yun:}assign var="state" value=$log.order_state{/yun}
        <div class="com_member_hr">
            <div class="user_member_box">
                <div class="com_member_hr_p1"><span class="member_c9">充值单号：</span>{yun:}$log.order_id{/yun}</div>
                <div class="com_member_hr_p1"><span class="member_c9">订单类型：</span>{yun:}if $log.type==29{/yun}发布供求任务{yun:}elseif $log.type==30{/yun}刷新供求任务{yun:}/if{/yun} </div>
                <div class="com_member_hr_p1">
                    <span class="member_c9">支付形式：</span> {yun:}if $log.order_type=='wxpay'{/yun}微信支付{yun:}else if $log.order_type=='alipay'{/yun}支付宝支付{yun:}else{/yun}手动{yun:}/if{/yun}</div>
                <div class="com_member_hr_p1"><span class="member_c9">充值金额：</span>{yun:}$log.order_price{/yun}</div>
                <div class="com_member_hr_p1"><span class="member_c9">支付状态：</span>{yun:}$arr_data.paystate.$state{/yun}</div>
                <div class="com_member_hr_p1"><span class="member_c9">时间：</span>{yun:}$log.order_time|date_format:"%Y-%m-%d %H:%M:%S"{/yun}</div>
                {yun:}if $log.order_remark{/yun}
                	<div class="com_member_hr_p1"><span class="member_c9">备注：</span>{yun:}$log.order_remark{/yun}</div>
                {yun:}/if{/yun}
             </div>
            {yun:}if $log.order_state=='1' && $log.order_type!='bank'{/yun}
            <div class="com_member_hr_cz">
                <a href="index.php?c=free&a=payment&id={yun:}$log.id{/yun}" class="yun_member_hr_bth">去付款</a>
            </div>{yun:}/if{/yun}
        </div>
        {yun:}foreachelse{/yun}
        <div class="wap_member_no">暂无相关信息</div>
        {yun:}/foreach{/yun}
    </div>
</section>
<div class="pages"> {yun:}$pagenav{/yun}</div>

<script src="{yun:}$wap_style{/yun}/js/prefixfree.min.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
</body>
</html>