{yun:}include file="$wapstyle/header_lt.htm"{/yun}
<div class="itwap_top">
    <ul>
        {yun:}if $config.three_cityid&&$config.sy_web_site=='1'{/yun}
        <li class="Substation popup" data-pop="Substation">
            <a href="javascript:void(0);" class="searchOptions_list_a">
                <span class="job_ov">{yun:}$city_name[$config.three_cityid]{/yun}</span>
                <i class="searchOptions_icon"></i>
            </a>
        </li>
        {yun:}else if $config.cityid&&$config.sy_web_site=='1'{/yun}
        <li class="Substation popup" data-pop="Substation">
            <a href="javascript:void(0);" class="searchOptions_list_a">
                <span class="job_ov">{yun:}$city_name[$config.cityid]{/yun}</span>
                <i class="searchOptions_icon"></i>
            </a>
        </li>
        {yun:}else{/yun}
        <li class="grade popup" data-pop="grade">
            <a href="javascript:void(0);" class="searchOptions_list_a">
                <span class="job_ov">
						{yun:}if $city_name[$smarty.get.cityid] || $city_name[$smarty.get.provinceid]{/yun}
							{yun:}$city_name[$smarty.get.cityid]{/yun}{yun:}$city_name[$smarty.get.provinceid]{/yun}
						{yun:}elseif $city_name[$smarty.get.three_cityid]{/yun}
							{yun:}$city_name[$smarty.get.three_cityid]{/yun}
						{yun:}elseif $config.cityid&&$config.sy_web_site=='1'{/yun}
							{yun:}$city_name[$config.cityid]{/yun}
						{yun:}else{/yun}
							区域
						{yun:}/if{/yun}
					</span>
                <i class="searchOptions_icon"></i>
            </a>
        </li>
        {yun:}/if{/yun}

        <li class="Sorthy popup" data-pop="Sorthy">
            <a href="javascript:void(0);" class="searchOptions_list_a">
                {yun:}if $industry_name[$smarty.get.hy]{/yun}{yun:}$industry_name[$smarty.get.hy]|mb_substr:0:6:'utf-8'{/yun}{yun:}else{/yun}行业{yun:}/if{/yun}
                <i class="searchOptions_icon"></i>
           </a>
        </li>

        <li class="Sortpr popup" data-pop="Sortpr">
            <a href="javascript:void(0);" class="searchOptions_list_a">
            	{yun:}if $comclass_name[$smarty.get.pr]{/yun}{yun:}$comclass_name[$smarty.get.pr]{/yun}{yun:}else{/yun}性质{yun:}/if{/yun}
            	<i class="searchOptions_icon"></i>
            </a>
        </li>
        
        <li class="Sortmun popup" data-pop="Sortmun" style="border:none">
            <a href="javascript:void(0);" class="searchOptions_list_a">
            	{yun:}if $comclass_name[$smarty.get.mun]{/yun}{yun:}$comclass_name[$smarty.get.mun]{/yun}{yun:}else{/yun}规模{yun:}/if{/yun}
            	<i class="searchOptions_icon"></i>
           	</a>
        </li>
        <input type="hidden" id="searchurl" value="{yun:}$searchurl{/yun}" />
    </ul>
</div>

<div class="menu_wap">
    {yun:}comlist firm=1 hy='auto.hy' mun='auto.mun' pr='auto.pr' provinceid='auto.provinceid' cityid='auto.cityid' three_cityid='auto.three_cityid' keyword='auto.keyword' uptime='auto.uptime' order='auto.order' rec=1 ltjob=3 ispage=1 limit=16 item=list{/yun}
    <div class="menu_wap_list">
        <div class="menu_wap_list_c">
            <div class="menu_wap_photo">
                <a href="{yun:}url m=wap c=company a=show id=$list.uid{/yun}"><img src="{yun:}$list.logo{/yun}" onerror="showImgDelay(this,'{yun:}$config.sy_ossurl{/yun}/{yun:}$config.sy_unit_icon{/yun}',2);"></a>
            </div>
            <div class="menu_wap_name">
                <a href="{yun:}url m=wap c=company a=show id=$list.uid{/yun}">{yun:}$list.name{/yun}</a>
            </div>
            <div class="menu_wap_yd">{yun:}$list.job_hy{/yun}</div>
            <div class="menu_wap_nx">
                从业年限
                <span class="menu_wap_line">{yun:}$list.ltjobnum{/yun}</span> 关注人数
                <span class="menu_wap_line">{yun:}$list.ant_num{/yun}</span>
            </div>
			{yun:}if $uid{/yun}
				{yun:}if $usertype==1{/yun}
					{yun:}if $list.atnstatus==1{/yun}
					<a href="javascript:void(0)" onclick="ltatn('{yun:}$list.uid{/yun}','2');" id="guanzhu{yun:}$list.uid{/yun}" class="menu_wap_qx">取消关注</a>
					{yun:}else{/yun}
					<a href="javascript:void(0)" onclick="ltatn('{yun:}$list.uid{/yun}','lt1');" id="guanzhu{yun:}$list.uid{/yun}" class="menu_wap_guan">关注</a>
					{yun:}/if{/yun}
				{yun:}else{/yun} 
						<a href="javascript:void(0)" onclick="showToast('只有个人用户才能关注！')" class="menu_wap_guan">关注</a>
				{yun:}/if{/yun}
			{yun:}else{/yun}
				<a href="javascript:void(0)" onclick="pleaselogin('您还未登录账号，是否登录？','{yun:}url m=wap c=login{/yun}')" class="menu_wap_guan">关注</a>
			{yun:}/if{/yun} 	
        </div>
    </div>

    {yun:}comlistelse{/yun}
    <div class="wap_member_nosearch">
        <div class="wap_member_no_tip"> 很抱歉,这个星球找不到呢！</div>
        <div class="wap_member_no_tip_other">换个条件试试呗~</div>
        <div>
            <a class="wap_mb_no_sr" href="{yun:}url m=wap c='post' a='famous'{/yun}">重新搜索</a>
        </div>
    </div>

    {yun:}/comlist{/yun}
</div>
<script>
    var pricename = "{yun:}$config.integral_pricename{/yun}";
</script>

<script src="{yun:}$wap_style{/yun}/js/lt.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/app/template/wap/js/demo.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<link rel="stylesheet" href="{yun:}$config.sy_weburl{/yun}/app/template/wap/css/demo.css?v={yun:}$config.cachecode{/yun}" type="text/css"> {yun:}include file="$wapstyle/publictwo.htm"{/yun} 
</body>
</html>