{yun:}include file="$userstyle/header.htm"{/yun}
<div class="yun_w1200">
    {yun:}include file="$userstyle/left.htm"{/yun}
    <div class="yun_m_rightbox fltR mt20 re">
       <div class="member_right_index_h1 fltL"> <span class="member_right_h1_span fltL">赏金转换{yun:}$config.integral_pricename{/yun}</span> <i class="member_right_h1_icon user_bg"></i></div>
       <div>
            <div id="gms_showclew"></div>           
            <div class="job_list_tit"> 
				<ul class="">
					<li class="job_list_tit_cur"><a href="index.php?c=jobpack&act=change">转换{yun:}$config.integral_pricename{/yun}</a></li>
					<li ><a href="index.php?c=jobpack&act=changelist">消费记录</a></li>
				</ul> 
			</div>
			<div  class="resume_Prompt_box"><div class="resume_Prompt"><i class="resume_Prompt_icon"></i>单笔转换金额{yun:}if $config.packprice_min_recharge gt 0{/yun}必须达到{yun:}$config.packprice_min_recharge{/yun}元{yun:}else{/yun}不限{yun:}/if{/yun}
			  ,一日最多转换{yun:}if $config.paypack_max_recharge gt 0{/yun}{yun:}$config.paypack_max_recharge{/yun}次{yun:}else{/yun}次数不限{yun:}/if{/yun}
			  ,已经转换{yun:}$changeNum{/yun}次。</div></div>      
			<div class="resume_box_list">
				<div class="withdraw_tx_box">
					<span class="withdraw_tx_box_d"> 可转换金额：</span> <span class="withdraw_tx_box_n">￥{yun:}$statis.packpay{/yun}</span> 元&nbsp;&nbsp;&nbsp;
					<span class="withdraw_tx_box_d">已冻结金额：</span> <span class="withdraw_tx_box_n">￥{yun:}$statis.freeze{/yun}</span> 元
				</div>
                <div class="clear"></div>
				<div class="packloglost_box_l_b">
					<table width="100%" border="0" cellspacing="0" cellpadding="0"  class="com_pay_table">
						<tr>
						  <th height="30" width="170">转换金额：<span class="com_pay_table_pay_s">*</span></th>
						  <td>
							<input type="text" name="changeprice" id="changeprice" size="20" maxlength='11' autocomplete="off" placeholder=" 自定义"   onkeyup="changepriceprice(this);" class="com_pay_table_pay_text"> <span class="packloglost_box_l_b_ts">1元={yun:}$config.integral_proportion{/yun}点{yun:}$config.integral_pricename{/yun}</span>
						  </td>
						</tr>
						<tr>
						  <th height="30" width="170">转换{yun:}$config.integral_pricename{/yun}：<span class="com_pay_table_pay_s">*</span></th>						  
						  <td>
						  <span class="payintegral" id="payintegral">0</span>个{yun:}$config.integral_pricename{/yun}<input type="hidden" name="changeintegral" id="changeintegral" size="20" value=""  class="layui-input">
						  </td>						 
						</tr>
						<tr>
						  <th>&nbsp;</th>
						  <td height="40"><div style="padding:10px 0;">
						  {yun:}if $statis.packpay>0{/yun}
						  <input  type="button" value="转换" name=nextstep class="withdraw_bth" onclick="changetrsist();">
						  {yun:}else{/yun}
						  <input  type="button" value="不可转换" name=nextstep class="withdraw_bth"  disabled>
						  {yun:}/if{/yun}
						  </td>
						</tr> 
					</table>  
				</div>
				<div class="clear"></div>               
            </div>
        </div>
    </div>
</div>
<script>
var packpay='{yun:}$statis.packpay{/yun}';//packpay可转换金额
var proportion='{yun:}$config.integral_proportion{/yun}';//proportion转换积分比例
var minchangeprice='{yun:}$config.packprice_min_recharge{/yun}';//minchangeprice最低转换金额
var changeNum = '{yun:}$changeNum{/yun}';//已转换次数
var packpaymax = '{yun:}$config.paypack_max_recharge{/yun}';//每日最多转换次数
</script>
{yun:}include file="$userstyle/footer.htm"{/yun}