<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<link href="images/reset.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
	<link href="images/system.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
	<link href="images/table_form.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
	<link href="{yun:}$config.sy_weburl{/yun}/js/layui/css/layui.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet">
	<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js?v={yun:}$config.cachecode{/yun}"></script>
	<script src="js/admin_public.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
	<script src="{yun:}$config.sy_weburl{/yun}/js/ueditor/ueditor.config.js?v={yun:}$config.cachecode{/yun}"></script>
	<script src="{yun:}$config.sy_weburl{/yun}/js/ueditor/ueditor.all.min.js?v={yun:}$config.cachecode{/yun}"></script>
	<script src="{yun:}$config.sy_weburl{/yun}/js/layui/layui.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
	<script src="{yun:}$config.sy_weburl{/yun}/js/layui/phpyun_layer.js?v={yun:}$config.cachecode{/yun}"></script>
	<script language="javascript">var weburl="{yun:}$config.sy_weburl{/yun}";</script>
	
	<style>	
		* {	margin: 0;	padding: 0; }
		body, div {	margin: 0;	padding: 0; }
		.layui-form-item{ margin-bottom:0px;}
	</style>

	<title>后台管理</title>
</head>

<body class="body_ifm">

	<div class="infoboxp">
		
		<div class="admin_new_tip">
		
			<a href="javascript:;" class="admin_new_tip_close"></a> 
			<a href="javascript:;" class="admin_new_tip_open" style="display: none;"></a>
		
			<div class="admin_new_tit">
				<i class="admin_new_tit_icon"></i>操作提示
			</div>
		
			<div class="admin_new_tip_list_cont">
				<div class="admin_new_tip_list">该页面可对供求任务进行浏览操作。</div>
			</div>
			
		</div>
		
		<div class="admin_new_search_box">
			<a href="javascript:history.back();" class="admin_new_cz_tj" style="margin-left: 0px;">返回</a>
		</div>
		
		<div class="tag_box">
				<table width="100%" class="table_form" style="background: #fff;">
					<tr>
						<td colspan="4" bgcolor="#f0f6fb"><div class="admin_bold">项目详情</div></td>
					</tr>
		
					<tr class="admin_table_trbg" style="height: 50px;">
						<th>项目名称：</th>
						<td>{yun:}$show.name{/yun}</td>
					</tr>
         				 <tr class="admin_table_trbg" style="height: 50px;">
						<th>价格预算：</th>
						<td>{yun:}$show.salary{/yun}元</td>
					</tr>
         			 <tr class="admin_table_trbg" style="height: 50px;">
						<th>预计工期：</th>
						<td>{yun:}$show.edate{/yun}天</td>
					</tr>
					<tr class="admin_table_trbg" style="height: 50px;">
						<th>接单截止时间：</th>
						<td>
							{yun:}$show.etime|date_format:'%Y-%m-%d'{/yun}
			 			</td>
			    </tr>
          		<tr class="admin_table_trbg" style="height: 100px;">
						<th width="120">项目需求</th>
						<td>
							{yun:}$show.content{/yun}
						</td>
					</tr>
          			<tr class="admin_table_trbg"  style="height: 50px;">
						<th>联系人：</th>
						<td>{yun:}$show.link_man{/yun}</td>
					</tr>
         			 <tr class="admin_table_trbg" style="height: 50px;">
						<th>联系电话：</th>
						<td>{yun:}$show.link_moblie{/yun}</td>
					</tr>
			
					
				
				</table>
		</div>
	</div>
	
	
</body>
</html>