<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<title>会员中心首页</title>
<link rel="stylesheet" href="{yun:}$train_style{/yun}/css/css.css?v={yun:}$config.cachecode{/yun}" type="text/css">
<script type="text/javascript" src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.1.min.js?v={yun:}$config.cachecode{/yun}"></script> 
<link href="{yun:}$config.sy_weburl{/yun}/js/layui/css/layui.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" /><script src="{yun:}$config.sy_weburl{/yun}/js/layui/layui.js?v={yun:}$config.cachecode{/yun}"></script><script src="{yun:}$config.sy_weburl{/yun}/js/layui/phpyun_layer.js?v={yun:}$config.cachecode{/yun}"></script> 
<script type="text/javascript" src="{yun:}$config.sy_weburl{/yun}/js/public.js?v={yun:}$config.cachecode{/yun}"></script> 
<script type="text/javascript" src="{yun:}$config.sy_weburl{/yun}/js/member_public.js?v={yun:}$config.cachecode{/yun}"></script>  
<script>var weburl="{yun:}$config.sy_weburl{/yun}";</script>
</head>
<body>
<div class="training_top">
<div class="training_w980">
<div class="training_top_left flt">
<span class="training_top_slogan flt"><!--您好,{yun:}$username{/yun}-->欢迎来到用户中心!</span>
</div>
<div class="training_nav">
<ul>

<li  {yun:}if $def==""{/yun}class="training_nav_cur"{yun:}/if{/yun} ><a href="index.php">管理中心</a></li>  
<li  {yun:}if $def=="1"{/yun}class="training_nav_cur"{yun:}/if{/yun}><a href="index.php?c=subject">课程管理</a></li> 
<li  {yun:}if $def=="2"{/yun}class="training_nav_cur"{yun:}/if{/yun}><a href="index.php?c=team">机构管理</a></li> 
<li  {yun:}if $def=="3"{/yun}class="training_nav_cur"{yun:}/if{/yun}><a href="index.php?c=binding">账户设置</a></li>

<li><a href="{yun:}url m=train{/yun}">培训首页</a></li>
</ul>
</div>
<a href="index.php?c=subject_add" class="training_nav_fb">发布课程</a>
<div class="header_Remind_list_tt"><a  href="javascript:void(0)" onclick="logout('index.php?act=logout')">退出</a></div>
 <div class="header_Remind fl header_Remind_hover"  onMouseOver="tzmsgNumShow('show')" onMouseOut="tzmsgNumShow('hide')" ><em class="header_msg_new ">消息<i id="msgNum" style="display:none">0</i></em>
     <div>
       <div class="header_Remind_list" style="display:none;" >
       <div class="header_Remind_list_a"><a href="{yun:}$config.sy_weburl{/yun}/member/index.php?c=sign_up" class="fl">课程预约</a><span class="header_Remind_list_r fr" id="sign_upNum">(0)</span></div>
       <div class="header_Remind_list_a"><a href="{yun:}$config.sy_weburl{/yun}/member/index.php?c=sysnews" class="fl">系统消息</a><span class="header_Remind_list_r fr" id="sysmsgNum">(0)</span></div>
       <div class="header_Remind_list_a"><a href="{yun:}$config.sy_weburl{/yun}/member/index.php?c=message" class="fl">咨询留言</a><span class="header_Remind_list_r fr" id="messageNum">(0)</span></div>
     </div>
   </div>
     </div>
<div class="top_right_re fr">
<div class="top_right"  id = "login_head_div">
  <div class="yun_topNav fr"> <a class="yun_navMore" href="javascript:;">网站导航</a>
            <div class="yun_webMoredown" style="display:none">
              <div class="yun_top_nav_box"> 
			    <ul class="yun_top_nav_box_l">
			    {yun:}navmap key=key item=maplist{/yun}
				<li><a href="{yun:}$maplist.url{/yun}" {yun:}if $maplist.eject{/yun} target="_blank"{yun:}/if{/yun}>{yun:}$maplist.name{/yun}</a></li>
                {yun:}/navmap{/yun}
				</ul>
                 <ul class="yun_top_nav_box_wx">
               {yun:}nav item=navlist_app hovclass=nav_list_hover nid=11{/yun}          
				<li> <a class="move_0{yun:}$navlist_app.sort{/yun}"{yun:}if $navlist_app.eject{/yun} target="_blank"{yun:}/if{/yun} href="{yun:}$config.sy_weburl{/yun}/{yun:}$navlist_app.url{/yun}">{yun:}$navlist_app.name{/yun}</a> </li>
                {yun:}/nav{/yun}
                </ul>
               </div>
            </div>
          </div>
   
   </div> 

</div>
  </div>
</div>
</div>



<!--<div class="training_header">
<div class="training_w980">
<div class="training_logo flt mt10"><a href="{yun:}$config.sy_weburl{/yun}"><img src="{yun:}$config.sy_weburl{/yun}/{yun:}$config.sy_px_logo{/yun}"></a></div>
<div class="training_nav flt mt10">
<ul>
<li  {yun:}if $def==""{/yun}class="training_nav_cur"{yun:}/if{/yun} ><a href="index.php">首页</a></li>  
<li  {yun:}if $def=="1"{/yun}class="training_nav_cur"{yun:}/if{/yun}><a href="index.php?c=subject">课程管理</a></li> 
<li  {yun:}if $def=="2"{/yun}class="training_nav_cur"{yun:}/if{/yun}><a href="index.php?c=team">讲师管理</a></li> 
 <li><a href="{yun:}url m=train{/yun}">返回培训首页</a></li> 
</ul>
</div>
</div>
</div>-->
<!--header end-->