{yun:}include file="$trainstyle/header.htm"{/yun}
<script src="{yun:}$config.sy_weburl{/yun}/js/public.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/member_public.js?v={yun:}$config.cachecode{/yun}"></script>
<div class="clear"></div>
<div class="training_content training_w980">

{yun:}include file="$trainstyle/left.htm"{/yun}
<div class="right_column frt mt20">
<div class="right_column_border_news">
<div class="right_column_h1"><span class="right_column_h1_span flt">机构新闻</span>
<a href="index.php?c=news_add" class="publish_lecturer" >+ 添加机构新闻</a></div>
<div class="right_column_news">
<iframe id="supportiframe"  name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>
<form action="{yun:}$now_url{/yun}" method="post" target="supportiframe" id='myform' class="layui-form">
	{yun:}if $rows{/yun}
    <div class="Reservation_list">
    <div class="Reservation_list_singup Reservation_list_singup_bg">
<div class="Reservation_list_span Reservation_list_input">&nbsp;</div>
<div class="Reservation_list_span right_column_news_name" style="width:420px;">新闻标题</div> 
<div class="Reservation_list_span right_column_news_time" style="text-align:center">发布时间</div>
<div class=" right_column_news_state" style="width:120px;text-align:center;float:left;">状态</div>   
<div class=" right_column_news_r" style="width:150px;text-align:center">操作</div>   
</div>
</div>
{yun:}/if{/yun}
            <iframe id="supportiframe" name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>
            <form action="index.php" method="get" target="supportiframe" id='myform' class="layui-form">
                <input type="hidden" name="c" value="sysnews" />
                <input type="hidden" name="act" value="del" />
                <div class="Reservation_list">
                    {yun:}foreach item=v from=$rows{/yun}
                    <div class="Reservation_list_singup">
                        <div class="Reservation_list_span Reservation_list_input" style="padding-top:5px">
                            <input type="checkbox" value="{yun:}$v.id{/yun}" name="delid[]" class="Reservation_list_check" lay-skin="primary">
                        </div>
                        <div class="Reservation_list_span right_column_news_name" style="width:420px;"><a href="{yun:}url m=train c=newsshow id='`$v.uid' nid='`$v.id`'{/yun}" target="_blank">{yun:}$v.title{/yun}</a></div>
                        <div class="Reservation_list_span right_column_news_time" style="text-align:center">{yun:}$v.ctime|date_format:"%Y-%m-%d %H:%M"{/yun}</div>
                      <div class=" right_column_news_state" style="width:120px;text-align:center;float:left;">                       
                       {yun:}if $v.status=="1"{/yun}
                        <span class="right_column_news_ysh">已审核</span>
                        {yun:}elseif $v.status=="2"{/yun}
                        <span class="right_column_news_yzt">未通过</span>
                        {yun:}else{/yun}
                        <span class="right_column_news_wsh">未审核</span>
                        {yun:}/if{/yun}
                        </div>
                        <div class=" right_column_news_r" style="width:150px;text-align:center">
                                    <a href="{yun:}url m=train c=newsshow id='`$v.uid' nid='`$v.id`'{/yun}" target="_blank">预览</a>
            <em class="px_line">|</em> 
                            <a href="index.php?c=news_add&id={yun:}$v.id{/yun}">修改</a> <em class="px_line">|</em>
                              <a href="javascript:void(0)" onclick="layer_del('确定要删除该新闻？','{yun:}$now_url{/yun}&delid={yun:}$v.id{/yun}')">删除</a></em>
                        </div>
                    </div>
                 
                    
                  
                    {yun:}foreachelse{/yun}
                    <div class="clear"></div>
                  
                    <div class="msg_no">暂无相关信息</div>
                    <div class="clear"></div>
                    {yun:}/foreach{/yun}
                    {yun:}if !empty($rows){/yun}   
                    <div class="sigm_up_box sigm_up_box_bg">
                    <div class="sigm_up_box_checkbox_w50">
        
                    
                    <input id='checkAll' type="checkbox" lay-filter="alltrain"  lay-skin="primary" class="right_column_news_cbox"><label for="checkAll">全选</label></div>

                    <input type="button" value="删除" class="right_column_news_sub" onclick="return really('delid[]');">
                    
                   
                    </div>
                    {yun:}/if{/yun}
                </div>
            </form>

</div>
</div>
</div>
</div>
<script>
	layui.use(['form','layer', 'laydate'], function(){
    	var $ = layui.$,
			form = layui.form,
			laydate = layui.laydate,
			layer = layui.layer;
    	
    	form.on('checkbox(alltrain)', function (data) {
       	 	$("input[name='delid[]']").each(function () {
            	this.checked = data.elem.checked;
        	});
        	form.render('checkbox');
      	});
  	});
</script>
{yun:}include file="$trainstyle/footer.htm"{/yun}