{yun:}include file="$trainstyle/header.htm"{/yun} 
<script src="{yun:}$config.sy_weburl{/yun}/js/public.js?v={yun:}$config.cachecode{/yun}"></script> 
<div class="clear"></div>
<div class="training_content training_w980">
{yun:}include file="$trainstyle/left.htm"{/yun}
<div class="right_column frt mt20">
<div class="right_column_border_password">
<div class="right_column_h1"><span class="right_column_h1_span flt">密码修改</span></div>
<ul class="Basic_in">
<iframe id="supportiframe"  name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe> 
<form name="MyForm" target="supportiframe" action='index.php?c=password' method="post"  class="layui-form">
<li><div  class="Basic_in_span"><font color="#FF0000">*</font> 原始密码：</div>
<div class="Basic_in_right">

<div class="layui-form-item">
	<div class="layui-input-block">
	  <input type="password" id="oldpassword" name="oldpassword" lay-verify="required" placeholder="请输入原始密码" value=""  style="display:inline;width:202px;" autocomplete="off" class="layui-input input-text">
	  <span id="msg_oldpassword">填写您的原始密码！</span>
	</div>
</div>

</div></li>
<li><div  class="Basic_in_span"><font color="#FF0000">*</font> 新密码：</div>
<div class="Basic_in_right">

<div class="layui-form-item" >
	<div class="layui-input-block" >
	  <input type="password" id="password" name="password" lay-verify="required" placeholder="请输入新密码" value=""  style="display:inline;width:202px;" autocomplete="off" class="layui-input input-text">
		<span id="msg_password">新密码格式为 6-20个字符{yun:}if $config.reg_pw_sp=='1' || $config.reg_pw_num=='1' || $config.reg_pw_zm=='1'{/yun},密码必须包含{yun:}if $config.reg_pw_num=='1'{/yun}数字 {yun:}/if{/yun}{yun:}if $config.reg_pw_zm=='1'{/yun}字母 {yun:}/if{/yun}{yun:}if $config.reg_pw_sp=='1'{/yun}其它字符@!#.$-_{yun:}/if{/yun}{yun:}/if{/yun}！</span>
	</div>
</div>

</div></li>
<li><div  class="Basic_in_span"><font color="#FF0000">*</font> 确认新密码：</div>
<div class="Basic_in_right">


<div class="layui-form-item">
	<div class="layui-input-block">
	  <input type="password" name="repassword" id="repassword" lay-verify="required" placeholder="请确认新密码" value=""  style="display:inline;width:202px;" autocomplete="off" class="layui-input input-text">
	  <span id="msg_repassword">请再次确认您的新密码！</span>
	</div>
</div>


</div></li>
<li><div  class="Basic_in_span">&nbsp;</div>
<div class="Basic_in_right"><input type="submit" name="submit" value="提交" class="layui-btn layui-btn-normal" onclick="return Showsub1();" ></div></li>
</form>
</ul>
</div>
</div>
</div>
<style>
.layui-form-item {margin-bottom: 0px;clear: both;}
.layui-input-block {margin-left: 0px;}
.Basic_in_span {line-height: 38px;}
.layui-select-title{width:158px;}
.layui-form-select{width:158px;margin-right:5px;}
</style>
<script language="javascript">
  layui.use(['layer', 'form','element'], function(){
    var layer = layui.layer
    ,form = layui.form
	,element = layui.element
    ,$ = layui.$;
});
</script>
{yun:}include file="$trainstyle/footer.htm"{/yun}
