<script type="text/javascript" src="{yun:}$config.sy_weburl{/yun}/js/member_public.js?v={yun:}$config.cachecode{/yun}"></script>
{yun:}include file="$trainstyle/header.htm"{/yun}
<div class="clear"></div>
<div class="training_content training_w980">

{yun:}include file="$trainstyle/left.htm"{/yun}
<div class="right_column frt mt20">
<div class="right_column_border">
<div class="right_column_h1"><span class="right_column_h1_span flt">修改账户</span></div>
<ul class="Basic_in">
<li><div  class="Basic_in_span"><font color="#FF0000">*</font> 新用户名：</div>
<div class="Basic_in_right"><input type="text" id="username" name="username" value="" class="Basic_in_text"></div></li>
<li><div  class="Basic_in_span"><font color="#FF0000">*</font> 新密码：</div>
<div class="Basic_in_right"><input type="password" id="password" name="password" class="Basic_in_text"></div></li>
<li><div  class="Basic_in_span"><font color="#FF0000">*</font> 确认新密码：</div>
<div class="Basic_in_right"><input type="password" id="repassword" name="repassword" class="Basic_in_text"></div></li>
<li><div  class="Basic_in_span">&nbsp;</div>
<div class="Basic_in_right"><input type="button" name="submit" value="提交" class="Basic_in_bth" onclick="Savenamepost();" ></div></li>

</ul>
</div>
</div>
</div>
{yun:}include file="$trainstyle/footer.htm"{/yun}