{yun:}include file="$trainstyle/header.htm"{/yun}
<script src="{yun:}$config.sy_weburl{/yun}/js/public.js?v={yun:}$config.cachecode{/yun}"></script>
<div class="clear"></div>
<div class="training_content training_w980">

  {yun:}include file="$trainstyle/left.htm"{/yun}
  <div class="right_column frt mt20">
   <div class="right_column_h1">
     <span class="right_column_h1_span flt">师资团队</span> 
   </div>
      <div class="right_nav_box">
    <ul class="right_nav_box_list">
    <li {yun:}if $smarty.get.status==""{/yun}class="right_nav_box_cur"{yun:}/if{/yun}><a href="index.php?c=team">显示中</a></li>
    <li {yun:}if $smarty.get.status=="0"{/yun}class="right_nav_box_cur"{yun:}/if{/yun}><a href="index.php?c=team&status=0">未审核</a></li>
    <li {yun:}if $smarty.get.status=="2"{/yun}class="right_nav_box_cur"{yun:}/if{/yun}><a href="index.php?c=team&status=2">未通过</a></li>
      </ul>
      <a href="index.php?c=team_add" class="right_nav_box_fb" >添加讲师</a>
      </div>
    <div class="right_column_border_accdemy">
 
      
	  {yun:}if $total{/yun}
      {yun:}foreach item=v from=$rows{/yun}
      <div style="width:985px;">
      <dl class="Courses_Team_accodemy flt">
        <dt><a href="{yun:}url m=train c=teamshow id=$v.uid nid=$v.id{/yun}"><img width="130" height="130" src="{yun:}$v.pic{/yun}"></a></dt>
        <dd class=" Courses_Teamw630 ">
          <div class="Courses_Team_mem_list_academy">
          <a class="Courses_Team_mem_list_a" href="{yun:}url m=train c=teamshow id=$v.uid nid='`$v.id`'{/yun}">{yun:}$v.name{/yun}</a> 
          </div>
         
          <div class="training_Courses_p_accodemy Courses_Team_mem_list_p"><span class="training_Courses_span"></span> {yun:}$subject_name[$v.sid]{/yun} </div>
          <div class="training_Courses_p_academy">
            <a href="{yun:}url m=train c=teamshow id=$v.uid nid=$v.id{/yun}" target="_blank">预览</a> <em class="px_line">|</em> 
            <a href="index.php?c=team_add&id={yun:}$v.id{/yun}">修改</a> <em class="px_line">|</em> 
            <a href="javascript:void(0)" onclick="layer_del('确定删除该讲师？','index.php?c=team&del={yun:}$v.id{/yun}');">删除</a>
          </div>
          <!--<div class="training_Courses_p Courses_Team_mem_list_p"> <span class="training_Courses_span">擅长行业：</span>{yun:}$industry_name[$v.hy]{/yun}</div>
          <div class=" Courses_Team_mem_list_p"><span class="training_Courses_span">添加时间：</span>{yun:}$v.ctime|date_format:"%Y-%m-%d %H:%M:%S"{/yun}</div>-->
        </dd>
      </dl>
      </div>
      {yun:}/foreach{/yun}
	        <div class="clear"></div>

      {yun:}else{/yun}
      <div class="msg_no">暂无相关信息</div>
      {yun:}/if{/yun}
      <div class="pages"> {yun:}$pagenav{/yun}</div>
    </div>
  </div>
</div>
<script>
function show_msg(id,url){
	$.post(url,{id:id},function(data){
		$("#msgs").html(data);
		$.layer({
			type : 1,
			title :'查看原因',
			closeBtn : [0 , true],
			border : [10 , 0.3 , '#000', true],
			area : ['400px','200px'],
			page : {dom :"#showmsg"}
		});
	})
}
</script>
<div id="showmsg"  style="display:none; width: 400px;">
	<div>
    <div id="infobox">
		 <div class="admin_Operating_sh" style="padding:10px; ">
		<div class="admin_Operating_sh_h1" style="padding:5px;"><div style="height:80px;overflow:auto;" id="msgs"></div></div>
		<div class="admin_Operating_sub" style="margin-top:10px;"> 
          &nbsp;&nbsp;<input type="button" id="zxxCancelBtn" onClick="layer.closeAll();" class="cancel_btn" value='确认'></div>
		</div>
    </div>
  </div>
</div>
{yun:}include file="$trainstyle/footer.htm"{/yun}