<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>{yun:}$title{/yun}</title>
<meta name="keywords" content="{yun:}$keywords{/yun}"/>
<meta name="description" content="{yun:}$description{/yun}"/>
<link rel="stylesheet" href="{yun:}$client{/yun}/style/css.css?v={yun:}$config.cachecode{/yun}" type="text/css"/>
</head>
<body>
{yun:}include file="$tplstyle/client_header.htm"{/yun}
<div class="android_ban" style="background:#6362f1">
  <div class="android_ban_980">
  <div class="xcx_banner_p1">求职/招聘/新利器</div>
  <div class="xcx_banner_p2">灵活的招聘方式  海量职位轻松找</div>
   <div class="xcx_banner_p2">小程序可以被便捷地获取和传播，同时具有出色的使用体验</div>
   <div class="xcx_banner_li_b">
    <div class="xcx_banner_li"><i class="xcx_banner_li_icon"></i>无需下载安装，关联后直接使用</div>
    <div class="xcx_banner_li"><i class="xcx_banner_li_icon"></i>使用方便快捷，招聘求职效率高</div>
    <div class="xcx_banner_li"><i class="xcx_banner_li_icon"></i>小程序体积小，省手机占用内存</div>
   <div class="xcx_banner"></div>
  </div>  </div>
</div>
<div class="xcx_frist">
<div class="xcx_h1">无需下载，用完即走<span class="xcx_h1_s"> 0内存！</span></div>
<div class="xcx_p">根据你当前地理位置和设置条件，筛选出与你相关的职位，不错过任何机会。</div>
</div>
<div class="w980">
  <div style="clear:both"></div>
  <div class="main-wrap" style="filter:alpha(opacity=100);">

    <div id="slide-box"> <b class="corner"></b>
      <div class="slide-content" id="J_slide">
        <div style="position: relative;" class="wrap">
          <ul style="position: absolute; width: 1806px;" class="ks-switchable-content">
            <li style="display: block; float: left;"><a href="###" target="_blank"><img src="{yun:}$client{/yun}/images/01.jpg"></a></li>
            <li style="display: block; float: left;"><a href="###" target="_blank"><img src="{yun:}$client{/yun}/images/02.jpg"></a></li>
            <li style="display: block; float: left;"><a href="###" target="_blank"><img src="{yun:}$client{/yun}/images/03.jpg"></a></li>
            <li style="display: block; float: left;"><a href="###" target="_blank"><img src="{yun:}$client{/yun}/images/04.jpg"></a></li>
            <li style="display: block; float: left;"><a href="###" target="_blank"><img src="{yun:}$client{/yun}/images/05.jpg"></a></li>
            <li style="display: block; float: left;"><a href="###" target="_blank"><img src="{yun:}$client{/yun}/images/06.jpg"></a></li>
            
          </ul>
        </div>
        <div class="ks-switchable-triggers"> <a class="prev" id="J_prev" href="javascript:void(0);"> <b class="corner"></b><span>&#8249;</span><b class="corner"></b></a> <a class="next" id="J_next" href="javascript:void(0);"> <b class="corner"></b><span>&#8250;</span><b class="corner"></b></a> </div>
      </div>
      <b class="corner"></b> </div>
  </div>
<div class="xcx_nouser">没有账号？ <span class="xcx_zc_time">30s</span> 快速搞定简历!</div>
<div class="clear"></div>
<div class="xcx_newuserbox">
<div class="xcx_newuser">我是新用户</div>
<ul class="xcx_step">
<li class=""><i class="xcx_stepicon"></i><span class="xcx_step_n">1</span>扫一扫</li>
<li style="margin-right:80px; margin-left:20px;"><i class="xcx_stepicon xcx_stepicon2"></i><span class="xcx_step_n">2</span>我的</li>
<li class=""><i class="xcx_stepicon xcx_stepicon3"></i><span class="xcx_step_n">3</span>注册账号</li>
<li class=""><i class="xcx_stepicon xcx_stepicon4"></i><span class="xcx_step_n">4</span>编辑简历</li>
<li class=""><i class="xcx_stepicon xcx_stepicon5"></i><span class="xcx_step_n">5</span>接受面试邀请</li>
<li style="margin-right:0px;"><i class="xcx_stepicon xcx_stepicon6"></i><span class="xcx_step_n">6</span>成功入职</li>
</ul>
</div>
<div class="clear"></div>
<div class="xcx_nouser">已有账号？ <span class="xcx_zc_time">1键</span> 快速搞定简历!</div>

<div class="xcx_newuserbox" style="padding-bottom:100px;">
<div class="xcx_olduser">我是老用户</div>
<ul class="xcx_step">
<li ><i class="xcx_stepicon"></i><span class="xcx_step_n">1</span>扫一扫</li>
<li style="margin-right:80px; margin-left:20px;"><i class="xcx_stepicon xcx_stepicon2"></i><span class="xcx_step_n">2</span>我的</li>
<li><i class="xcx_stepicon xcx_stepicon7"></i><span class="xcx_step_n">3</span>绑定账号</li>
<li><i class="xcx_stepicon xcx_stepicon8"></i><span class="xcx_step_n">4</span>绑定成功</li>
<li><i class="xcx_stepicon xcx_stepicon5"></i><span class="xcx_step_n">5</span>接受面试邀请</li>
<li style="margin-right:0px;"><i class="xcx_stepicon xcx_stepicon6"></i><span class="xcx_step_n">6</span>成功入职</li>
</ul>
</div>

</div>
<div class="clear"></div>
<div class="xcx_footer">
<div class="xcx_footer_p">即扫 . 即用 . 即走</div>
<div class="xcx_footer_p2">快速扫码使用，一点儿都不占内存哦~</div>

<div class="xcx_footer_box">
<div class="xcx_footer_img"><div class="xcx_footer_imgbox"><img src="{yun:}$config.sy_ossurl{/yun}/{yun:}$config.sy_weixinxcxu_qcode{/yun}" width="150" height="150"></div>微信小程序</div>
<!--<div class="xcx_footer_img"><div class="xcx_footer_imgbox"><img src="{yun:}$config.sy_ossurl{/yun}/{yun:}$config.sy_baiduxcxu_qcode{/yun}" width="150" height="150"></div>支付宝小程序</div>-->
<div class="xcx_footer_img"><div class="xcx_footer_imgbox"><img src="{yun:}$config.sy_ossurl{/yun}/{yun:}$config.sy_baiduxcxu_qcode{/yun}" width="150" height="150"></div>百度小程序</div>
</div>
</div>
<script src="{yun:}$client{/yun}/js/tbhb.js?v={yun:}$config.cachecode{/yun}" type="text/javascript"></script>
<!--[if IE 6]>
<script src="js/png.js?v={yun:}$config.cachecode{/yun}"></script>
<script>
DD_belatedPNG.fix('.png,.main_ad_img,.main_ad_img1,.main_ad_img2,.main_ad_img3');
</script>
<![endif]-->
<script type="text/javascript">
	var D=YAHOO.util.Dom, E=YAHOO.util.Event;

	KISSY().use("*", function(S) {
		var el = D.get('J_slide'),
			activeIndex = parseInt(el.getAttribute('data-active-index')) || 0;

		var carousel = new S.Carousel(el, {
			hasTriggers: false,
			navCls: 'ks-switchable-nav',
			contentCls: 'ks-switchable-content',
			activeTriggerCls: 'current',
			effect: "scrollx",
			steps: 2,
			viewSize: [1010],
			activeIndex: activeIndex
		});
		
		E.on('J_prev', 'click', carousel.prev, carousel, true);
		E.on('J_next', 'click', carousel.next, carousel, true);
	});

	KISSY().use("*", function(S) {
		var el = D.get('J_shoppingGuide');
		if(!el){
			return;
		}
		var	activeIndex = parseInt(el.getAttribute('data-active-index')) || 0;

		var carousel = new S.Carousel(el, {
			navCls: 'ks-switchable-nav',
			contentCls: 'ks-switchable-content',
			activeTriggerCls: 'current',
			effect: "scrollx",
			steps: 2,
			viewSize: [1010],
			activeIndex: activeIndex
		});
		
		E.on('J_shoppingGuidePrev', 'click', carousel.prev, carousel, true);
		E.on('J_shoppingGuideNext', 'click', carousel.next, carousel, true);
	});
</script>
{yun:}include file="$tplstyle/client_footer.htm"{/yun}