{yun:}include file="$lietoustyle/header.htm"{/yun}
<div class="content">


<div class="recommend_personnel_page">
         <div class="recommend_personnel_page_top">
           <div class="recommend_personnel_page_pic">
           <div class="recommend_personnel_page_pic_j">赏金</div>
           <div class="recommend_personnel_page_pic_n">￥{yun:}$jobinfo.rebates{/yun}</div>
           </div>
           
         </div>
         <div class="recommend_personnel_page_tips">
           <div class="recommend_personnel_tips_one">推荐人才入职成功得赏金 <span>￥{yun:}$jobinfo.rebates{/yun}{yun:}if $config.lt_rebates_name{/yun} {yun:}$config.lt_rebates_name{/yun} {yun:}else{/yun}元{yun:}/if{/yun}</span></div>
           <div class="recommend_personnel_tips_two">为避免纠纷，请确认您所输入的人才信息的准确性</div>
         </div>
         
         <form action="" method="post" target="supportiframe" id="myform" onsubmit="return checkform_msg()"  class="layui-form">
          <input type="hidden" id="uid" value="{yun:}$uid{/yun}" />
          <input type="hidden" name="job_uid" id="job_uid" value="{yun:}$jobinfo.uid{/yun}" />
          <input type="hidden" name="job_id" id="job_id" value="{yun:}$jobinfo.id{/yun}" />
         <div class="recommend_personnel_page_wrap">
           <ul>
              <li class="recommend_personnel_list">
                <div class="recommend_personnel_name"><b>*</b> 人才姓名：</div>
                <div class="recommend_personnel_word">
					<div class="recommend_personnel_box">
					 <input name="uname" id="uname" type="text" class="recommend_personnel_fill" maxlength="50" placeholder="请输入真实姓名" value="">
					</div>
                    <div class="recommend_gender">
                     <div class="recommend_gender_male">
                     <input type="radio" id="sex" name="sex" value="1" title="男" checked="checked" />
                     
                     </div>
                     <div class="recommend_gender_male" style="padding-left:24px;">
                     <input type="radio" id="sex" name="sex" value="2" title="女" />
                     
                     </div>
                    </div>
				</div>
              </li>
              
              <li class="recommend_personnel_list">
                <div class="recommend_personnel_name"><b>*</b> 出生年月：</div>
                <div class="recommend_personnel_word">
        					<div class="recommend_personnel_box">
        					 <input name="birthday" id="birthday" type="text" class="recommend_personnel_max" placeholder="请选择出生年月" style="width:300px;">
        					</div>
        				</div>
              </li>
              
              <li class="recommend_personnel_list">
                <div class="recommend_personnel_name"><b>*</b> 最高学历：</div>
                <div class="recommend_personnel_word">
        					<div class="recommend_personnel_box">
          					 <div class="layui-form-item">
                        
                        <div class="layui-input-inline " style="width:300px">
                          <select name="edu" lay-filter="" id="edu">
                            <option value="">请选择最高学历</option>
                            {yun:}foreach from=$userdata.user_edu key=j item=v{/yun}
                              <option value="{yun:}$v{/yun}">{yun:}$userclass_name[$v]{/yun}</option>
                            {yun:}/foreach{/yun}
                          </select>
                        </div>
                        
                      </div>
                     
        					</div>
        				</div>
              </li>
              <li class="recommend_personnel_list">
                <div class="recommend_personnel_name"><b>*</b> 工作经验：</div>
                <div class="recommend_personnel_word">
                  <div class="recommend_personnel_box">
                     <div class="layui-form-item">
                        
                        <div class="layui-input-inline "style="width:300px">
                          <select name="exp" lay-filter="" id="exp">
                            <option value="">请选择工作经验</option>
                            {yun:}foreach from=$userdata.user_word key=j item=v{/yun}
                              <option value="{yun:}$v{/yun}">{yun:}$userclass_name[$v]{/yun}</option>
                            {yun:}/foreach{/yun}
                          </select>
                        </div>
                        
                      </div>
                     
                  </div>
                </div>
              </li>
              
              <li class="recommend_personnel_list">
                <div class="recommend_personnel_name"><b>*</b> 从事行业：</div>
                <div class="recommend_personnel_word">
        					<div class="recommend_personnel_box">
          					 <div class="layui-form-item">
                      <div class="layui-input-inline" style="width:300px">
                        <select name="hy" lay-filter="" id="hy">
                          <option value="">请选择行业</option>
                          {yun:}foreach from=$industry_index key=j item=v{/yun}
                            <option value="{yun:}$v{/yun}">{yun:}$industry_name[$v]{/yun}</option>
                          {yun:}/foreach{/yun}
                        </select>
                      </div>
                     </div>
        					</div>
        				</div>
              </li>
              
              <li class="recommend_personnel_list">
                <div class="recommend_personnel_name"><b>*</b> 意向职位：</div>
                <div class="recommend_personnel_word">
        					<div class="">
        					  <select id="jobclass_search" name="jobclass_search" xm-select-type="jobclass" xm-select="jobclass_search" xm-select-search="" xm-select-max="5" xm-select-skin="default"  xm-select-direction="down">
                    <option value="">输入搜索，最多选5项</option>
                    </select>
                    {yun:}if $jionly!='1'{/yun}
                    <div  onclick="index_job_new(5, '#job_name', '#job','','1');" class="news_expect_text_new_nth" title="选择期望工作岗位"></div>
                    {yun:}/if{/yun}
                    <i class="recommend_bgicon_two"></i>
                    <input  type="hidden" id="job" name="job_classid">
        					</div>
        				</div>
              </li>
              
               <li class="recommend_personnel_list">
                <div class="recommend_personnel_name"><b>*</b> 期望城市：</div>
                <div class="recommend_personnel_word">

        					<div class="layui-input-inline" style="width:130px">
                    <select name="provinceid" id="provinceid" lay-filter="citys">
                      <option value="">请选择</option> 
                      {yun:}foreach from=$city_index key=j item=v{/yun}
                        <option value="{yun:}$v{/yun}">{yun:}$city_name[$v]{/yun}</option>
                      {yun:}/foreach{/yun}
                    </select>
                  </div>
                  {yun:}if !empty($city_type){/yun}
                  <div class="layui-input-inline" style="width:130px">
                    <select name="cityid" lay-filter="citys" id="cityid">
                      <option value="">请选择</option> 
                      {yun:}foreach from=$city_type[$row.provinceid] key=j item=v{/yun}
                        <option value="{yun:}$v{/yun}">{yun:}$city_name[$v]{/yun}</option>
                      {yun:}/foreach{/yun}
                    </select>
                  </div>
  
                  <div class="layui-input-inline" style="width:120px">
                    <select name="three_cityid" lay-filter="three_cityid" id="three_cityid">
                      <option value="">请选择</option> 
                      {yun:}foreach   from=$city_type[$row.cityid] key=j item=v{/yun}
                        <option value="{yun:}$v{/yun}">{yun:}$city_name[$v]{/yun}</option>
                      {yun:}/foreach{/yun}
                    </select>
                  </div>
                  {yun:}/if{/yun}
        				</div>
              </li>
              <input type="hidden" id="cionly" name="cionly" value="{yun:}if empty($city_type){/yun}1{yun:}/if{/yun}">
              
              <li class="recommend_personnel_list">
                <div class="recommend_personnel_name"><b>*</b> 期望薪资：</div>
                <div class="recommend_personnel_word">
                  <input id="minsalary" name="minsalary"  onkeyup="this.value=this.value.replace(/[^0-9]/g,'')" class="recommend_personnel_wages" type="text" size="6" placeholder="最低薪资" value="" style="display:inline-block;"> 
                  <span class="recommend_middle_line">-</span> 
                  <input id="maxsalary" name="maxsalary" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')" class="recommend_personnel_wages" type="text" size="6" placeholder="最高薪资" value="" style="display:inline-block;">
                  <span class="recommend_xz_dw">万/年</span>
                </div>
              </li>
              
              <li class="recommend_personnel_list">
                <div class="recommend_personnel_name"><b>*</b> 工作性质：</div>
                <div class="recommend_personnel_word">
        					<div class="recommend_personnel_box">
        					  <div class="layui-form-item">
                      <div class="layui-input-inline" style="width:300px">
                        <select name="type" lay-filter="" id="type">
                          <option value="">请选择工作性质</option>
                          {yun:}foreach from=$userdata.user_type key=j item=v{/yun}
                          <option value="{yun:}$v{/yun}">{yun:}$userclass_name[$v]{/yun}</option>
                          {yun:}/foreach{/yun}
                        </select>
                      </div>
                    </div>
        					</div>
        				</div>
              </li>
              
              <li class="recommend_personnel_list">
                <div class="recommend_personnel_name"><b>*</b> 手机号码：</div>
                <div class="recommend_personnel_word">
        					<div class="recommend_personnel_box">
        					 <input name="telphone" id="telphone" type="text" class="recommend_personnel_max" placeholder="请输入推荐人才的联系方式" value="" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')">
                             
        					</div>
        				</div>
              </li>
              
              <li class="recommend_personnel_list">
                <div class="recommend_personnel_name"> 联系邮箱：</div>
                <div class="recommend_personnel_word">
        					<div class="recommend_personnel_box">
        					 <input name="email" id="email" type="text" class="recommend_personnel_max" placeholder="请输入推荐人才的联系邮箱" value="">
                             
        					</div>
        				</div>
              </li>
              <li class="recommend_personnel_list">
                <div class="recommend_personnel_name"><b>*</b> 到岗时间：</div>
                <div class="recommend_personnel_word">
                  <div class="recommend_personnel_box">
                     <div class="layui-form-item">
                      <div class="layui-input-inline" style="width:300px">
                        <select name="report" lay-filter="" id="report">
                          <option value="">请选择到岗时间</option>
                          {yun:}foreach from=$userdata.user_report key=j item=v{/yun}
                            <option value="{yun:}$v{/yun}">{yun:}$userclass_name[$v]{/yun}</option>
                          {yun:}/foreach{/yun}
                        </select>
                      </div>
                     </div>
                  </div>
                </div>
              </li>
              
              <li class="recommend_personnel_list">
                <div class="recommend_personnel_name"><b>*</b> 推荐理由：</div>
                <div class="recommend_personnel_word">
        					<textarea rows="5" cols="50" name="content" placeholder="说说人才的优势~" id="content" class="recommend_infor_textarea"></textarea>
        				</div>
              </li>
              
              <li class="recommend_personnel_list">
                <div class="recommend_personnel_empty">&nbsp;</div>
                <div class="recommend_personnel_btn">
                  <input name="submit" type="submit" value="立即推荐" class="recommend_personnel_apply">
                </div>
              </li>
           </ul>
           <div class="recommend_border_right"></div>
         </div>
         </form>
         
         <div class="recommend_personnel_introduce">
           <div class="recommend_personnel_introduce_first">
             <div class="recommend_introduce_first_txt">推荐职位：</div>
            <div class="recommend_personnel_page_tit"><a href="{yun:}url m=lietou c=jobshow id=$jobinfo.id{/yun}">{yun:}$jobinfo.job_name{/yun}</a></div>
            <div class="recommend_personnel_page_company">{yun:}$jobinfo.com_name{/yun}</div>
            
            <div class="recommend_introduce_infor_list">
            <ul>
            <li>年薪：{yun:}if $jobinfo.minsalary>0 && $jobinfo.maxsalary>0{/yun}￥{yun:}$jobinfo.minsalary{/yun}-{yun:}$jobinfo.maxsalary{/yun}万{yun:}else if $jobinfo.minsalary>0{/yun}￥{yun:}$jobinfo.minsalary{/yun}万以上{yun:}else{/yun}面议{yun:}/if{/yun}</li>
            <li>学历要求：{yun:}$jobinfo.edu_n{/yun}</li>
            <li>工作地点：{yun:}$jobinfo.provinceid_n{/yun} {yun:}$jobinfo.cityid_n{/yun} {yun:}$jobinfo.three_cityid_n{/yun}</li>
            </ul>
            </div>
           </div> 
             
           <div class="recommend_personnel_introduce_second">
            <div class="recommend_introduce_first_txt">职位描述：</div>
            <div class="recommend_introduce_second_content">
              {yun:}$jobinfo.job_desc{/yun}
            </div>
           </div>  
         
         </div>
        </div>

</div>
      </div>
</div>


<script>var webname = "{yun:}$config.sy_webname{/yun}";var weburl="{yun:}$config.sy_weburl{/yun}";</script>
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<link href="{yun:}$config.sy_weburl{/yun}/js/layui/css/layui.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" /><script src="{yun:}$config.sy_weburl{/yun}/js/layui/layui.js?v={yun:}$config.cachecode{/yun}"></script><script src="{yun:}$config.sy_weburl{/yun}/js/layui/phpyun_layer.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/public.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<script src="{yun:}$lietou_style{/yun}/js/public_lt.js?v={yun:}$config.cachecode{/yun}" type="text/javascript"></script>
<link rel="stylesheet" href="{yun:}$style{/yun}/style/class.public.css?v={yun:}$config.cachecode{/yun}" type="text/css" />
<link rel="stylesheet" href="{yun:}$style{/yun}/style/newclass.public.css?v={yun:}$config.cachecode{/yun}" type="text/css" />
<script src="{yun:}$config.sy_weburl{/yun}/data/plus/city.cache.js?v={yun:}$config.cachecode{/yun}" type="text/javascript"></script>
<script language=javascript src='{yun:}$config.sy_weburl{/yun}/js/city.js?v={yun:}$config.cachecode{/yun}'></script>
<script src="{yun:}$config.sy_weburl{/yun}/data/plus/job.cache.js?v={yun:}$config.cachecode{/yun}" type="text/javascript"></script> 
<script src="{yun:}$config.sy_weburl{/yun}/data/plus/jobparent.cache.js?v={yun:}$config.cachecode{/yun}" type="text/javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/class.public.js?v={yun:}$config.cachecode{/yun}" type="text/javascript"></script> 
<script src="{yun:}$config.sy_weburl{/yun}/js/newclass.public.js?v={yun:}$config.cachecode{/yun}" type="text/javascript"></script> 
<link href="{yun:}$config.sy_weburl{/yun}/js/layui/css/formSelects-v4.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<script src="{yun:}$config.sy_weburl{/yun}/js/layui/formSelects-v4.js?v={yun:}$config.cachecode{/yun}"></script>
<script type="text/javascript">
layui.use(['form','laydate'], function(){
    var form = layui.form
        ,formSelects = layui.formSelects
        ,laydate = layui.laydate
        ,$ = layui.$;
    laydate.render({
		elem: '#birthday'
		,max: -5113,
	});
    formSelects.btns('jobclass_search', []);

    formSelects.on('jobclass_search', function(id, vals, val, isAdd, isDisabled){
        var jobvalue = [];
        vals.forEach(function(item,index){
          jobvalue.push(item.value);
        })
        $('#job').val(jobvalue.join(','));
    }, true);

    jobSearchReset();

    formSelects.maxTips('jobclass_search', function(id, vals, val, max){
        layer.msg('最多只能选择5个！', 2, 8);
    });
});
function jobSearchReset(){

  var formSelects = layui.formSelects, 
    jobclassArr= $("#job").val()!='' ? $("#job").val().split(",") : [],
        jarr = [];

    for(var i=0;i<jobclassArr.length;i++){
      jarr.push({"name":jn[jobclassArr[i]],"value":jobclassArr[i],"selected":'selected'});
    }
    formSelects.data('jobclass_search', 'local', {
        arr: jarr
    });
}

</script> 
{yun:}include file="$tplstyle/public_search/index_search.htm"{/yun}
{yun:}include file="$lietoustyle/footer.htm"{/yun}