{yun:}include file="$wapstyle/member/header.htm"{/yun}
<div id="yunvue" class="none">
<div class="issue_post_body">
        
    <div class="preach_interview_card" v-for="(item, infokey) in list" :key="infokey" @click="pageTo(item.wapxjh_url)">
        <div class="preach_card_title">
            <div class="preach_title_name">{{item.xjhname}}</div>
            <div class="preach_title_state" v-if="item.livestatus==1">{{item.livestatus_n}}</div>
            <div class="preach_title_ing" v-if="item.livestatus==3">{{item.livestatus_n}}</div>
            <div class="preach_title_over" v-if="item.livestatus==2">{{item.livestatus_n}}</div>
        </div>
        <div class="preach_card_subscribe">
            <div class="preach_card_q">预约时间</div>
            <div class="preach_card_a">{{item.ctime_n}}</div>
        </div>
        <div class="preach_card_broadcast">
            <div class="preach_card_timebox">
                <div class="preach_card_q">开播时间</div>
            <div class="preach_card_a">{{item.stime_n}}</div>
            </div>            
            <div class="preach_card_icon" @click.stop="del(item.id, infokey)">
                <img src="{yun:}$wap_style{/yun}/images/resume_del.png" alt="" width="100%" height="100%">
            </div>
               
        </div>
    </div>
    <div v-if="count ==2">
    <van-pagination v-model="page" :total-items="total" :items-per-page="limit" force-ellipses @change="pageChange" /> 
    </div>
    <div class="wap_member_no" v-show="islook&&count==0">
			暂无预约记录<div><a class="wap_member_no_submit" href="{yun:}url m=wap c=xjhlive{/yun}">搜索直播</a></div>
		</div>     
 </div>
</div>
<script>  
  var currentPage = parseInt('{yun:}$smarty.get.page{/yun}');   
      new Vue({
        el: '#yunvue',
        data: {
          list: [],
          limit:20,       
          total:0,
          page: currentPage ? currentPage : 1,
          islook :false
        },
        computed: {
          count(){
            if(this.total > this.limit){
              return 2;
            }else if(this.list.length==0){
              return 0;
            }else{
                return 1;
            }
          }
        },
        created() {   
         this.getyy();
        },
        methods:{
          getyy:function(){
            showLoading();
            var that = this;
            var paramer = {};
                paramer['page'] = that.page;
                paramer['limit'] = that.limit;     
            $.post('{yun:}url d=wxapp h=user m=xjhlive c=index{/yun}',paramer,function(res){
              hideLoading();      
             
              that.list = res.data.list;
              that.total = res.total;
              that.page = currentPage ? currentPage : 1;
              that.islook = true 
               $("#yunvue").css('display', 'block');
            },'json');
          },     
          del:function(id,key){
              let that = this
              let param = {
                id: id
              };
             
             showConfirm('确定删除', () => {
                showLoading('删除中...')
                $.post('{yun:}url d=wxapp h=user m=xjhlive c=delXjhLiveyy{/yun}', param, function(data){
                  hideLoading();
                  if (data.error == 1) {
                    showToast(data.msg,2, function() {
                      that.list.splice(key, 1);   
                    });
                  } else {
                    showToast(data.msg);
                  }
                });
             });   
             
          },
           pageChange:function(e){
          
            location.href = 'index.php?c=xjhlive&page='+e;
          },
          pageTo:function(url){
              window.location.href = url;
          }
        } 
      });
</script>
</body>
</html>