{yun:}include file="$comstyle/header.htm"{/yun}
<div class="w1000">
  <div class="admin_mainbody"> {yun:}include file="$comstyle/left.htm"{/yun}
    <div class="com_tit"> <span class="com_tit_span">培训管理</span> </div>
      <div class="new_com_tit">
        <div class="job_list_tit">
         <ul class="">
     <li {yun:}if $smarty.get.c=="baoming_subject"{/yun}class="job_list_tit_cur"{yun:}/if{/yun}><a href="index.php?c=baoming_subject">报名课程</a></li>
         <li {yun:}if $smarty.get.c=="fav_subject"{/yun}class="job_list_tit_cur"{yun:}/if{/yun}><a href="index.php?c=fav_subject">收藏课程</a></li>
       <li {yun:}if $smarty.get.c=="atn_teacher"{/yun}  class="job_list_tit_cur"{yun:}/if{/yun} ><a href="index.php?c=atn_teacher">关注讲师</a></li> 
          <li {yun:}if $smarty.get.c=="fav_agency"{/yun}  class="job_list_tit_cur"{yun:}/if{/yun} ><a href="index.php?c=fav_agency">关注机构</a></li> 
         <li {yun:}if $smarty.get.c=="subject_zixun"{/yun}  class="job_list_tit_cur"{yun:}/if{/yun} ><a href="index.php?c=subject_zixun">培训留言</a></li> 
         </ul>
         </div></div>
            <div class=right_box>
      <div class=admincont_box> 
      <div class="train_class_s">
	  {yun:}if $rows{/yun}
	  <ul>
	  {yun:}foreach from=$rows item=v{/yun}           
          <li>
           <div class="train_class_img fl" style="width:90px;"><a href="{yun:}url m=train c=teamshow id=$v.sc_uid nid=$v.tid{/yun}" target="_blank" >
           <img style="width:70px;height:70px;" src="{yun:}$v.pic{/yun}" onerror="showImgDelay(this,'{yun:}$config.sy_ossurl{/yun}/{yun:}$config.sy_pxteacher_icon{/yun}',2);"/></a></div>
                   <div class="train_class_tra fl">
                   <div class="train_class_tit fl" style="padding-top:0;"><a href="{yun:}url m=train c=teamshow id=$v.sc_uid nid=$v.tid{/yun}" target="_blank" class="List_Title_span_com">{yun:}$v.teacher{/yun}</a>        
				<div class="train_class_cit fl" style="font-size:14px;">{yun:}$v.time|date_format:"%Y-%m-%d"{/yun}</div>
				</div>
                   <div class="train_class_mm fl">
                   {yun:}if $v.snum>0{/yun}
                    <span class="fav_sub fl"> {yun:}$v.sname{/yun} 
                    </span>
                    <a class="fav_sub_more fl" href="{yun:}url m=train c=mysubject id=$v.sc_uid{/yun}" target="_blank">共{yun:}$v.snum{/yun}门课程>></a>
                    {yun:}else{/yun} 暂无课程 {yun:}/if{/yun}
                    &nbsp; </div>
                   <div class="train_class_qx fl"><a href="javascript:void(0)" onclick="layer_del('您确定要取消关注？', 'index.php?c=atn_teacher&act=del&tid={yun:}$v.tid{/yun}&id={yun:}$v.id{/yun}');" class="cblue">取消关注</a></div>
                   </div>
               </li>
               
          
		   {yun:}/foreach{/yun}
		    </ul>
		   {yun:}else{/yun}
      </div>       
            <div class="com_msg_no fl">
				<p>亲爱的用户，目前您未关注任何培训讲师！</p>
			    <a href="{yun:}url m=train c=teacher{/yun}" target="_blank" class="com_msg_no_bth com_submit">立即搜索我感兴趣的培训讲师>></a>
			</div>
			{yun:}/if{/yun}
            <div class="clear"></div>
            <div class="diggg">{yun:}$pagenav{/yun}</div>
        </div>
    </div>         
         
      
    </div>
  </div> 
{yun:}include file="$comstyle/footer.htm"{/yun}