{yun:}include file="$comstyle/header.htm"{/yun}
<div class="w1000">
	<div class="admin_mainbody">
 		{yun:}include file="$comstyle/left.htm"{/yun}
    	
    	<div class="com_tit"><span class="com_tit_span">视频面试预约</span></div>
        
        <div class='right_box'>
        	<div class='admincont_box'>

                <div class='com_body'>
                	
                	<div class="com_new_tip mt20">
						<span class="com_new_tip_h">温馨小提示</span>若遇虚假简历,可在简历详细页举报给平台，平台会对违规简历进行严肃处理
					</div>
                    
                    <div class="admin_textbox_04">
                 		 
          				<!-- 收到简历列表 -->
                      	<iframe id="supportiframe" name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe> 

                      	<form class='layui-form' action="index.php" method='get' id="MyForm1"> 
	                       	<input name='c' value='spview' type='hidden'>
							<input name='act' value='spresume' type='hidden'>
	                       	<input name='sid' value='{yun:}$sid{/yun}' type='hidden'>
	                       	<div class="com_received_resume_selectbox">
	                       		<span class="hr_subMetx_span fltL">预约职位：</span>
	                       		<div class="com_received_resume_tdjob">
	                       			
	                       			<div class="layui-unselect layui-form-select">
	                       				<div class="layui-form-item">
											<div class="layui-input-block">
										      	<select name="jobid" lay-filter="sp_submit">
										      		<option value=''>预约职位</option>
										      		{yun:}foreach from = $JobList item=v {/yun}
										        		<option value='{yun:}$v.id{/yun}' title='{yun:}$v.name{/yun}' {yun:}if $cjobid == $v.id{/yun}selected{yun:}/if{/yun}>{yun:}$v.name{/yun}</option>
										        	{yun:}/foreach{/yun}
										      	</select>
											</div>
										</div>
	                       			</div>
	                       		</div>
	                       		  
	                     	</div> 
	                 			
	                		<div class="clear"></div>
	                      
	                 		     
                      	</form>

                      	<form action='index.php?c=spview&act=delSub' target="supportiframe" method="post" id='myform' class='layui-form'>
							<table class="com_received_resume" >
								{yun:}if $rows{/yun}
								<tr>
									<th width="25" align="center"></th>
									<th>基本情况</th>
									<th>预约职位</th>
									<th>面试状态</th>
									<th>操作</th>
								</tr>
								{yun:}/if{/yun}
								{yun:}foreach item=v from=$rows{/yun}
								<tr>
									<td align="center">
										<input type="checkbox" name="delid[]" value="{yun:}$v.id{/yun}" class="com_job_list_check" lay-skin="primary" />
									</td>
									<td>
										<div>
											<a href="{yun:}url m=resume c=show id=$v.eid{/yun}" target="_blank" class="com_received_username">{yun:}$v.name{/yun}</a>
										</div>
										
										<div class="com_received_userinfo">
											{yun:}if $v.sex{/yun}{yun:}$v.sex{/yun}{yun:}else{/yun}保密{yun:}/if{/yun}
											<span class="com_received_userinfo_line">|</span>{yun:}$v.age{/yun}岁
											<span class="com_received_userinfo_line">|</span>{yun:}$v.exp{/yun}经验
											<span class="com_received_userinfo_line">|</span>{yun:}$v.edu{/yun}学历
										</div>
									</td>
									<td>
										<div>
											<a href="{yun:}url m=job c=comapply id=$v.jobid{/yun}" target="_blank" class="com_received_tdjob">{yun:}$v.jobname{/yun}</a>
										</div>
										<div class="com_received_tdtime">预约时间：{yun:}$v.ctime|date_format:'%Y-%m-%d'{/yun}</div>
									</td>
									
									<td align="center">
										<div>
											{yun:}if $v.status=='0'{/yun}
												<span class="com_received_zt com_received_zt_dcl"><i class="com_received_zt_icon"></i>未面试</span>
											{yun:}elseif $v.status=='1'{/yun}
												<span class="com_received_zt com_received_zt_yck"><i class="com_received_zt_icon"></i>正在面试</span>
												<div class="com_received_tdtime">开始时间：{yun:}$v.rtime|date_format:'%Y-%m-%d'{/yun}</div>
											{yun:}elseif $v.status=='2'{/yun}
												<span class="com_received_zt com_received_zt_dtz"><i class="com_received_zt_icon"></i>已面试</span>
												<div class="com_received_tdtime">开始时间：{yun:}$v.rtime|date_format:'%Y-%m-%d'{/yun}</div>
											{yun:}/if{/yun}
										</div>
									</td>
									
									<td width="153">
										<div class="com_received_username_cz">
										
											<div class="com_received_username_bjbox"  >
												<span class="com_received_username_bj"><a href="javascript:;" onclick="remark('{yun:}$v.id{/yun}','{yun:}$v.content{/yun}');">备注</a></span>
											</div>
											
											<div class="com_received_username_bthr ">
												<a href="javascript:void(0);" onclick="layer_del('确定要删除该条职位申请吗？', 'index.php?c=spview&act=delSub&sid={yun:}$smarty.get.sid{/yun}&delid={yun:}$v.id{/yun}');" class="com_received_username_bj">删除</a>
											</div>
										</div>
									</td>
									
								</tr>
								
								{yun:}/foreach{/yun}

								{yun:}if $rows{/yun}
								<tr>
									<td align="center"><input type="checkbox"  lay-filter='allcom' lay-skin="primary" /></td>
									
									<td colspan="5">全选 
										<input class="c_btn_02" type="button" name="subdel" value="批量删除" onclick="return really('delid[]');">
										<div class="diggg">{yun:}$pagenav{/yun}</div>
									</td>
								</tr>
                                {yun:}else{/yun}
                                <tr>
									<td colspan="7" class="table_end">
										<div class="msg_no">
											<p>亲爱的用户，目前您还没有用户预约。</p>
											<a href="{yun:}url m=resume{/yun}" class="com_msg_no_bth com_submit">我要主动找人才</a>
										</div>
									</td>
								</tr>
								{yun:}/if{/yun}
							</table>          
	               		</form>

						<div class="clear"></div>
						<div class="infoboxp22" id="infobox" style="display:none; ">
							<form action="index.php?c=spview&act=setContent" method="post" id="formstatus" target="supportiframe">
								<input name="id" value="0" type="hidden">
								<div class="bz_textarea" >
								  <textarea id="content"  name="content" class="bz_textarea_text"></textarea>
								</div>
								<div class="bz_textarea_bot" >
								  <button type="submit" name='submit' value='1' class="com_pop_bth_qd" >确认</button>
								  &nbsp;&nbsp;
								  <button type="button" id='zxxCancelBtn'  class="com_pop_bth_qx">取消</button>
								</div>
							  </form>
						</div>

               		</div>
           		</div>
       		</div>
   		</div>
	</div>
</div>

<script>

	layui.use(['form'], function(){
	    var form = layui.form,
			$ = layui.$; 
	    
		
 		form.on('select(sp_submit)', function(data){
			$('#MyForm1').submit();
 		})

 	    form.on('checkbox(allcom)', function (data) {
	        $("input[name='delid[]']").each(function () {
	            this.checked = data.elem.checked;
	        });
	        form.render('checkbox');
	 	});
	});

	function remark(id,content){
		$("input[name=id]").val(id);
		$("#content").val(content);
		$.layer({
			type : 1,
			title :'备注', 
			closeBtn : [0 , true],
			border : [10 , 0.3 , '#000', true],
			area : ['300px','200px'],
			page : {dom :"#infobox"}
		});
	}
	
	$(document).ready(function(){ 
		$('#zxxCancelBtn').click(function(){
			layer.closeAll();
		}); 
	}); 
		 
</script>

{yun:}include file="$comstyle/yqms.htm"{/yun}
{yun:}include file="$comstyle/footer.htm"{/yun}