<script>
    var weburl = '{yun:}$config.sy_weburl{/yun}';
    var hbids = [];
    '{yun:}foreach from=$hbids item=v{/yun}'
    hbids.push('{yun:}$v{/yun}')
    '{yun:}/foreach{/yun}'

    function getComHb(hb) {

        layer.closeAll();

        const hbNum = '{yun:}$hbNum{/yun}';
        const id = '{yun:}$hb_uid{/yun}';
        const url = weburl + '/index.php?m=ajax&c=getComHb&uid=' + id + '&hb=' + hbids[hb];
        if (hb < (parseInt(hbNum) - 1)) {
            var next = hb + 1;
        } else {
            var next = 0;
        }

        const loading = layer.load('生成中...', 0);

        var image = new Image();
        image.src = url;
        image.onload = function() {
            layer.closeAll();

            layer.open({
                type: 1,
                title: false,
                content: '<div class="hb_tc"><img src="' + image.src + '" style="max-width: 100%;"><div class="hb_tc_bth"><a href="javascript:;" onclick="getComHb(' + next + ');" class="hb_tc_hyz">换一张</a><a href="javascript:;" onclick="downWhb(' + hb + ');" class="hb_tc_xz">下载海报</a></div></div>',
                area: ['360px', 'auto'],
                offset: '55px',
                closeBtn: 0,
                shadeClose: true
            });
        };
    }

    function downWhb(hb) {
        const loading = layer.load('下载中...', 0);
        const id = '{yun:}$hb_uid{/yun}';
        const url   =   weburl + '/index.php?m=ajax&c=getComHb&uid=' + id + '&hb=' +  + hbids[hb];
        var image = new Image();
        image.src = url;
        image.onload = function() {
            layer.closeAll();
            var a = document.createElement('a');          // 创建一个a节点插入的document
            var event = new MouseEvent('click')           // 模拟鼠标click点击事件
            a.download = 'whb' + id + '_' +hbids[hb];     // 设置a节点的download属性值
            a.href = url;                                 // 将图片的src赋值给a节点的href
            a.dispatchEvent(event);
        }
    }

</script>
